<a id="tile_amsteltram" href="http://amstelveenlijn.nl/nieuws/2018/amsteltram-nieuwe-naam-voor-tram-tussen-uithoorn-en-amsterdam-zuid/">
    <span>Amstelveenlijn is onderdeel van de Amsteltram</span>
    <svg width="143px" height="21px" viewBox="0 0 143 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="amsteltram">
                <path d="M113.14,17.34 C113.582312,17.36753 114.016413,17.2115218 114.340016,16.9087358 C114.663619,16.6059499 114.848103,16.183164 114.85,15.74 L114.85,9 C114.434804,8.85922403 113.998331,8.79155379 113.56,8.8 C111.74,8.8 111.13,10.98 111.13,13.39 C111.13,15.57 111.52,17.34 113.14,17.34 Z" id="Shape"></path>
                <polygon id="Shape" points="9.92 10.34 8.73 6.15 8.62 6.15 6.69 12.79 10.61 12.79"></polygon>
                <path d="M70.11,8.79 C68.71,8.79 67.78,10.16 67.7,12.1 C69.21,12.01 71.2,11.31 71.2,9.94 C71.2481595,9.63351074 71.1513352,9.32202756 70.9379082,9.09685227 C70.7244811,8.87167698 70.4186279,8.75831687 70.11,8.79 Z" id="Shape"></path>
                <path d="M111.85,20.69 C113.285448,20.797426 114.667915,20.1252873 115.47,18.93 L115.63,18.93 L115.83,20.24 L119.83,20.24 L119.52,17.24 L119.52,14.24 L109.57,20.24 C110.290863,20.5455363 111.067108,20.6987426 111.85,20.69 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#FFCB00" fill-rule="nonzero" points="101.64 13.3 96.96 18.76 96.96 20.27 101.64 20.27"></polygon>
                <path d="M106.48,13.75 C106.445606,15.053347 106.652413,16.3518249 107.09,17.58 L110.68,6.13 C107.86,7.34 106.48,10.08 106.48,13.75 Z" id="Shape" fill="#FFCB00" fill-rule="nonzero"></path>
                <path d="M105.69,9.94 L106.04,8.17 L104.81,9.61 C105.114731,9.68681074 105.409903,9.79750028 105.69,9.94 Z" id="Shape" fill="#FFCB00" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#006F9D" fill-rule="nonzero" points="122.41 20.27 127.09 20.27 127.09 19.35 122.41 14.25"></polygon>
                <path d="M107.09,17.58 C107.505089,18.7721327 108.395783,19.7388616 109.55,20.25 L119.5,14.25 L119.5,10.57 L115.92,5.69 C115.308279,5.58849231 114.689976,5.53167532 114.07,5.52 C112.910787,5.49724711 111.758568,5.70457857 110.68,6.13 L107.09,17.58 Z M113.56,8.82 C113.998331,8.81155379 114.434804,8.87922403 114.85,9.02 L114.85,15.76 C114.848103,16.203164 114.663619,16.6259499 114.340016,16.9287358 C114.016413,17.2315218 113.582312,17.38753 113.14,17.36 C111.52,17.36 111.14,15.57 111.14,13.36 C111.13,11 111.74,8.82 113.56,8.82 Z" id="Shape" fill="#009AC8" fill-rule="nonzero"></path>
                <path d="M119.5,6.64 C118.345334,6.18116334 117.145302,5.84595895 115.92,5.64 L119.5,10.52 L119.5,6.64 Z" id="Shape" fill="#009AC8" fill-rule="nonzero"></path>
                <path d="M101.63,11.51 C101.61017,10.9737335 101.814509,10.4534226 102.193966,10.0739658 C102.573423,9.69450895 103.093734,9.49017012 103.63,9.51 C104.011717,9.50866288 104.391851,9.55912312 104.76,9.66 L105.99,8.22 L106.4,6.1 C105.675813,5.75268826 104.883162,5.57160855 104.08,5.57 C102.568819,5.59018185 101.229204,6.54705029 100.72,7.97 L100.35,5.97 L96.54,5.97 L96.91,8.71 L96.91,18.79 L101.58,13.34 L101.63,11.51 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
                <path d="M95.36,19.68 L94.36,16.74 C93.9027368,17.0150918 93.3832554,17.1699041 92.85,17.19 C91.9,17.19 91.17,16.8 91.17,15.26 L91.17,9.6 L94.67,9.6 L94.67,5.94 L91.17,5.94 L91.17,0.81 L86.46,0.81 L86.46,4.69 L91.74,20.69 C93.0115047,20.6570858 94.2551166,20.3101112 95.36,19.68 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
                <path d="M91.41,20.72 L91.74,20.72 L86.46,4.72 L86.46,15.18 C86.46,17.95 86.65,20.72 91.41,20.72 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
                <path d="M81.64,20.72 C83.010761,20.7280139 84.3605871,20.3836705 85.56,19.72 L84.56,16.62 C84.0541881,16.8767095 83.5046632,17.0361396 82.94,17.09 C82.04,17.09 81.74,16.5 81.74,15.24 L81.74,0.81 L81.05,0.81 L77.05,5.86 L77.05,15.57 C77.05,18.26 77.3,20.72 81.64,20.72 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
                <path d="M75.26,9.88 C75.2579947,9.38195044 75.1838927,8.88681472 75.04,8.41 L70.11,14.66 C72.59,14.18 75.26,12.98 75.26,9.88 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
                <path d="M70.02,20.72 C71.9349617,20.750878 73.8131257,20.1923162 75.4,19.12 L74.17,16.04 C73.1502121,16.7575387 71.9458055,17.1671064 70.7,17.22 C69.9642297,17.2431239 69.2478761,16.9816548 68.7,16.49 L66.1,19.78 C67.2991278,20.4381604 68.6527934,20.7627639 70.02,20.72 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
                <path d="M58.69,20.71 L54.05,16.09 C54.14,18.47 54.75,20.6 58.69,20.71 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
                <path d="M52.08,15.93 C52.08,13.01 49.83,12.1 47.78,11.43 L48.16,20.53 C50.4672005,20.2551953 52.1746285,18.2515808 52.08,15.93 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
                <path d="M50.28,10.34 L51.84,8.34 L48.84,9.39 C49.3487867,9.66071194 49.8309197,9.97878578 50.28,10.34 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
                <path d="M70.36,5.52 C65.57,5.52 63.16,9.44 63.16,13.52 C63.16,16.35 64.03,18.61 66.06,19.8 L68.66,16.51 C68.2315292,16.0934178 67.9686186,15.5356208 67.92,14.94 C68.6548008,14.9001616 69.3862971,14.8133173 70.11,14.68 L75.04,8.43 C74.47,6.48 72.75,5.52 70.36,5.52 Z M67.7,12.1 C67.78,10.16 68.7,8.79 70.11,8.79 C70.4186279,8.75831687 70.7244811,8.87167698 70.9379082,9.09685227 C71.1513352,9.32202756 71.2481595,9.63351074 71.2,9.94 C71.2,11.34 69.21,12.01 67.7,12.1 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#ED7203" fill-rule="nonzero" points="77.06 0.81 77.06 5.86 81.05 0.81"></polygon>
                <path d="M61.96,16.74 C61.502212,17.0139007 60.9830425,17.1686201 60.45,17.19 C59.45,17.19 58.77,16.8 58.77,15.26 L58.77,9.6 L62.27,9.6 L62.27,5.94 L58.77,5.94 L54.03,7.59 L54.03,15.17 C54.03,15.48 54.03,15.8 54.03,16.11 L58.67,20.73 L58.97,20.73 C60.3682911,20.75614 61.7485149,20.411084 62.97,19.73 L61.96,16.74 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
                <path d="M48.84,9.39 L51.84,8.34 L52.41,7.62 C51.3028712,6.62490972 49.9432188,5.95373272 48.48,5.68 L47.86,8.99 C48.2009699,9.08517989 48.5298131,9.2194016 48.84,9.39 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#E74E0F" fill-rule="nonzero" points="58.77 0.81 54.04 0.81 54.04 7.57 58.77 5.92"></polygon>
                <path d="M47.04,8.85 C47.3187513,8.8558734 47.5950905,8.90305327 47.86,8.99 L48.48,5.68 C47.9194074,5.57487168 47.3503633,5.52131459 46.78,5.52 C45.0463728,5.41196593 43.3541525,6.07859819 42.16,7.34 L46.16,9.07 C46.4252981,8.91168011 46.73141,8.83515214 47.04,8.85 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
                <path d="M45.75,9.86 C45.7321236,9.55666747 45.8719999,9.26557371 46.12,9.09 L42.12,7.36 C41.3005876,8.38647065 40.9717081,9.72025981 41.22,11.01 L45.75,10.15 C45.7346687,10.0539412 45.7346687,9.95605878 45.75,9.86 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
                <path d="M34.72,5.52 C33.2102056,5.43951662 31.7632255,6.13286123 30.88,7.36 C30.0835024,6.10777244 28.6591726,5.39945706 27.18,5.52 C25.6601675,5.46667526 24.2187781,6.19491654 23.36,7.45 L23.05,5.94 L19.15,5.94 L19.48,8.82 L19.48,15.17 L24.16,14.27 L24.16,11.2 C24.16,9.97 24.58,9.1 25.7,9.1 C26.82,9.1 26.96,10.1 26.96,11.28 L26.96,13.74 L31.64,12.85 L31.64,11.17 C31.64,9.97 32.08,9.1 33.18,9.1 C34.28,9.1 34.46,10.02 34.46,11.28 L34.46,12.28 L39.14,11.39 L39.14,10.39 C39.14,7.06 37.46,5.52 34.72,5.52 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="26.96 20.27 31.64 20.27 31.64 18.61 26.96 17.54"></polygon>
                <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="34.47 20.27 38.89 20.27 34.47 19.26"></polygon>
                <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="19.49 20.27 24.16 20.27 24.16 16.9 19.49 15.83"></polygon>
                <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="12.77 20.27 17.89 20.27 16.48 16.2 12.19 18.43"></polygon>
                <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="10.61 12.76 8.31 12.76 5.99 16.29 11.51 16.29 12.19 18.43 16.48 16.2 12.89 5.8 9.92 10.31"></polygon>
                <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="4.62 20.27 5.78 16.62 3.38 20.27"></polygon>
                <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="5.77 16.62 5.88 16.3 5.99 16.3 8.36 12.77 6.69 12.77 8.62 6.13 8.73 6.13 9.92 10.34 12.92 5.82 11.49 1.67 6.04 1.67 0.04 20.29 3.36 20.29"></polygon>
                <path d="M133.81,7.34 C133.013502,6.08777244 131.589173,5.37945706 130.11,5.5 C128.57494,5.4268184 127.11249,6.15804341 126.25,7.43 L125.94,5.92 L122.07,5.92 L122.41,8.8 L122.41,12.72 L127.09,11 C127.14,9.87 127.56,9.08 128.63,9.08 C129.205866,9.032575 129.717047,9.44680813 129.79,10.02 L140.27,6.18 C139.47891,5.70050749 138.564361,5.46404601 137.64,5.5 C136.133676,5.42298472 134.691266,6.11594385 133.81,7.34 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
                <path d="M129.89,11.28 L129.89,20.28 L134.56,20.28 L134.56,11.18 C134.56,9.98 135.01,9.11 136.1,9.11 C137.19,9.11 137.39,10.03 137.39,11.29 L137.39,20.29 L142.07,20.29 L142.07,10.49 C142.07,8.37 141.42,6.98 140.27,6.22 L129.79,10.06 C129.866573,10.4619603 129.900096,10.8709358 129.89,11.28 Z" id="Shape" fill="#005578" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#005578" fill-rule="nonzero" points="122.41 14.26 127.09 19.35 127.09 11.02 122.41 12.74"></polygon>
                <path d="M41.91,15.85 L40.71,19.15 C41.8602426,19.8737049 43.1467915,20.353608 44.49,20.56 L45.49,17.25 C44.219321,17.0123502 43.0047999,16.5373978 41.91,15.85 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
                <path d="M45.79,10.15 L41.26,11.01 C41.61,13.41 43.6,14.18 45.61,14.81 L46.16,14.99 L47.27,11.26 C46.49,10.98 45.93,10.68 45.79,10.15 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
                <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="34.47 19.26 38.89 20.27 39.14 20.27 39.14 11.41 34.47 12.3"></polygon>
                <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="26.96 17.54 31.64 18.61 31.64 12.84 26.96 13.74"></polygon>
                <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="19.49 15.83 24.16 16.9 24.16 14.27 19.49 15.16"></polygon>
                <path d="M47.78,11.43 L47.68,11.43 L47.27,11.29 L46.16,15.02 C46.89,15.28 47.43,15.59 47.43,16.27 C47.43,16.95 46.92,17.33 46.08,17.33 C45.8790945,17.3270213 45.6786274,17.3103157 45.48,17.28 L44.48,20.59 C45.0977709,20.6954655 45.7232921,20.748986 46.35,20.75 C46.9547867,20.7459858 47.5577038,20.6823446 48.15,20.56 L47.78,11.43 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            </g>
        </g>
    </svg>
</a>