<!-- clip path op de overlay is cross browser -->
<!-- clip path op de image voor firefox, chrome en safari -->

<a href="{{removeDomain item.url}}" class="block">

		{{#if item.main_image}}

            {{> responsive-image format='square' size='third' title=item.main_image.alttext external_id=item.main_image.external_id filename=item.main_image.filename }}

		{{/if}}

		<article class="overlay">

			<svg width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
			    <defs>
			        <clipPath id="overlay-clip-path" clipPathUnits="objectBoundingBox">
			            <polygon points="0.5 0, 1 0.1, 1 1, 0.5 1, 0 0.9, 0 0" />
			        </clipPath>
			        <clipPath id="image-clip-path" clipPathUnits="objectBoundingBox">
			            <polygon points="0.5 0, 1 0, 1 1, 0.5 1, 0 0.95, 0 0" />
			        </clipPath>
			    </defs>
			    <rect x="0" y="0" width="1" height="1" clip-path="url('{{removeDoubleSlash body.url}}#overlay-clip-path')"></rect>
			</svg>

            {{#ifLongerThan item.updates 0}}

                <div class="updates"><span class="circle ">{{count ../item.updates}}</span><span>update{{#ifLongerThan ../item.updates 1}}s{{/ifLongerThan}}</span></div>
            {{/ifLongerThan}}

			<span class="datum">{{formatDate item.date 'long'}}</span>

            <h3>{{{item.title}}}</h3>

		</article>
</a>

<style>
    .block img {
    	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 calc(100% - 1em), 0 0);
    	clip-path: url('{{removeDoubleSlash body.url}}/#image-clip-path');
    }
</style>
