<div id="blog-rating" class="{{renderEnv}}">

    <h2>
        Vond u dit artikel nuttig?
    </h2>

    <div id="appreciation-row">

        <figure class="chart animate">
            <svg role="img" xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-background" r="42px" cx="50%" cy="50%" />

                <circle class="circle-foreground" r="42px" cx="50%" cy="50%"/> <!--  hidden-on-phone -->

                <!--<circle class="circle-foreground visible-on-phone" r="42px" cx="37%" cy="67%"/>-->

            </svg>
            <figcaption><span id="appreciation-percentage"></span><span class="symbol">%</span><span class="qualifier">Nuttig</span></figcaption>
        </figure>

        <div id="appreciation-block">

            <div id="appreciation-buttons" class="smallerfont">
                <button class="smallerfont" onclick="appreciation.ratePositive({{body._id}})">Ja</button>
                <button class="smallerfont" onclick="appreciation.rateNegative({{body._id}})">Nee</button>
                <span id="warning" style="display:none">U heeft dit artikel al beoordeeld.</span>
            </div>

            <div class="smallerfont">
                <span id="text-positive-count"></span> van de <span id="text-total-count"></span> mensen vonden dit nuttig.
            </div>

        </div>

    </div>

</div>