<a href="{{thread.post.url}}#dialoog" class="thread">

    {{#each thread.comments }}
        <div class="comment {{sluggify name}}" data-thread-id='{{threadID}}'>
            <div class="header">
                <span class="datetime smallerfont">{{formatDate date 'comment'}}</span>
                <h4>{{name}}</h4>
            </div>
            {{stripHTML content}}
        </div>
    {{/each}}

    <!--<a href="">Bij "{{thread.post.title}}"</a>-->

</a>