<section id="comment-section">

    <div class="container">

        <div class="col-67">

            <h2>Heeft u vragen? Stel ze hier.</h2>

            <div id="respondcontainer">

                {{>respond-form }}

            </div>

            <div id="comments-wrapper">

                {{#each comments as |thread|}}
                    <div class='thread' data-thread-id='{{thread.[0].id}}'>
                        <span class="thread-anchor" id="{{thread.[0].id}}"></span>
                        {{#each thread as |comment|}}
                            {{> comment threadID=thread.[0].id comment=comment}}
                        {{/each}}

                    </div>
                {{/each}}
            </div>

        </div>
        <div id="comments-sidebar" class="col-33">

            {{> social-buttons }}

        </div>
    </div>
</section>