<div class="comment {{sluggify comment.name}}" data-thread-id='{{threadID}}'>


    <div class="header">

        {{#if comment.isEditor}}

        <div class='author-thumbnail-container'>

            {{#if thumbnail.external_id}}

                <img src='https://ucarecdn.com/{{thumbnail.external_id}}/-/scale_crop/200x200/center/{{thumbnail.filename}}' alt='Foto van {{name}}' title='Foto van {{name}}' />

            {{/if}}

        </div>

        {{/if}}


            <span class="datetime smallerfont">{{formatDate comment.date 'comment'}}</span>
            <h4 class="{{#if comment.isEditor}}editorial{{/if}}">{{comment.name}}</h4>
    </div>

        {{{comment.content}}}

    <span class='thread-reply smallerfont' onclick='respond.openThread(this)'>Schrijf een reactie</span>
    <div class='rating-container'>
        <span class='rating-value smallerfont'>{{rating}}</span>
        <div class='rating-button' onclick="respond.rate(this,{{id}})">
            <div class='circle'></div>
            <span>+1</span>
        </div>
    </div>
</div>