<div id="countdown_container">

    <span>Start Lijn 25 op 13 december 2020 om 7.07 uur.</span>
    <div id="countdown">

        <div>
            <span><span></span><span></span></span>
            <span>dagen</span>
        </div>
        <div>:</div>
        <div>
            <span><span></span><span></span></span>
            <span>uren</span>
        </div>
        <div>:</div>
        <div>
            <span><span></span><span></span></span>
            <span>minuten</span>
        </div>
        <div>:</div>
        <div>
            <span><span></span><span></span></span>
            <span>seconden</span>
        </div>
    </div>

</div>
