<svg id="cutoutintro" width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
    <defs>
        <clipPath id="intro-clip-path" clipPathUnits="objectBoundingBox">
            <polygon points=".5 0, 1 .05, 1 1, 0 1, 0 0"></polygon>
        </clipPath>
    </defs>
    <rect x="0" y="0" width="1" height="1" clip-path="url('#intro-clip-path')"></rect>
</svg>
