<!-- clip path op de overlay is cross browser -->
<!-- clip path op de image voor firefox, chrome en safari -->

<div class="block expanding" >

		{{#if item.main_image}}

            <!--<div onclick="blocks.expand(this)";>-->

             {{> responsive-image format='square' size='third' title=item.main_image.alttext external_id=item.main_image.external_id filename=item.main_image.filename }}

            <!--</div>-->
		{{/if}}

		<article class="overlay"> <!-- onclick="blocks.expand(this)";-->

			<svg width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
			    <defs>
			        <clipPath id="overlay-clip-path" clipPathUnits="objectBoundingBox">
			            <polygon points="0.5 0, 1 0.2, 1 1, 0.5 1, 0 0.9, 0 0" />
			        </clipPath>
			        <clipPath id="image-clip-path" clipPathUnits="objectBoundingBox">
			            <polygon points="0.5 0, 1 0, 1 1, 0.5 1, 0 0.95, 0 0" />
			        </clipPath>
			    </defs>
			    <rect x="0" y="0" width="1" height="1" clip-path="url(#overlay-clip-path)"></rect>
			</svg>


				<h3 class="{{item.slug}}">{{item.title}}</h3>


		</article>

        <div class="expanding-block" > <!-- onclick="blocks.collapse()"; -->

            <div class="text">

                {{{ item.content }}}

                {{>sections sections=item.sections }}

            </div>

            <span class="expanding-block-close" >
                    
                </span>

        </div>
</div>

<style>
    .block img {
    	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 calc(100% - 1em), 0 0);
    	clip-path: url("#image-clip-path");
    }
</style>
