<section class="faq-section">

    <div class="small-container">

            <div id="comments-wrapper">

                {{#each faqs as |faq|}}
                    <div class='faq'>
                       <div class="question" onclick="this.parentNode.classList.toggle('open')">{{{faq.question}}} {{> icon-chevron-up }}</div>
                        <div class="answer">

                            <div>
                            {{{faq.answer}}}
                            </div>

                            {{#if faq.image.filename}}
                                <div>
                                    {{> responsive-image format='square' size='third' title=faq.image.alttext external_id=faq.image.external_id filename=faq.image.filename }}
                                </div>
                            {{/if}}

                        </div>
                    </div>
                {{/each}}
            </div>
    </div>
</section>