{{#if body.featured}}
<a id="featured-post" class="{{class}}"  href="{{ body.featured.url }}">

        <div>

            <svg width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
                <defs>
                    <clipPath id="featured-post-clip-path" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 0.88 0, 1 1, 0 1"></polygon>
                    </clipPath>
                </defs>
                <rect x="0" y="0" width="1" height="1" clip-path="url(#featured-post-clip-path)"></rect>
            </svg>

			<div class="datum">{{formatDate body.featured.date 'long'}}</div>

			    <h3>{{body.featured.title}}</h3>

			<!--<div class="authors">{{body.featured.author.first_name}} {{body.featured.author.last_name}}, Amstelveenlijn</div>-->
		</div>
	</a>
{{/if}}
