

{{#ifEquals renderEnv 'uithoornlijn'}}
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'QAZQGLYI');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->
{{/ifEquals}}

{{#ifEquals renderEnv 'amstelveenlijn'}}

    <script>
        // (function(f, a, t, h, o, m){
        //     a[h]=a[h]||function(){
        //         (a[h].q=a[h].q||[]).push(arguments)
        //     };
        //     o=f.createElement('script'),
        //             m=f.getElementsByTagName('script')[0];
        //     o.async=1; o.src=t; o.id='fathom-script';
        //     m.parentNode.insertBefore(o,m)
        // })(document, window, '//amstelveenlijn.nl/stats/tracker.js', 'fathom');
        // fathom('set', 'siteId', 'LKRJD');
        // fathom('trackPageview');

        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'LZXTSGKU');
        fathom('trackPageview');

    </script>

{{/ifEquals}}


{{#ifEquals renderEnv 'amsteltram'}}

    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'HCEUKMCF');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->

{{/ifEquals}}


<script src="{{assetsUrl}}/assets/scripts/vendor.js"></script>
<script src="{{assetsUrl}}/assets/scripts/pages/{{{body.type}}}.js"></script>

{{#ifEquals body.type 'post' }}
    <script>
        var appreciation = new Appreciation;
        appreciation.init({{../body._id}});
    </script>
{{/ifEquals}}


{{#ifEquals body.slug 'lijn25iser' }}
    <script>
        var appreciation = new Appreciation;
        appreciation.init({{../body._id}});
    </script>
{{/ifEquals}}


{{#ifEquals body.type 'search' }}

    <script src="{{../assetsUrl}}/assets/scripts/search-index.js"></script>
    <script>
        var search = Search('nl');
    </script>
{{/ifEquals}}


{{#ifEquals body.type 'homepage' }}
    <!--<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>-->
    <script src='{{../assetsUrl}}/assets/scripts/pages/compact-planning.js'></script>

    <script>

        var twitter = new Twitter;
        twitter.init('{{../renderEnv}}');

        let datasetUrl = 'https://{{../renderEnv}}.nl/dataset.json';

        {{#ifEquals ../renderEnv 'amstelveenlijn'}}
            datasetUrl = 'https://{{../renderEnv}}.nl/dataset.json';
        {{/ifEquals}}

        d3.json(datasetUrl, function(data) {
            var planning = new Planning('planning_wrapper', data.datasetSection0);
            if (document.getElementById('planning_wrapper')) {
                planning.init();
            }
        });
    </script>


        <script src='https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.0.0/mapbox-gl.js'></script>
        <script src="{{../assetsUrl}}/assets/scripts/pages/map.js"></script>


        <script>
            loadJSON('{{../assetsUrl}}/assets/geojson/haltes.geojson',function(response) {
                var map = new Map('map-container',response,'{{../renderEnv}}');
            });

        </script>

{{/ifEquals}}

{{#ifEquals body.type 'homepage-alt' }}
    <!--<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>-->
    <script src='{{../assetsUrl}}/assets/scripts/pages/compact-planning.js'></script>

    <script>

        var twitter = new Twitter;
        twitter.init('{{../renderEnv}}');

        let datasetUrl = 'https://{{../renderEnv}}.nl/dataset.json';

            {{#ifEquals ../renderEnv 'amstelveenlijn'}}
            datasetUrl = 'https://{{../renderEnv}}.nl/dataset.json';
            {{/ifEquals}}

        d3.json(datasetUrl, function(data) {
            var planning = new Planning('planning_wrapper', data.datasetSection0);
            if (document.getElementById('planning_wrapper')) {
                planning.init();
            }
        });
    </script>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.0.0/mapbox-gl.js'></script>
    <script src="{{../assetsUrl}}/assets/scripts/pages/map.js"></script>


    <script>
        loadJSON('{{../assetsUrl}}/assets/geojson/locations.geojson',function(response) {
            var map = new Map('map-container',response,'{{../renderEnv}}');
        });

    </script>

{{/ifEquals}}

{{#ifEquals body.type 'home' }}
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src='{{../assetsUrl}}/assets/scripts/pages/compact-planning.js'></script>

    <script>
        d3.json('https://{{../renderEnv}}.publikaan.nl/dataset.json', function(data) {
            var planning = new Planning('planning_wrapper', data.datasetSection0);
            planning.init();
        });
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.0.0/mapbox-gl.js'></script>
    <script src="{{../assetsUrl}}/assets/scripts/pages/map.js"></script>


    <script>
        loadJSON('{{../assetsUrl}}/assets/geojson/locations.geojson',function(response) {
            var map = new Map('map-container',response,'{{../renderEnv}}');
        });

    </script>

{{/ifEquals}}


{{#ifEquals body.type 'werkzaamheden-en-planning'}}

    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link rel='stylesheet' id='mapbox_css-css'  href='//api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' type='text/css' media='all' />
    <script src="{{../assetsUrl}}/assets/scripts/pages/planning_werkzaamheden.js"></script>
    <script src='{{../assetsUrl}}/assets/scripts/planning-work.js'></script>

    {{#ifEquals ../renderEnv 'uithoornlijn'}}
        <script src='{{../assetsUrl}}/assets/scripts/pages/map_works.js'></script>
    {{/ifEquals}}

    {{#ifEquals ../renderEnv 'amstelveenlijn'}}
        <script src='{{../assetsUrl}}/assets/scripts/map.js'></script>
    {{/ifEquals}}

    <script>

        {{#ifEquals ../renderEnv 'amstelveenlijn'}}

            d3.json('https://{{../renderEnv}}.nl/werkzaamheden-en-planning/planning-data.json', function(data) {
                var planning = new Planning('.datavis-planning', data.datasetSection0);
                planning.render();
            });
        {{/ifEquals}}

        loadJSON('{{../assetsUrl}}/assets/geojson/{{../renderEnv}}_locations.geojson',function(response) {
            window.map = new Map('map-container',response,'{{../renderEnv}}');
            window.map.init('{{../renderEnv}}');
        });

        let closeTooltip = function () {

            let tooltip = document.querySelector('.tooltip')

            tooltip.style.opacity  = 0;
            tooltip.style.left = "-1000px";
            tooltip.style.opacity = "auto";

        }

    </script>

{{/ifEquals}}

{{#each body.sections as |section|}}


    {{#ifEquals section.type 'datavisplanning'}}

        {{#ifNot section.instance 'none'}}
            <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
            <script src='{{../../assetsUrl}}/assets/scripts/pages/compact-planning.js'></script>


            <script>
                d3.json('https://{{../../renderEnv}}.nl/dataset.json', function(data) {
                    var planning = new Planning('planning_wrapper', data.datasetSection0);
                    planning.init();
                });
            </script>

        {{/ifNot}}

    {{/ifEquals}}

    {{#ifEquals section.type 'form'}}

        {{#ifEquals section.form 'contact'}}

            <script src="{{../../assetsUrl}}/assets/scripts/contact.js"></script>

        {{/ifEquals}}

        {{#ifEquals section.form 'feedback'}}

            <script src="{{../../assetsUrl}}/assets/scripts/tevredenheidsmonitor.js"></script>

        {{/ifEquals}}

        {{#ifEquals section.form 'newsletter_uithoornlijn'}}


        {{/ifEquals}}

    {{/ifEquals}}

{{/each}}



