<footer class="{{renderEnv}}" data-option="info">

    <div>
        <div class="footer-element">

            {{{ body.footer.content }}}

            <ul class="page_links">
                <li><a href="/colofon-en-proclaimer/">colofon en proclaimer</a></li>
            </ul>
        </div>

        <div class="footer-element">

            {{#ifEquals renderEnv 'uithoornlijn'}}

                <h3>nieuwsbrief aanmelden</h3>

                {{> form-newsletter renderEnv=../renderEnv}}

            {{/ifEquals}}

            {{#ifEquals renderEnv 'amstelveenlijn'}}

                <h3>nieuwsbrief aanmelden</h3>

                {{> form-newsletter renderEnv=../renderEnv}}

                <div>
                    <a class="button" href="https://www.flickr.com/photos/146101678@N05/" target="_blank">volg ons project in beeld op Flickr {{> icon-beeldbank}}</a>
                </div>

                <!--<div>-->
                    <!--<a class="button" href="https://webcam.nl/bouw/amstelveen/kronenburg/" target="_blank">-->
                        <!--Webcam Kronenburg {{> icon-webcam}}-->
                    <!--</a>-->
                <!--</div>-->

                <!--<div>-->
                    <!--<a class="button" href="https://webcam.nl/bouw/amstelveen/sportlaan/" onclick="fathom('trackGoal', '1TQOPXNJ', 0);" target="_blank">-->
                        <!--Webcam Sportlaan {{> icon-webcam}}-->
                    <!--</a>-->
                <!--</div>-->


            {{/ifEquals}}

        </div>


        <div class="footer-element">

            <h3>contact</h3>

            {{{body.footer.extra.contact}}}


            <div class="social_links">

                {{#ifEquals renderEnv 'amsteltram'}}

                <ul>
                    <li class="amstelveenlijn">
                        <a href="https://twitter.com/amstelveenlijn" target="_blank">
                            {{> icon-twitter }}
                        </a>
                    </li>
                    <li class="amstelveenlijn">
                        <a href="http://facebook.com/amstelveenlijn" target="_blank">
                            {{> icon-facebook }}
                        </a>
                    </li>
                    <li class="uithoornlijn">
                        <a href="https://twitter.com/uithoornlijn" target="_blank">
                            {{> icon-twitter }}
                        </a>
                    </li>
                    <li class="uithoornlijn">
                        <a href="http://facebook.com/uithoornlijn" target="_blank">
                            {{> icon-facebook }}
                        </a>
                    </li>
                </ul>

                {{ else }}

                    <ul class="social_links">
                        <li class="{{../renderEnv}}">
                            <a href="https://twitter.com/{{../renderEnv}}" target="_blank">
                                {{> icon-twitter }}
                            </a>
                        </li>
                        <li class="{{../renderEnv}}">
                            <a href="http://facebook.com/{{../renderEnv}}" target="_blank">
                                {{> icon-facebook }}
                            </a>
                        </li>
                    </ul>

                {{/ifEquals}}

            </div>

        </div>

    </div>
</footer>