<div id="form-container" class="container">

    <form id="feedbackform" class="form"> <!--  -->

        <div id="unsubscribe" class="field-wrapper full" style="display:none">
            <span class="checkbox">
                <input type="checkbox" name="panel" id="true" value="true" checked>
                <label for="true">Ik ben beschikbaar voor het tevredenheidspanel</label>
            </span>
        </div>
        <div class="field-wrapper half" style="display:none">
            <input type="text" id="token" name="token">

        </div>
        <div class="field-wrapper half">

            <label for="salutation">Aanhef <strong aria-hidden="true">*</strong></label>
            <select id="salutation" name="salutation" required aria-required="true">
                <option disabled selected value style="display:none"></option>
                <option value="heer">heer</option>
                <option value="mevrouw">mevrouw</option>
            </select>
        </div>
        <div class="field-wrapper half">
            <label for="last_name">Achternaam <strong aria-hidden="true">*</strong></label>
            <input type="text" id="last_name" name="last_name" required aria-required="true">
        </div>
        <div class="field-wrapper half">
            <label for="email">Email <strong aria-hidden="true">*</strong></label>
            <input type="email" id="email" name="email" required aria-required="true" aria-describedby="Dit is geen email adres">
        </div>
        <div class="field-wrapper half">
            <label for="postal_code">Postcode<strong aria-hidden="true">*</strong></label>
            <input type="text" id="postal_code" name="postal_code" placeholder="1234AB" pattern="[1-9][0-9]{3}[a-zA-Z]{2}" title="Voer uw postcode in als 1234AB" required aria-required="true">

        </div>
        <div class="field-wrapper half">
            <label for="working_language">Voertaal (working language)<strong aria-hidden="true">*</strong></label>
            <select id="working_language" name="working_language" required aria-required="true">
                <option value="dutch" selected>Nederlands</option>
                <option value="english">English</option>
            </select>
        </div>
        <div class="field-wrapper half">
            <label for="age_group">Leeftijdsgroep</label>
            <select id="age_group" name="age_group" aria-required="false">
                <option disabled selected value style="display:none"></option>
                <option value="under_25">Jonger dan 25 jaar</option>
                <option value="25_49">25 – 49 jaar</option>
                <option value="50_75">50 – 75 jaar</option>
                <option value="above_75">Ouder dan 75 jaar</option>
            </select>

        </div>
        <ul class="field-wrapper full">

            <p>We willen graag weten in welke hoedanigheid u te maken heeft met de vernieuwing van de Amstelveenlijn.<br/>Kies hieronder wat voor u het meest van toepassing is.</p>


            <li class="checkbox">
                <input type="checkbox" name="interests" id="commuter" value="commuter">
                <label for="commuter">Forens</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="public_transport_user" value="public_transport_user">
                <label for="public_transport_user">Openbaar vervoer reiziger</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="car_owner" value="car_owner">
                <label for="car_owner">Automobilist</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="cyclist" value="cyclist">
                <label for="cyclist">Fietser</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="pedestrian" value="pedestrian">
                <label for="pedestrian">Voetganger</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="amstelveen_resident" value="amstelveen_resident">
                <label for="amstelveen_resident">Omwonende</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="area_resident" value="area_resident">
                <label for="area_resident">Inwoner omliggende gemeente</label>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="interests" id="company" value="company">
                <label for="company">Bedrijf</label>
            </li>

        </ul>


        <p>Interesse in meer informatie?</p>

        <ul class="field-wrapper full">
            <li class="checkbox">
                <input type="checkbox" name="subscription" id="subscription" value="newsletter">
                <label for="subscription">Ja, ik ontvang graag de maandelijkse, digitale Amstelveenlijn nieuwsbrief.</label>
            </li>
        </ul>
        <ul class="field-wrapper full">
            <li class="checkbox">
                <input type="checkbox" name="gvb" id="gvb" value="true">
                <label for="gvb">Ja, ik geef GVB toestemming om mij te informeren over het tijdelijke OV op de Amstelveenlijn.</label>
            </li>
        </ul>

        <div aria-live="assertive" role="alert"></div>

        <input type="submit" value="verzenden"></input>

    </form>

</div>