
<form class="newsletter" data-env="{{renderEnv}}">


    {{#ifEquals renderEnv 'uithoornlijn'}}
        <input type="text" id="first_name" placeholder="uw voornaam *" required />
        <input type="text" id="last_name" placeholder="uw achternaam *" required />
    {{/ifEquals}}

    <input type="email" placeholder="uw email *" />

    <input type="submit" value="verzenden">
    <span class="message"></span>
</form>