
<div class="form-container container">

    <form class="newsletter" data-env="{{renderEnv}}">

        {{#ifEquals renderEnv 'uithoornlijn'}}
            <div class="field-wrapper half">
                <label for="first_name">Uw voornaam <strong aria-hidden="true">*</strong></label>
                <input type="text" id="first_name" required />
            </div>
            <div class="field-wrapper half">
                <label for="last_name">Uw achternaam <strong aria-hidden="true">*</strong></label>
                <input type="text" id="last_name" required />
            </div>
        {{/ifEquals}}
        <div class="field-wrapper full">
            <label for="email">Uw email <strong aria-hidden="true">*</strong></label>
            <input type="email"  />
        </div>

        <input type="submit" value="verzenden">
        <span class="message"></span>
    </form>

</div>