<div id="form-container" class="container" >

	<form id="contactform" class="form" data-render-env="{{renderEnv}}"> <!--  -->
		<div class="field-wrapper half">
            <label for="name">Uw naam <strong aria-hidden="true">*</strong></label>
            <input type="text" id="name" name="name" required aria-required="true" >
		</div>
		<div class="field-wrapper half">
            <label for="email">Uw email <strong aria-hidden="true">*</strong></label>
            <input type="email" id="email" name="email" required aria-required="true" aria-describedby="Dit is geen email adres">
		</div>
		<div class="field-wrapper full">
            <label for="question">Uw vraag of opmerking <strong aria-hidden="true">*</strong></label>
            <textarea rows="7" id="question" name="question" required aria-required="true"></textarea>
		</div>

		<div aria-live="assertive" role="alert"></div>

		<input type="submit" class="{{renderEnv}}" value="verzenden" />
	</form>

</div>