<div id="grid_container">

    <svg id="grid" class="{{renderEnv}}" xmlns="http://www.w3.org/2000/svg" width="1190" height="841" viewBox="0 0 1190.55 841.89">


            <polygon class="st0" points="657.21,428.81 594.21,428.81 603.21,383.81 	"/>
            <polygon class="st0" points="675.21,383.81 657.21,428.81 603.21,383.81 	"/>
            <polygon class="st1" points="594.21,428.81 531.21,374.81 603.21,383.81 	"/>
            <polygon class="st0" points="531.21,374.81 589.61,306.14 603.21,383.81 	"/>
            <polygon class="st2" points="594.21,428.81 521.57,447.87 531.21,374.81 	"/>
            <polygon class="st1" points="521.57,447.87 595.28,476.22 594.21,428.81 	"/>
            <polygon class="st3" points="595.28,476.22 657.21,428.81 594.21,428.81 	"/>
            <polygon class="st3" points="595.28,476.22 675.21,482.81 657.21,428.81 	"/>
            <polygon class="st4" points="675.21,383.81 711.21,419.81 657.21,428.81 	"/>
            <polygon class="st3" points="675.21,383.81 589.61,306.14 603.21,383.81 	"/>
            <polygon class="st0" points="675.21,383.81 648.21,320.81 589.61,306.14 	"/>
            <polygon class="st3" points="589.61,306.14 510.24,317.48 531.21,374.81 	"/>
            <polygon class="st1" points="510.24,317.48 486.21,383.81 531.21,374.81 	"/>
            <polygon class="st2" points="486.21,383.81 521.57,447.87 531.21,374.81 	"/>
            <polygon class="st1" points="486.21,383.81 450.21,455.81 521.57,447.87 	"/>
            <polygon class="st1" points="486.21,383.81 432.21,374.81 450.21,455.81 	"/>
            <polygon class="st2" points="432.21,374.81 510.24,317.48 486.21,383.81 	"/>
            <polygon class="st1" points="510.24,317.48 453.54,300.47 432.21,374.81 	"/>
            <polygon class="st5" points="453.54,300.47 374,283.25 432.21,374.81 	"/>
            <polygon class="st3" points="432.21,374.81 387.21,410.81 450.21,455.81 	"/>
            <polygon class="st5" points="450.21,455.81 414.21,473.81 387.21,410.81 	"/>
            <polygon class="st1" points="387.21,410.81 342.21,464.81 414.21,473.81 	"/>
            <polygon class="st5" points="387.21,410.81 342.21,464.81 315.21,383.81 	"/>
            <polygon class="st6" points="315.21,383.81 279.21,464.81 342.21,464.81 	"/>
            <polygon class="st2" points="432.21,374.81 378.21,374.81 374,283.25 	"/>
            <polygon class="st2" points="432.21,374.81 387.21,410.81 378.21,374.81 	"/>
            <polygon class="st5" points="378.21,374.81 315.21,383.81 387.21,410.81 	"/>
            <polygon class="st6" points="378.21,374.81 315.21,383.81 374,283.25 	"/>
            <polygon class="st5" points="374,283.25 297.21,302.81 315.21,383.81 	"/>
            <polygon class="st3" points="595.28,476.22 531.21,527.81 521.57,447.87 	"/>
            <polygon class="st2" points="521.57,447.87 459.21,527.81 450.21,455.81 	"/>
            <polygon class="st1" points="531.21,527.81 459.21,527.81 521.57,447.87 	"/>
            <polygon class="st1" points="414.21,473.81 459.21,527.81 450.21,455.81 	"/>
            <polygon class="st2" points="414.21,473.81 342.21,464.81 360.21,527.81 	"/>
            <polygon class="st1" points="360.21,527.81 459.21,527.81 414.21,473.81 	"/>
            <polygon class="st6" points="360.21,527.81 243.21,527.81 342.21,464.81 	"/>
            <polygon class="st5" points="279.21,464.81 243.21,527.81 342.21,464.81 	"/>
            <polygon class="st5" points="243.21,527.81 171.21,455.81 279.21,464.81 	"/>
            <polygon class="st5" points="315.21,383.81 243.21,383.81 279.21,464.81 	"/>
            <polygon class="st6" points="243.21,383.81 171.21,455.81 279.21,464.81 	"/>
            <polygon class="st5" points="243.21,383.81 162.21,383.81 171.21,455.81 	"/>
            <polygon class="st6" points="315.21,383.81 279.21,356.81 243.21,383.81 	"/>
            <polygon class="st5" points="315.21,383.81 279.21,356.81 297.21,302.81 	"/>
            <polygon class="st5" points="279.21,356.81 243.21,383.81 207.21,356.81 	"/>
            <polygon class="st6" points="297.21,302.81 207.21,356.81 279.21,356.81 	"/>
            <polygon class="st6" points="207.21,356.81 162.21,383.81 243.21,383.81 	"/>
            <polygon class="st5" points="162.21,383.81 144.21,347.81 207.21,356.81 	"/>
            <polygon class="st5" points="144.21,347.81 297.21,302.81 207.21,356.81 	"/>
            <polygon class="st6" points="144.21,347.81 198.21,293.81 297.21,302.81 	"/>
            <polygon class="st6" points="144.21,347.81 207.21,356.81 162.21,383.81 	"/>
            <polygon class="st0" points="595.28,476.22 612.21,527.81 531.21,527.81 	"/>
            <polygon class="st0" points="595.28,476.22 612.21,527.81 675.21,482.81 	"/>
            <polygon class="st3" points="612.21,527.81 675.21,545.81 675.21,482.81 	"/>
            <polygon class="st7" points="675.21,482.81 711.21,419.81 657.21,428.81 	"/>
            <polygon class="st3" points="510.24,317.48 487.56,243.78 538.58,243.78 	"/>
            <polygon class="st1" points="510.24,317.48 589.61,306.14 538.58,243.78 	"/>
            <polygon class="st1" points="510.24,317.48 453.54,300.47 487.56,243.78 	"/>
            <polygon class="st3" points="487.56,243.78 407.72,233.05 453.54,300.47 	"/>
            <polygon class="st1" points="407.72,233.05 374,283.25 453.54,300.47 	"/>
            <polygon class="st3" points="407.72,233.05 487.56,198.43 487.56,243.78 	"/>
            <polygon class="st0" points="487.56,243.78 538.58,243.78 487.56,198.43 	"/>
            <polygon class="st3" points="538.58,243.78 583.94,238.11 589.61,306.14 	"/>
            <polygon class="st0" points="583.94,238.11 640.63,249.45 589.61,306.14 	"/>
            <polygon class="st7" points="640.63,249.45 648.21,320.81 589.61,306.14 	"/>
            <polygon class="st2" points="407.72,233.05 334.49,233.05 374,283.25 	"/>
            <polygon class="st6" points="334.49,233.05 297.21,302.81 374,283.25 	"/>
            <polygon class="st5" points="297.21,302.81 249.45,260.79 334.49,233.05 	"/>
            <polygon class="st6" points="249.45,260.79 198.21,293.81 297.21,302.81 	"/>
            <polygon class="st0" points="640.63,249.45 697.32,260.79 648.21,320.81 	"/>
            <polygon class="st0" points="583.94,238.11 617.95,204.09 640.63,249.45 	"/>
            <polygon class="st0" points="617.95,204.09 668.98,192.76 640.63,249.45 	"/>
            <path class="st1" d="M617.95,204.09c-5.67,0-51.02-11.34-51.02-11.34l17.01,45.35L617.95,204.09z"/>
            <polygon class="st3" points="566.93,192.76 538.58,243.78 583.94,238.11 	"/>
            <polygon class="st3" points="566.93,192.76 487.56,198.43 538.58,243.78 	"/>
            <polygon class="st7" points="697.32,260.79 668.98,192.76 640.63,249.45 	"/>
            <polygon class="st5" points="249.45,260.79 204.09,255.12 198.21,293.81 	"/>
            <polygon class="st5" points="204.09,255.12 158.74,249.45 198.21,293.81 	"/>
            <polygon class="st6" points="158.74,249.45 144.21,347.81 198.21,293.81 	"/>
            <polygon class="st6" points="158.74,249.45 113.39,260.79 144.21,347.81 	"/>
            <polygon class="st5" points="113.39,260.79 102.05,357.17 144.21,347.81 	"/>
            <polygon class="st6" points="102.05,357.17 162.21,383.81 144.21,347.81 	"/>
            <polygon class="st6" points="102.05,357.17 171.21,455.81 162.21,383.81 	"/>
            <polygon class="st6" points="171.21,455.81 85.04,459.21 102.05,357.17 	"/>
            <polygon class="st6" points="171.21,455.81 147.4,527.24 243.21,527.81 	"/>
            <polygon class="st5" points="171.21,455.81 85.04,459.21 147.4,527.24 	"/>
            <polygon class="st5" points="407.72,233.05 396.85,192.76 487.56,198.43 	"/>
            <polygon class="st2" points="396.85,192.76 334.49,233.05 407.72,233.05 	"/>
            <polygon class="st6" points="334.49,233.05 306.14,192.76 396.85,192.76 	"/>
            <polygon class="st5" points="306.14,192.76 249.45,260.79 334.49,233.05 	"/>
            <polygon class="st6" points="306.14,192.76 232.44,192.76 249.45,260.79 	"/>
            <polygon class="st6" points="232.44,192.76 204.09,255.12 249.45,260.79 	"/>
            <polygon class="st5" points="232.44,192.76 158.74,187.09 204.09,255.12 	"/>
            <polygon class="st6" points="158.74,187.09 158.74,249.45 204.09,255.12 	"/>
            <polygon class="st6" points="158.74,187.09 113.39,260.79 158.74,249.45 	"/>
            <polygon class="st0" points="648.21,320.81 714.33,328.82 697.32,260.79 	"/>
            <polygon class="st4" points="648.21,320.81 714.33,328.82 675.21,383.81 	"/>
            <polygon class="st7" points="714.33,328.82 711.21,419.81 675.21,383.81 	"/>
            <polygon class="st0" points="675.21,482.81 759.69,470.55 711.21,419.81 	"/>
            <polygon class="st7" points="675.21,482.81 737.01,532.91 675.21,545.81 	"/>
            <polygon class="st7" points="675.21,482.81 759.69,470.55 737.01,532.91 	"/>
            <polygon class="st7" points="759.69,470.55 771.02,391.18 711.21,419.81 	"/>
            <polygon class="st4" points="771.02,391.18 714.33,328.82 711.21,419.81 	"/>
            <polygon class="st7" points="714.33,328.82 765.35,306.14 771.02,391.18 	"/>
            <polygon class="st4" points="765.35,306.14 697.32,260.79 714.33,328.82 	"/>
            <polygon class="st4" points="765.35,306.14 822.05,306.14 771.02,391.18 	"/>
            <polygon class="st4" points="759.69,470.55 833.39,476.22 771.02,391.18 	"/>
            <polygon class="st4" points="771.02,391.18 856.06,385.51 833.39,476.22 	"/>
            <polygon class="st7" points="771.02,391.18 822.05,306.14 856.06,385.51 	"/>
            <polygon class="st7" points="759.69,470.55 844.72,532.91 833.39,476.22 	"/>
            <polygon class="st4" points="737.01,532.91 844.72,532.91 759.69,470.55 	"/>
            <polygon class="st7" points="822.05,306.14 873.07,243.78 816.38,221.1 	"/>
            <polygon class="st4" points="816.38,221.1 861.73,175.75 810.71,175.75 	"/>
            <polygon class="st7" points="816.38,221.1 873.07,243.78 861.73,175.75 	"/>
            <polygon class="st4" points="873.07,243.78 884.41,317.48 822.05,306.14 	"/>
            <polygon class="st4" points="822.05,306.14 884.41,317.48 856.06,385.51 	"/>
            <polygon class="st4" points="884.41,317.48 918.43,374.17 856.06,385.51 	"/>
            <polygon class="st7" points="918.43,374.17 833.39,476.22 856.06,385.51 	"/>
            <polygon class="st4" points="833.39,476.22 901.42,459.21 918.43,374.17 	"/>
            <polygon class="st7" points="833.39,476.22 901.42,459.21 844.72,532.91 	"/>
            <polygon class="st4" points="901.42,459.21 941.1,510.24 844.72,532.91 	"/>
            <polygon class="st4" points="941.1,510.24 901.42,459.21 918.43,374.17 	"/>
            <polygon class="st4" points="918.43,374.17 941.1,317.48 884.41,317.48 	"/>
            <polygon class="st4" points="941.1,317.48 873.07,243.78 884.41,317.48 	"/>
            <polygon class="st4" points="941.1,317.48 929.76,238.11 873.07,243.78 	"/>
            <polygon class="st4" points="929.76,238.11 929.76,170.08 873.07,243.78 	"/>
            <polygon class="st4" points="929.76,170.08 861.73,175.75 873.07,243.78 	"/>
            <polygon class="st4" points="822.05,306.14 816.38,221.1 765.35,243.78 	"/>
            <polygon class="st4" points="720,232.44 668.98,192.76 697.32,260.79 	"/>
            <polygon class="st7" points="668.98,192.76 754.02,209.76 720,232.44 	"/>
            <polygon class="st7" points="697.32,260.79 720,232.44 765.35,243.78 	"/>
            <polygon class="st7" points="720,232.44 765.35,243.78 754.02,209.76 	"/>
            <polygon class="st7" points="765.35,243.78 816.38,221.1 754.02,209.76 	"/>
            <polygon class="st4" points="816.38,221.1 810.71,175.75 754.02,209.76 	"/>
            <polygon class="st4" points="810.71,175.75 742.68,175.75 754.02,209.76 	"/>
            <polygon class="st4" points="742.68,175.75 668.98,192.76 754.02,209.76 	"/>
            <polygon class="st4" points="822.05,306.14 765.35,243.78 759.69,277.8 	"/>
            <polygon class="st7" points="822.05,306.14 759.69,277.8 765.35,306.14 	"/>
            <polygon class="st7" points="765.35,306.14 697.32,260.79 759.69,277.8 	"/>
            <polygon class="st0" points="759.69,277.8 697.32,260.79 765.35,243.78 	"/>

    </svg>

</div>
