<div id="mobile-menu">
    <!--    <a href="/">Home</a> -->
    <div class="container">
        <a href="/">Home</a>
        <a href="/over-het-project">Over het project</a>
        <a href="/werkzaamheden-en-planning">Werkzaamheden en planning</a>
        <a href="/archief">Archief & Zoeken</a>
        <a href="/contact">Contact</a>
        <a href="/english">English</a>
        <!--<a href="/nieuws/2018/japanese-factsheet/">日本語</a>-->
    </div>
</div>

<header id="header">

    <div class="header-strip-top">

        <div class="large-container">

            <ul class="header-menu-identities">
                <li class="{{#ifEquals renderEnv 'amsteltram'}}active{{/ifEquals}}"><a href="https://amsteltram.nl">Amsteltram</a></li>
                <li class="{{#ifEquals renderEnv 'amstelveenlijn'}}active{{/ifEquals}}"><a href="https://amstelveenlijn.nl">Amstelveenlijn</a></li>
                <li class="{{#ifEquals renderEnv 'uithoornlijn'}}active{{/ifEquals}}"><a href="https://uithoornlijn.nl">Uithoornlijn</a></li>
            </ul>

            <ul class="header-menu-languages">

                {{#ifEquals renderEnv 'amstelveenlijn'}}

                    <li><a href="/">NL</a></li>
                    <li><a href="/english">EN</a></li>

                {{/ifEquals}}
            </ul>
        </div>

    </div>
    <div class="header-strip-bottom">
        <div id="merkcontainer">

            <svg width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
                <defs>
                    <clipPath id="merkcontainer-clip-path" clipPathUnits="objectBoundingBox">
                        <polygon points="0 0, 1 0, 0.8 1, 0 1"></polygon>
                    </clipPath>
                </defs>
                <!-- {{removeDoubleSlash body.url}}/ -->
                <rect x="0" y="0" width="1" height="1" clip-path="url('#merkcontainer-clip-path')"></rect>
            </svg>
        </div>
        <div class="large-container">
            <a id="homelink" href="/" class="{{renderEnv}}">
                {{#ifEquals renderEnv 'amsteltram'}}
                    {{> woordmerk-amsteltram}}
                {{/ifEquals}}
                {{#ifEquals renderEnv 'amstelveenlijn'}}
                    {{> woordmerk-amstelveenlijn}}
                {{/ifEquals}}
                {{#ifEquals renderEnv 'uithoornlijn'}}
                    {{> woordmerk-uithoornlijn}}
                {{/ifEquals}}
            </a>
            {{> navigation}}
        </div>
    </div>
</header>

<script>
window.onscroll = function() {
	var header = document.getElementById('header');
    var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
    if (scrollPosition > 50) {
    	header.classList.add('condensed');
    } else {
    	header.classList.remove('condensed'); 
    }
};
</script>