<title>{{capitalize renderEnv}} - {{or body.title ''}}</title>
<!--<base href="/">-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

<meta name="description" content="{{excerpt (or body.excerpt body.content)}}">

{{#ifEquals renderEnv 'amsteltram'}}
    <meta property="og:url"content="{{or ../body.url 'http://amstelveenlijn.nl'}}" />
    <meta property="og:title"content="{{or ../body.title (capitalize ../renderEnv)}}" />
    <meta property="og:image"content="https://ucarecdn.com/{{or ../body.main_image.external_id ../body.homeContent.main_image.external_id}}/-/resize/600x/{{or ../body.main_image.filename ../body.homeContent.main_image.filename}}" />
    <meta property="og:description" content="{{excerpt ../body.excerpt}}" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Amstelveenlijn">
    <meta name="twitter:creator" content="@Amstelveenlijn">
    <meta name="twitter:title" content="{{or ../body.title 'Amstelveenlijn'}}">
    <meta name="twitter:description" content="{{or (excerpt ../body.content) (excerpt ../body.page.content)}}">
    <meta name="twitter:image" content="https://ucarecdn.com/{{or ../body.main_image.external_id ../body.homeContent.main_image.external_id}}/-/resize/600x/{{or ../body.main_image.filename ../body.homeContent.main_image.filename}}">

{{/ifEquals}}
{{#ifEquals renderEnv 'amstelveenlijn'}}
    <meta property="og:url"content="{{or ../body.url 'http://amstelveenlijn.nl'}}" />
    <meta property="og:title"content="{{or ../body.title (capitalize ../renderEnv)}}" />
    <meta property="og:image"content="https://ucarecdn.com/{{or ../body.main_image.external_id ../body.homeContent.main_image.external_id}}/-/resize/600x/{{or ../body.main_image.filename ../body.homeContent.main_image.filename}}" />
    <meta property="og:description" content="{{excerpt ../body.excerpt}}" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Amstelveenlijn">
    <meta name="twitter:creator" content="@Amstelveenlijn">
    <meta name="twitter:title" content="{{or ../body.title 'Amstelveenlijn'}}">
    <meta name="twitter:description" content="{{or (excerpt ../body.excerpt) (excerpt ../body.content)}}">
    <meta name="twitter:image" content="https://ucarecdn.com/{{or ../body.main_image.external_id ../body.homeContent.main_image.external_id}}/-/resize/600x/{{or ../body.main_image.filename ../body.homeContent.main_image.filename}}">

{{/ifEquals}}
{{#ifEquals renderEnv 'uithoornlijn'}}
    <meta property="og:url"content="{{or ../body.url 'http://uithoornlijn.nl'}}" />
    <meta property="og:title"content="{{or ../body.title (capitalize renderEnv)}}" />
    <meta property="og:image"content="https://ucarecdn.com/{{or ../body.main_image.external_id ../body.homeContent.main_image.external_id}}/-/resize/600x/{{or ../body.main_image.filename ../body.homeContent.main_image.filename}}" />
    <meta property="og:description" content="{{excerpt (or ../body.content ../body.excerpt)}}" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@uithoornlijn">
    <meta name="twitter:creator" content="@uithoornlijn">
    <meta name="twitter:title" content="{{or ../body.title (capitalize renderEnv)}}">
    <meta name="twitter:description" content="{{excerpt (or ../body.content ../body.excerpt)}}">
    <meta name="twitter:image" content="https://ucarecdn.com/{{or ../body.main_image.external_id ../body.homeContent.main_image.external_id}}/-/resize/600x/{{or ../body.main_image.filename ../body.homeContent.main_image.filename}}">

{{/ifEquals}}


<link rel="stylesheet" href="{{assetsUrl}}/assets/css/main.css">

<link rel="apple-touch-icon" sizes="180x180" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/favicon-16x16.png">
<link rel="manifest" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/site.webmanifest">
<link rel="mask-icon" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel='stylesheet' id='mapbox_css-css'  href='//api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' type='text/css' media='all' />
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

<link rel="alternate" hreflang="en" href="https://amstelveenlijn.nl/english/" />

<script>
	function fadeInImage(element) {
		element.classList.add('loaded');
	}
</script>
<noscript>
	<style type="text/css">

		.noscript { display: block; }
		img { opacity: 1; }

	</style>
</noscript>
