<div id="home-menu">


    <ul>
        <li class="{{renderEnv}}" data-option="news" class="active">{{> icon-news}}</li>
        <li class="{{renderEnv}}" data-option="comments">{{> icon-comments}}</li>
        <li class="{{renderEnv}}" data-option="tweets">{{> icon-tweets}}</li>
        {{#ifEquals renderEnv 'amstelveenlijn'}}
            <li class="{{renderEnv}}" data-option="works">{{> icon-works}}</li>
        {{/ifEquals}}
        <li class="{{renderEnv}}" data-option="map">{{> icon-map}}</li>
        <li class="{{renderEnv}}" data-option="info">{{> icon-info}}</li>
    </ul>

</div>
