<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect fill="transparent" x="0" y="0" width="40" height="40"></rect>
    <g transform="translate(10.000000, 11.000000)">
        <path d="M19.9590255,11.6464005 L19.9590255,18.9797087 L15.6811601,18.9797087 L15.6811601,12.1375413 C15.6811601,10.418733 15.062413,9.24571359 13.5139675,9.24571359 C12.3319258,9.24571359 11.6284919,10.0362427 11.3190255,10.8009466 C11.2061717,11.0743252 11.177123,11.4548325 11.177123,11.8375073 L11.177123,18.9797087 L6.89781903,18.9797087 C6.89781903,18.9797087 6.95545244,7.39132282 6.89781903,6.19067961 L11.1767053,6.19067961 L11.1767053,8.0034733 C11.1680278,8.01703155 11.1567517,8.03165049 11.1485847,8.04479369 L11.1767053,8.04479369 L11.1767053,8.0034733 C11.7451972,7.13330097 12.760464,5.89023058 15.0329466,5.89023058 C17.8483991,5.89018447 19.9590255,7.71810437 19.9590255,11.6464005 Z M2.42148492,0.0257330097 C0.957540603,0.0257330097 0,0.980021845 0,2.23494417 C0,3.46251942 0.929837587,4.44576942 2.36468677,4.44576942 L2.39327146,4.44576942 C3.88556845,4.44576942 4.81364269,3.46270388 4.81364269,2.23494417 C4.78552204,0.980021845 3.88556845,0.0257330097 2.42148492,0.0257330097 Z M0.254153132,18.9797087 L4.53183295,18.9797087 L4.53183295,6.19067961 L0.254153132,6.19067961 L0.254153132,18.9797087 Z" id="LinkedIn"></path>
    </g>
</svg>