<svg viewBox="0 0 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <path d="M48.5,43.1 L40.2,14.8 C40.1,14.5 39.9,14.3 39.7,14.2 C39.5,14.1 39.2,14.1 38.9,14.2 L34.6,15.8 C34.1,16 33.8,16.6 34,17.1 C34.2,17.6 34.8,17.9 35.3,17.7 L38.6,16.5 L46.3,42.8 L33,46.2 L30.2,26.6 C30.1,26.1 29.6,25.7 29.1,25.8 C28.6,25.9 28.2,26.4 28.3,26.9 L31.1,46.2 L18,42.7 L18,29.1 C18,29.1 18,29.1 18,29.1 C18,29 18,28.8 17.9,28.7 C17.8,28.6 17.7,28.4 17.7,28.4 C17.6,28.3 17.5,28.3 17.4,28.2 C17.4,28.2 17.3,28.2 17.3,28.2 C17.2,28.2 17.1,28.2 17,28.2 C17,28.2 16.9,28.2 16.9,28.2 C16.8,28.2 16.7,28.2 16.6,28.3 C16.5,28.4 16.4,28.4 16.3,28.5 C16.3,28.5 16.3,28.5 16.3,28.5 C16.3,28.5 16.3,28.5 16.3,28.5 C16.3,28.6 16.2,28.6 16.2,28.7 C16.2,28.7 16.2,28.7 16.2,28.8 C16.2,28.9 16.1,28.9 16.1,29 C16.1,29 16.1,29 16.1,29 C16.1,29.1 16.1,29.2 16.1,29.2 L16.1,42.8 L2.7,46.1 L6.5,20 L10.1,18.7 C10.6,18.5 10.9,17.9 10.7,17.4 C10.5,16.9 9.9,16.6 9.4,16.8 L5.2,18.3 C4.9,18.4 4.6,18.7 4.6,19.1 L0.5,47.4 C0.5,47.7 0.6,48.1 0.8,48.3 C1,48.5 1.2,48.6 1.5,48.6 C1.6,48.6 1.7,48.6 1.8,48.6 L16.9,44.5 L32,48.6 C32.1,48.6 32.2,48.6 32.3,48.6 C32.4,48.6 32.5,48.6 32.6,48.6 L48,44.5 C48.3,44.4 48.5,44.3 48.6,44 C48.5,43.6 48.5,43.3 48.5,43.1 Z" id="Shape"></path>
    <path d="M22.2,30.4 C22.5,30.4 22.8,30.3 23,30 C23.4,29.5 33.2,17.3 33.2,11.5 C33.2,5.4 28.3,0.5 22.2,0.5 C16.1,0.5 11.2,5.4 11.2,11.5 C11.2,17.3 21,29.5 21.4,30 C21.6,30.3 21.9,30.4 22.2,30.4 Z M22.2,2.5 C27.2,2.5 31.2,6.5 31.2,11.5 C31.2,15.4 25.3,23.8 22.2,27.8 C19.1,23.8 13.2,15.4 13.2,11.5 C13.2,6.5 17.2,2.5 22.2,2.5 Z" id="Shape"></path>
    <path d="M29.2,11.5 C29.2,7.6 26.1,4.5 22.2,4.5 C18.3,4.5 15.2,7.6 15.2,11.5 C15.2,15.4 18.3,18.5 22.2,18.5 C26,18.5 29.2,15.4 29.2,11.5 Z M17.2,11.5 C17.2,8.7 19.4,6.5 22.2,6.5 C25,6.5 27.2,8.7 27.2,11.5 C27.2,14.3 25,16.5 22.2,16.5 C19.4,16.5 17.2,14.3 17.2,11.5 Z" id="Shape"></path>

</svg>