<svg viewBox="0 0 150 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <path d="M91.119,97.813 C89.467,93.698 88.63,89.371 88.63,84.95 C88.63,65.899 104.127,50.402 123.176,50.402 C127.036,50.402 130.851,51.049 134.514,52.326 L133.06,56.492 C129.867,55.378 126.54,54.813 123.176,54.813 C106.56,54.813 93.041,68.334 93.041,84.95 C93.041,88.804 93.771,92.58 95.213,96.171 L91.119,97.813 Z" id="Shape"></path>
    <path d="M76.896,101.508 C66.175,101.508 55.636,98.672 46.417,93.305 L48.636,89.493 C57.182,94.468 66.954,97.097 76.895,97.097 C107.936,97.097 133.19,71.843 133.19,40.801 C133.19,23.042 118.742,8.593 100.983,8.593 C83.223,8.593 68.775,23.042 68.775,40.801 L64.363,40.801 C64.363,20.609 80.79,4.181 100.982,4.181 C121.173,4.181 137.6,20.609 137.6,40.801 C137.603,74.274 110.37,101.508 76.896,101.508 Z" id="Shape"></path>
    <path d="M68.777,98.393 L64.365,98.393 L64.365,73.922 L63.707,74.556 C61.255,76.918 58.017,78.171 54.633,78.146 C51.198,78.076 48.015,76.685 45.655,74.233 L44.454,72.986 C42.841,73.279 41.166,73.261 39.508,72.916 C36.16,72.207 33.295,70.235 31.435,67.362 L30.5,65.918 C28.847,65.902 27.202,65.56 25.642,64.892 C22.513,63.571 20.075,61.095 18.791,57.926 L18.134,56.3 C16.524,55.969 14.981,55.325 13.581,54.384 C10.745,52.463 8.832,49.565 8.188,46.219 L7.86,44.521 C6.339,43.887 4.943,42.954 3.747,41.751 C1.333,39.337 0,36.131 0,32.726 L0,30.52 L67.516,30.52 L67.516,34.932 L4.707,34.932 C5.086,36.316 5.822,37.589 6.871,38.635 C8.444,40.216 10.538,41.084 12.771,41.084 L23.297,41.084 L23.717,45.455 L13.224,47.492 C13.858,48.784 14.822,49.896 16.049,50.728 C17.887,51.964 20.118,52.414 22.32,51.998 L32.651,49.981 L33.901,54.19 L23.981,58.205 C24.852,59.354 26.011,60.258 27.372,60.832 C29.416,61.709 31.681,61.725 33.761,60.882 L43.531,56.936 L45.558,60.832 L36.583,66.655 C37.657,67.62 38.969,68.29 40.417,68.596 C42.61,69.054 44.842,68.64 46.696,67.43 L55.535,61.7 L58.266,65.137 L50.575,72.557 C51.811,73.296 53.227,73.703 54.712,73.737 C56.886,73.741 59.04,72.93 60.647,71.382 L68.779,63.531 L68.779,98.393 L68.777,98.393 Z" id="Shape"></path>
    <path d="M38.075,34.835 L35.766,34.134 C32.5,33.135 29.82,30.933 28.215,27.931 C26.61,24.917 26.269,21.464 27.252,18.206 L27.759,16.528 C26.712,15.257 25.916,13.783 25.422,12.167 C24.415,8.91 24.74,5.453 26.339,2.438 L27.371,0.492 L71.676,23.939 L69.612,27.837 L29.464,6.589 C29.148,7.992 29.202,9.459 29.639,10.871 C30.29,12.998 31.738,14.747 33.717,15.803 L43.027,20.72 L41.358,24.781 L31.118,21.68 C31.077,23.117 31.412,24.549 32.107,25.855 C33.157,27.818 34.913,29.261 37.052,29.915 L39.357,30.614 L38.075,34.835 Z" id="Shape"></path>
    <g transform="translate(133.000000, 23.000000)" id="Rectangle-path">
        <rect transform="translate(8.640421, 5.443808) rotate(70.434432) translate(-8.640421, -5.443808) " x="6.43432441" y="-2.64254505" width="4.41219258" height="16.1727059"></rect>
        <rect transform="translate(9.053881, 14.152607) rotate(19.560170) translate(-9.053881, -14.152607) " x="1.40430339" y="11.9465842" width="15.2991555" height="4.41204485"></rect>
    </g>
    <path d="M114.697,39.925 C110.725,39.925 107.496,36.695 107.496,32.724 C107.496,28.755 110.725,25.526 114.697,25.526 C118.668,25.526 121.897,28.755 121.897,32.724 C121.897,36.695 118.668,39.925 114.697,39.925 Z M114.697,29.938 C113.158,29.938 111.907,31.188 111.907,32.724 C111.907,34.262 113.158,35.514 114.697,35.514 C116.234,35.514 117.486,34.263 117.486,32.724 C117.486,31.188 116.234,29.938 114.697,29.938 Z" id="Shape"></path>

</svg>