<svg class="icon" width="88px" height="54px" viewBox="0 0 88 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M87.77,46.42 C87.77,48.29 87.04,50.05 85.72,51.37 C84.36,52.73 82.56,53.42 80.77,53.42 C78.98,53.42 77.19,52.74 75.82,51.37 L44,19.55 L12.18,51.37 C9.45,54.1 5.01,54.1 2.28,51.37 C0.96,50.05 0.23,48.29 0.23,46.42 C0.23,44.55 0.96,42.79 2.28,41.47 L42.59,1.16 C43.37,0.38 44.64,0.38 45.42,1.16 L85.72,41.47 C87.04,42.79 87.77,44.55 87.77,46.42 Z" id="Shape"></path>
</svg>