<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="20px" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>noun_Tree_2558428</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="noun_Tree_2558428" transform="translate(-3.000000, 0.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g transform="translate(3.000000, 0.000000)" id="Shape">
                <path d="M8.75302615,20 L6.25302615,20 L6.25302615,12.152 C5.41502615,12.606 4.57702615,12.636 3.75502615,12.152 C2.97762597,11.7152275 2.49773912,10.8916896 2.50102615,10 C1.35300602,9.99599688 0.354021775,9.2136102 0.0750261506,8.1 C-0.0502263607,7.60855172 -0.0180469759,7.0901838 0.167026151,6.618 C0.430372681,5.93127959 0.983841382,5.39611342 1.67902615,5.156 C1.03242469,4.19711744 1.12407103,2.92067377 1.90102615,2.064 C2.25225669,1.67465379 2.71913702,1.40826561 3.23302615,1.304 C3.89699455,1.16284452 4.5898224,1.29707991 5.15302615,1.676 C5.17102615,1.632 5.18502615,1.592 5.20102615,1.552 C5.21702615,1.512 5.23502615,1.468 5.25502615,1.428 C5.5881803,0.708833652 6.24816372,0.194851078 7.02702615,0.048 C7.13302615,0.024 7.24302615,0.016 7.35302615,0 L7.65302615,0 L7.70102615,0 C7.79302615,0.012 7.88702615,0.018 7.97702615,0.038 C8.82673459,0.202061824 9.52773789,0.800534846 9.82302615,1.614 L9.84502615,1.666 C10.8006602,1.0285445 12.0668314,1.11992617 12.9210262,1.888 C13.2969905,2.22109777 13.5615855,2.66162413 13.6790262,3.15 C13.848913,3.83647814 13.7210845,4.56277621 13.3270262,5.15 C14.4650967,5.54023911 15.1584238,6.69156685 14.9710262,7.88 C14.8938765,8.40385265 14.6481406,8.88830345 14.2710262,9.26 C13.8048329,9.73507842 13.1666327,10.0018966 12.5010262,10 C12.4630262,10.944 12.0670262,11.684 11.2450262,12.156 C10.4230262,12.628 9.58302615,12.592 8.74702615,12.156 L8.74702615,20 L8.75302615,20 Z"></path>
            </g>
        </g>
    </g>
</svg>