<svg width="52px" height="40px" viewBox="0 0 52 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M47.9,0 L4.1,0 C2.16700338,0 0.6,1.56700338 0.6,3.5 C0.6,5.43299662 2.16700338,7 4.1,7 L47.9,7 C49.8329966,7 51.4,5.43299662 51.4,3.5 C51.4,1.56700338 49.8329966,0 47.9,0 Z" id="Shape"></path>
    <path d="M47.9,16.5 L4.1,16.5 C2.16700338,16.5 0.6,18.0670034 0.6,20 C0.6,21.9329966 2.16700338,23.5 4.1,23.5 L47.9,23.5 C49.8329966,23.5 51.4,21.9329966 51.4,20 C51.4,18.0670034 49.8329966,16.5 47.9,16.5 Z" id="Shape"></path>
    <path d="M51.4,36.5 C51.4,34.5670034 49.8329966,33 47.9,33 L4.1,33 C2.16700338,33 0.6,34.5670034 0.6,36.5 C0.6,38.4329966 2.16700338,40 4.1,40 L47.9,40 C49.8329966,40 51.4,38.4329966 51.4,36.5 Z" id="Shape"></path>
</svg>