<svg width="14px" height="13px" viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M13.5,13 L2.5,13 C2.224,13 2,12.776 2,12.5 L2,2.5 C2,2.224 2.224,2 2.5,2 L13.5,2 C13.776,2 14,2.224 14,2.5 L14,12.5 C14,12.776 13.776,13 13.5,13 Z M3,12 L13,12 L13,3 L3,3 L3,12 Z" id="Shape"></path>
    <path d="M0.5,11 C0.224,11 0,10.776 0,10.5 L0,0.5 C0,0.224 0.224,0 0.5,0 L11.5,0 C11.776,0 12,0.224 12,0.5 C12,0.776 11.776,1 11.5,1 L1,1 L1,10.5 C1,10.776 0.776,11 0.5,11 Z" id="Shape"></path>
    <path d="M11.5,11 C11.334,11 11.171,10.917 11.076,10.765 L8.97,7.395 L7.516,9.404 C7.354,9.629 7.041,9.676 6.818,9.516 C6.594,9.354 6.544,9.041 6.706,8.818 L8.595,6.208 C8.693,6.072 8.882,5.99 9.017,6 C9.184,6.005 9.336,6.093 9.424,6.234 L11.924,10.234 C12.07,10.467 11.999,10.776 11.765,10.922 C11.683,10.976 11.591,11 11.5,11 Z" id="Shape"></path>
    <path d="M8.5,11 C8.372,11 8.244,10.951 8.146,10.854 L6.5,9.207 L4.854,10.853 C4.659,11.048 4.342,11.048 4.147,10.853 C3.952,10.658 3.952,10.341 4.147,10.146 L6.147,8.146 C6.342,7.951 6.659,7.951 6.854,8.146 L8.854,10.146 C9.049,10.341 9.049,10.658 8.854,10.853 C8.756,10.951 8.628,11 8.5,11 Z" id="Shape"></path>
    <path d="M5.5,7 C4.673,7 4,6.327 4,5.5 C4,4.673 4.673,4 5.5,4 C6.327,4 7,4.673 7,5.5 C7,6.327 6.327,7 5.5,7 Z M5.5,5 C5.224,5 5,5.224 5,5.5 C5,5.776 5.224,6 5.5,6 C5.776,6 6,5.776 6,5.5 C6,5.224 5.776,5 5.5,5 Z" id="Shape"></path>
</svg>