<svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="noun_Tree_2558428" transform="translate(0.000000, -2.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="noun_Water_3557566" transform="translate(0.000000, 2.000000)">
                <path d="M17.5032258,14.8387097 C16.9064516,14.1548387 16.083871,13.2258065 14.516129,13.2258065 C12.9483871,13.2258065 12.1290323,14.1612903 11.5290323,14.8387097 C10.9290323,15.516129 10.6612903,15.8064516 10,15.8064516 C9.33870968,15.8064516 9.03225806,15.483871 8.47096774,14.8387097 C7.90967742,14.1935484 7.0516129,13.2258065 5.48387097,13.2258065 C3.91612903,13.2258065 3.09677419,14.1612903 2.49677419,14.8387097 C1.89677419,15.516129 1.61290323,15.8064516 0.967741935,15.8064516 L0,15.8064516 L0,17.7419355 L0.967741935,17.7419355 C2.53548387,17.7419355 3.35483871,16.8064516 3.95483871,16.1290323 C4.55483871,15.4516129 4.83870968,15.1612903 5.48387097,15.1612903 C6.12903226,15.1612903 6.4516129,15.483871 7.01290323,16.1290323 C7.57419355,16.7741935 8.43225806,17.7419355 10,17.7419355 C11.5677419,17.7419355 12.3870968,16.8064516 12.9870968,16.1290323 C13.5870968,15.4516129 13.8709677,15.1612903 14.516129,15.1612903 C15.1612903,15.1612903 15.483871,15.483871 16.0451613,16.1290323 C16.6064516,16.7741935 17.4645161,17.7419355 19.0322581,17.7419355 L20,17.7419355 L20,15.8064516 L19.0322581,15.8064516 C18.3870968,15.8064516 18.0645161,15.483871 17.5032258,14.8387097 Z" id="Shape"></path>
                <path d="M14.1935484,6.58064516 C14.1935484,4.64516129 12.2322581,2.42258065 11.3870968,1.55483871 L10,0.125806452 L8.61290323,1.55483871 C7.76774194,2.42258065 5.80645161,4.6483871 5.80645161,6.58064516 C5.80645161,9 7.68709677,10.9677419 10,10.9677419 C12.3129032,10.9677419 14.1935484,9 14.1935484,6.58064516 Z M7.74193548,6.58064516 C7.74193548,5.22580645 10,2.90322581 10,2.90322581 C10,2.90322581 12.2580645,5.22580645 12.2580645,6.58064516 C12.2580645,7.93548387 11.2483871,9.03225806 10,9.03225806 C8.7516129,9.03225806 7.74193548,7.93548387 7.74193548,6.58064516 Z" id="Shape"></path>
            </g>
        </g>

</svg>
