<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
    <g stroke="none" stroke-width="1" fill-rule="evenodd">

        <g id="003-social-2" transform="translate(15.000000, 10.000000)">
            <path d="M2.18222772,4.0587007 L2.18222772,6.94403248 L0.0344554455,6.94403248 L0.0344554455,10.4722274 L2.18222772,10.4722274 L2.18222772,20.9567819 L6.59420792,20.9567819 L6.59420792,10.4725197 L9.55485149,10.4725197 C9.55485149,10.4725197 9.83212871,8.78077726 9.96653465,6.9310232 L6.61089109,6.9310232 L6.61089109,4.51865429 C6.61089109,4.15809745 7.09193069,3.67309977 7.56737624,3.67309977 L9.97118812,3.67309977 L9.97118812,4.87238976e-05 L6.70282178,4.87238976e-05 C2.07316832,-0.000194895592 2.18222772,3.53150812 2.18222772,4.0587007 Z" id="Facebook"></path>
        </g>
    </g>
</svg>