
<svg width="40px" height="78px" viewBox="0 0 40 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M0.5429688,77.2070313 C0.7382813,77.4023438 0.9941406,77.5 1.25,77.5 C1.5058594,77.5 1.7617188,77.4023437 1.9570313,77.2070312 L39.4570313,39.7070312 C39.8476563,39.3164062 39.8476563,38.6835937 39.4570313,38.2929687 L1.9570313,0.7929687 C1.5664063,0.4023437 0.9335938,0.4023437 0.5429688,0.7929687 C0.1523438,1.1835937 0.1523438,1.8164062 0.5429688,2.2070312 L37.3359375,39 L0.5429688,75.7929688 C0.1523438,76.1835938 0.1523438,76.8164063 0.5429688,77.2070313 Z" id="Shape"></path>
</svg>