<svg viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(1.000000, 1.000000)" stroke-width="3" fill="transparent">
            <path d="M57.5,29 C57.5,44.7 44.7,57.5 29,57.5 C22.9,57.5 17.2,55.6 12.5,52.3 L0.5,57.5 L5.7,45.5 C2.4,40.9 0.5,35.2 0.5,29 C0.5,13.3 13.3,0.5 29,0.5 C44.7,0.5 57.5,13.3 57.5,29 Z" id="Shape"></path>
        </g>
</svg>