<?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="noun_Tree_2558428" transform="translate(-3.000000, 0.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="noun_preparation_2505127" transform="translate(3.000000, 0.000000)">
                <g id="Group" transform="translate(0.000000, 0.637820)">
                    <path d="M9.28702913,1.89999844e-05 C7.81493883,-0.00270433112 6.37862276,0.781859916 5.59654118,2.17744255 C4.85500619,3.50065214 4.86882277,5.0682543 5.49908118,6.34094082 L4.03718015,8.74930285 C3.85922962,9.0480175 3.95270714,9.43662886 4.24623096,9.61838368 C4.53975479,9.8001385 4.92274625,9.70656464 5.10274361,9.40911742 L6.29175631,7.4626429 C6.54239566,7.71711814 6.83075948,7.93952984 7.14940505,8.12906735 C7.38523539,8.26934002 7.62849515,8.38338848 7.87710678,8.47217541 L2.95212482,17.2676377 C2.6891207,17.7369584 2.1596931,17.8776216 1.71113323,17.6107563 C1.26633705,17.346192 1.10993952,16.7694792 1.36677434,16.3042962 C1.36780879,16.3021851 1.36571879,16.2996518 1.36677434,16.2977518 L4.06966675,11.5074124 C4.19530675,11.3110503 4.20403117,11.0603179 4.0923526,10.8554396 C3.98067404,10.6505614 3.76681072,10.5249592 3.5362495,10.5288396 C3.30568829,10.5327201 3.09604082,10.6654501 2.99110877,10.873974 L0.28821616,15.6709212 C0.288205064,15.6731027 0.288205064,15.6752842 0.28821616,15.6774656 C-0.303467634,16.7332948 0.0437167598,18.0930181 1.07439414,18.7060632 C2.10306048,19.3180527 3.44077444,18.9405441 4.03068279,17.8878816 L9.1765744,8.70971321 C10.6760293,8.7402673 12.1484694,7.9537165 12.9450303,6.53228966 C13.7795106,5.04319965 13.6628949,3.25251234 12.7825969,1.91351377 C12.6621206,1.73182731 12.4577708,1.62623523 12.242226,1.63429222 C12.0266812,1.64234921 11.8305284,1.76291194 11.7235308,1.95310129 L10.0732069,4.88932511 L8.9816542,4.89591178 L8.42288323,3.89957581 L10.0732069,0.956754773 C10.1282634,0.860548661 10.1573959,0.751312682 10.1576724,0.64003981 C10.1585134,0.307488417 9.90600187,0.0308861354 9.57940933,0.00660777238 C9.4811127,-0.000675555003 9.38516848,0.000189999845 9.28702913,0 L9.28702913,1.89999844e-05 Z M8.37090455,1.43843816 L7.16239956,3.58946862 C7.05347409,3.78377313 7.05347409,4.02199894 7.16239956,4.21630344 L8.07202699,5.83947211 C8.18277746,6.03975912 8.39161208,6.16347139 8.61780323,6.16278641 L10.4370579,6.15619974 C10.6595756,6.15586053 10.8650674,6.0351758 10.976337,5.83948267 L12.171847,3.70824808 C12.3234367,4.43197438 12.2486515,5.21189207 11.8599749,5.90546539 C11.0273758,7.39120296 9.21550643,7.88782455 7.77964678,7.03376681 C6.34380296,6.17969639 5.84900009,4.2899896 6.68159672,2.80428793 C7.07144685,2.10862039 7.68985876,1.66248809 8.37090455,1.43844871 L8.37090455,1.43843816 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>