<?xml version="1.0" encoding="UTF-8"?>
<svg width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>noun_Cable_3057626</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="noun_Tree_2558428" transform="translate(-4.000000, 0.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="noun_Cable_3057626" transform="translate(4.000000, 0.000000)">
                <path d="M11.3333333,20 C10.9651435,20 10.6666667,19.7015232 10.6666667,19.3333333 L10.6666667,2 C10.6666667,1.63181017 10.3681898,1.33333333 10,1.33333333 C9.63181017,1.33333333 9.33333333,1.63181017 9.33333333,2 L9.33333333,18 C9.33212086,19.1040669 8.43740022,19.9987875 7.33333333,20 L4.66666667,20 C3.56259978,19.9987875 2.66787914,19.1040669 2.66666667,18 L2.66666667,10 C2.66666667,9.63181017 2.9651435,9.33333333 3.33333333,9.33333333 C3.70152317,9.33333333 4,9.63181017 4,10 L4,18 C4.0003308,18.3680527 4.29861394,18.6663359 4.66666667,18.6666667 L7.33333333,18.6666667 C7.70143173,18.666446 7.99977934,18.3680984 8,18 L8,2 C8,0.8954305 8.8954305,1.48029737e-16 10,0 C11.1045695,-2.22044605e-16 12,0.8954305 12,2 L12,19.3333333 C12,19.7015232 11.7015232,20 11.3333333,20 Z" id="Shape"></path>
                <path d="M4.72333333,10.6666667 L1.94333333,10.6666667 C0.870547353,10.6654909 0.00117573746,9.79611931 0,8.72333333 L0,7.33333333 C-5.92118946e-16,6.9651435 0.298476833,6.66666667 0.666666667,6.66666667 L6,6.66666667 C6.36818983,6.66666667 6.66666667,6.9651435 6.66666667,7.33333333 L6.66666667,8.72333333 C6.66549093,9.79611931 5.79611931,10.6654909 4.72333333,10.6666667 Z M1.33333333,8 L1.33333333,8.72333333 C1.33377406,9.06004431 1.60662236,9.33289261 1.94333333,9.33333333 L4.72333333,9.33333333 C5.06004431,9.33289261 5.33289261,9.06004431 5.33333333,8.72333333 L5.33333333,8 L1.33333333,8 Z" id="Shape"></path>
                <path d="M2,8 C1.63181017,8 1.33333333,7.70152317 1.33333333,7.33333333 L1.33333333,4.66666667 C1.33333333,4.29847683 1.63181017,4 2,4 C2.36818983,4 2.66666667,4.29847683 2.66666667,4.66666667 L2.66666667,7.33333333 C2.66666667,7.70152317 2.36818983,8 2,8 Z" id="Shape"></path>
                <path d="M4.66666667,8 C4.29847683,8 4,7.70152317 4,7.33333333 L4,4.66666667 C4,4.29847683 4.29847683,4 4.66666667,4 C5.0348565,4 5.33333333,4.29847683 5.33333333,4.66666667 L5.33333333,7.33333333 C5.33333333,7.70152317 5.0348565,8 4.66666667,8 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>