<div class="image_container {{fit}}">

	{{#if img.thumb_groot.url}}
	<noscript><!--[if IE 9]></noscript><![endif]-->

	<img 

		srcset="

			{{img.thumb_groot.url}} 500w,
			{{img.thumb_klein.url}} 250w
		"
		sizes="
			(max-width: 1280px) 410px, 
			(max-width: 1024px) 320px,
			(max-width: 786px) 370px,
			410px
		"

		src="{{img.thumb_groot.url}}" 
		alt="{{img.caption}}" 
		title="{{img.title}}"

		onload="fadeInImage(this)"
	/></noscript>
	{{else}}
	<noscript><img 

		srcset="

			{{img.sizes.maxi}} 2560w,
			{{img.sizes.medium}} 1280w,
			{{img.sizes.klein}} 768w
		"

		sizes="
			(max-width: 1280px) 1000px, 
			(max-width: 1024px) 786px,
			(max-width: 786px) 600px,
			1280px
		"

		src="{{img.sizes.medium}}" 
		alt="{{img.caption}}" 
		title="{{img.title}}"
		onload="fadeInImage(this)"
	/>

	<!--[if IE 9]><noscript><![endif]--></noscript>

	{{/if}}

</div>