
<div id="kaart">
<!--<div id="kaart-explanation">-->

        <!--<div id="kaart-explanation-scrolltainer">-->

            <!--<h3>Actuele werkzaamheden</h3>-->
            <!--In 2019 vinden er werkzaamheden plaats voor de ombouw van de Amstelveenlijn. Via deze kaart en informatieve zijbalk houden we u op de hoogte.-->
            <!--&lt;!&ndash;<h4>Uw selectie</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>Mogelijk heeft u behoefte aan informatie over een deel van het traject. U kunt uw eigen selectie samenstellen door op locaties in de kaart te klikken. Als u een locatie toevoegt aan uw selectielijst dan wordt het bolletje blauw. De selectielijst wordt bewaard door uw browser (de software waarmee u internetpagina's bekijkt). De lijst wordt dus alleen onthouden op een en hetzelfde apparaat.</span>&ndash;&gt;-->
            <!--<h4>Navigeren op de kaart</h4>-->
            <!--<span>Wanneer u de ctrl knop ingedrukt houdt en met uw muis of trackpad de kaart beweegt, kunt u de kaart draaien en tilten. U zoomt in door twee maal te klikken. Linksboven in de kaart staan ook navigatieknoppen.</span>-->
        <!--</div>-->

	<!--<div id="kaart-uitleg-sluit-knop" class="hide-explanation">-->
		<!--<span>Deze uitleg niet meer tonen</span>-->
		<!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">-->
		<!--<path fill="#000000" d="M10.707 10.5l5.646-5.646c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-5.646 5.646-5.646-5.646c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l5.646 5.646-5.646 5.646c-0.195 0.195-0.195 0.512 0 0.707 0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l5.646-5.646 5.646 5.646c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146c0.195-0.195 0.195-0.512 0-0.707l-5.646-5.646z"></path>-->
		<!--</svg>-->
	<!--</div>-->

<!--</div>-->

	<div id="map-container"></div>

	<div id="kaart-info-balk">

		<div id="kaart-info-balk-header">
			<h2>Werkzaamheden</h2>
		</div>
		<div id="kaart-info-balk-navigatie">
			<span id="tab_alles" class="tab active switch-info">Alles</span>
			<span id="tab_actueel" class="tab switch-info">Actueel</span>
			<span id="tab_selectie" class="tab switch-info"></span>
		</div>
		<div id="kaart-info-balk-wrapper">
			<div id="kaart-info-balk-body">
				<div id="all_locations">

                        {{#each body.mapDataAll as |location|}}

                            <div class="location-block {{location.slug}}">
                                <h3 class="numbered">
                                    {{#ifIn 'kruispunt' location.types}}{{> icon-crossing }}{{/ifIn}}
                                    <span class="circle {{location.stopType}} {{explode location.types}}"></span>
                                    {{location.title}}
                                </h3>
                                {{{location.content}}}

                                {{#each location.works as |activiteit|}}
                                    <div class="activiteit">
                                        <h4>{{activiteit.title}}</h4>
                                        <div class="datum">{{quarterifyDate activiteit.start}} - {{quarterifyDate activiteit.end}}</div>
                                        {{{activiteit.content}}}
                                    </div>
                                {{/each}}

                            </div>
                        {{/each}}
				</div>
				<div id="relevant_locations">

                        {{#each body.mapDataFiltered as |location|}}

                            {{#if location.works }}
                                <div class="location-block {{location.slug}}">
                                <h3 class="numbered">
                                    {{#ifIn 'kruispunt' location.types}}{{> icon-crossing }}{{/ifIn}}
                                    <span class="circle {{location.stopType}} {{explode location.types}}"></span>
                                    {{location.title}}
                                </h3>

                                {{#each location.works as |activiteit|}}
                                    <div class="activiteit">
                                        <h4>{{activiteit.title}}</h4>
                                        <div class="datum">{{quarterifyDate activiteit.start}} - {{quarterifyDate activiteit.end}}</div>
                                        {{{activiteit.content}}}
                                    </div>
                                {{/each}}
                                </div>
                            {{/if}}
                        {{/each}}
				</div>
				<div id="selected_locations">
				</div>
			</div>
		</div>
	</div>
</div>
