<!--<a id="monitor-link" href="/uwmeningtelt">-->

<!--    <div class="img-container">-->
<!--        <img src="https://ucarecdn.com/c50a7000-ae31-44f1-97af-bc2934fe4310/-/resize/600/mening_button.jpeg"   />-->
<!--    </div>-->

<!--    <div>-->
<!--        <h2>Uw mening telt!</h2>-->
<!--        <span>Meld u aan voor onze tevredenheidsmonitor.</span>-->
<!--    </div>-->

<!--</a>-->

<a id="monitor-link" class="testtrams" href="/over-het-project?block=testen-en-oefenen">

    <div class="img-container">
        <img src="https://ucarecdn.com/78a8651d-7708-4d1a-8025-cce25b204009/-/resize/600/Amstelveenlijn200715-testrit-15G-Sportlaan001-scaled.jpg"   />
    </div>

    <div>
        <h2>Geen dienst <span>Wel opletten!</span></h2>
        <span>Vanaf maandag 17 augustus rijden er testtrams op de Amstelveenlijn.</span>
    </div>

</a>