
<ul id="hamburger" >
    <li id="open-mobile-menu">
        {{> icon-hamburger }}
    </li>
    <li id="close-mobile-menu">
         {{> icon-chevron-up }}
    </li>
</ul>


<nav id="nav">

    {{#ifEquals renderEnv 'amstelveenlijn'}}

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/over-het-project">Project</a></li>
            <li><a href="/werkzaamheden-en-planning">Werkzaamheden</a></li>
            <li><a href="/schadeloket">Schadeloket</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/zoeken/?filter[type]=post&filter[env]=amstelveenlijn&page=1">Nieuwsarchief</a></li>
            <li>
                <input id="search-input" type="text" onkeyup="menu.onEnterSearch(event)" placeholder="Zoeken">
                <button onclick="menu.search('amstelveenlijn')"><svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Group-4" stroke="#000000" fill="transparent" stroke-width="2"><circle id="Oval" cx="7" cy="7" r="6"></circle><path d="M11.5,11.5 L17.1568542,17.1568542" id="Line" stroke-linecap="square"></path></g></svg></button>
            </li>
        </ul>

    {{/ifEquals}}

    {{#ifEquals renderEnv 'uithoornlijn'}}

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/project">Project</a></li>
            <li><a href="/werkzaamheden-en-planning">Werkzaamheden</a></li>
            <li><a href="/documenten">Documenten</a></li>
            <li><a href="/veelgestelde-vragen">FAQ</a></li>
            <li><a href="/schade">Schade</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>
                <input id="search-input" type="text" onkeyup="menu.onEnterSearch(event)" placeholder="Zoeken">
                <button onclick="menu.search('uithoornlijn')"><svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Group-4" stroke="#000000" fill="transparent" stroke-width="2"><circle id="Oval" cx="7" cy="7" r="6"></circle><path d="M11.5,11.5 L17.1568542,17.1568542" id="Line" stroke-linecap="square"></path></g></svg></button>
            </li>
        </ul>


    {{/ifEquals}}


    {{#ifEquals renderEnv 'amsteltram'}}

        <ul>
            <li><a href="/">Home</a></li>
            <!--<li><a href="/project">Project</a></li>-->
            <!--<li><a href="/planning-en-fasering">Planning en fasering</a></li>-->
            <li><a href="/achtergrond">Achtergrond</a></li>
            <li><a href="/schadeloket">Schadeloket</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>
                <input id="search-input" type="text" onkeyup="menu.onEnterSearch(event)" placeholder="Zoeken">
                <button onclick="menu.search('amsteltram')"><svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Group-4" stroke="#000000" fill="transparent" stroke-width="2"><circle id="Oval" cx="7" cy="7" r="6"></circle><path d="M11.5,11.5 L17.1568542,17.1568542" id="Line" stroke-linecap="square"></path></g></svg></button>
            </li>
        </ul>


    {{/ifEquals}}
</nav>



<script>

	var mobileMenu = document.getElementById('mobile-menu');


	openMobileMenu = function() {

		var openMobileMenu = document.getElementById('open-mobile-menu');
		var closeMobileMenu = document.getElementById('close-mobile-menu');

		mobileMenu.classList.add("open");
		openMobileMenu.style.display = 'none';
		closeMobileMenu.style.display = 'block';
	}

	closeMobileMenu = function() {

		var openMobileMenu = document.getElementById('open-mobile-menu');
		var closeMobileMenu = document.getElementById('close-mobile-menu');

		mobileMenu.classList.remove("open");
		openMobileMenu.style.display = 'block';
		closeMobileMenu.style.display = 'none';
	}

</script>
