
    {{#each sections as |sectie|}}
    <section class="sectie {{sectie.type}} {{sectie.image.type}} ">

        {{#ifEquals sectie.type 'paragraaf'}}
            <div class="text">{{{sectie.tekst}}}</div>
        {{/ifEquals}}

        {{#ifEquals sectie.type 'chapter'}}
            <a class="anchor" id="{{sectie.slug}}"></a>
            <div class="text"><h2>{{sectie.title}}</h2></div>
        {{/ifEquals}}


        {{#ifEquals sectie.type 'image-single'}}

            {{> responsive-image title=sectie.image.alttext external_id=sectie.image.external_id filename=sectie.image.filename }}
            {{#if sectie.image.caption}}
                <div class="bijschrift">
                            <span class="caption">
                                <span class="light">{{{sectie.image.caption}}}</span>
                            </span>
                </div>
            {{/if}}

        {{/ifEquals}}

        {{#ifEquals sectie.type 'image-large'}}

            {{> responsive-image title=sectie.image.alttext external_id=sectie.image.external_id filename=sectie.image.filename }}
            {{#if sectie.image.caption}}
                <div class="bijschrift">
                            <span class="caption">
                                <span class="light">{{{sectie.image.caption}}}</span>
                            </span>
                </div>
            {{/if}}

        {{/ifEquals}}



        {{#ifEquals sectie.type 'image-left'}}

            <div class="col-60">
                {{> responsive-image title=sectie.image.alttext external_id=sectie.image.external_id filename=sectie.image.filename }}
            </div>
            <div class="col-40 bijschrift">
                <span class="caption">
                    <span>{{{sectie.image.caption}}}</span>
                </span>
            </div>

        {{/ifEquals}}

        {{#ifEquals sectie.type 'image-right'}}

            <div class="col-40 bijschrift">
                            <span class="caption">
                                <span>{{{sectie.image.caption}}}</span>
                            </span>
            </div>
            <div class="col-60">
                {{> responsive-image title=sectie.image.alttext external_id=sectie.image.external_id filename=sectie.image.filename }}
            </div>

        {{/ifEquals}}

        {{#ifEquals sectie.image.type 'image-multiple'}}

            <div class="col-40 bijschrift">
                            <span class="caption">
                                <span>{{{sectie.image.caption}}}</span>
                            </span>
            </div>
            <div class="col-60">
                {{> responsive-image title=sectie.image.alttext external_id=sectie.image.external_id filename=sectie.image.filename }}
            </div>

        {{/ifEquals}}



        {{#ifEquals sectie.type 'foto_combi'}}
            <div class="col-60">
                {{> image img=sectie.afbeelding1 fit="horizontal"}}
            </div>
            <div class="col-40 zijkant">
                {{> image img=sectie.afbeelding2 fit="horizontal"}}
                {{#if sectie.afbeelding1.caption}}
                    <div class="bijschrift">
								<span class="caption boven">
							<!-- 		<img class="fotopijltje boven" ng-src="/assets/img/iconen/angle_zwart.png" alt="" title="" />
									 --><span>{{{sectie.afbeelding2.caption}}}</span>
								</span>
                        <span class="caption zij">
								<!-- 	<img class="fotopijltje links" ng-src="/assets/img/iconen/angle_zwart.png" alt="" title="" />
									 --><span>{{{sectie.afbeelding1.caption}}}</span>
								</span>
                    </div>
                {{/if}}
            </div>
        {{/ifEquals}}

        {{#ifEquals sectie.type 'foto_combi_2'}}

            <div class="col-40 zijkant">
                {{> image img=sectie.afbeelding2 fit="horizontal"}}

                {{#if sectie.afbeelding1.caption}}
                    <div class="bijschrift">

								<span class="caption boven">
							<!-- 		<img class="fotopijltje boven" ng-src="/assets/img/iconen/angle_zwart.png" alt="" title="" />
									 --><span>{{{sectie.afbeelding2.caption}}}</span>
								</span>
                        <span class="caption zij">
								<!-- 	<img class="fotopijltje links" ng-src="/assets/img/iconen/angle_zwart.png" alt="" title="" />
									 --><span>{{{sectie.afbeelding1.caption}}}</span>
								</span>
                    </div>
                {{/if}}
            </div>
            <div class="col-60">
                {{> image img=sectie.afbeelding1 fit="horizontal"}}
            </div>

        {{/ifEquals}}
        {{#ifEquals sectie.type 'images-equal'}}
            <div class="sectioncontainer container">
                <div class="col-50">
                    {{> image img=sectie.afbeelding1 fit="horizontal"}}
                    <span class="caption boven">
							<!-- 		<img class="fotopijltje boven" ng-src="/assets/img/iconen/angle_zwart.png" alt="" title="" />
									 --><span>{{{sectie.afbeelding2.caption}}}</span>
							</span>
                </div>
                <div class="col-50">
                    {{> image img=sectie.afbeelding2 fit="horizontal"}}
                    <span class="caption">
								<!-- 	<img class="fotopijltje links" ng-src="/assets/img/iconen/angle_zwart.png" alt="" title="" />
									 --><span>{{{sectie.afbeelding1.caption}}}</span>
							</span>
                </div>
            </div>
        {{/ifEquals}}
        {{#ifEquals sectie.type 'quote'}}
            <!-- <div class="section container container">
                <div> -->
            <div class="quote_text">"{{sectie.text}}"</div>
            <span class="quote_author">{{sectie.name}}</span>
            <!-- </div>
        </div> -->
        {{/ifEquals}}
        {{#ifEquals sectie.type 'downloads'}}
            <div class="sectioncontainer container">
                <h2>Documenten</h2>
                <ul>
                    {{#each sectie.downloads as |doc| }}
                        <a href="{{doc.url}}" target="_blank">
                            <li>
                                <div class="small-block-header">
                                    <div class="shape">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                            <path fill="#000000" d="M14.5 18h-10c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                            <path fill="#000000" d="M16.5 3c-0.276 0-0.5 0.224-0.5 0.5v15c0 0.276-0.224 0.5-0.5 0.5h-11c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5h9c0.827 0 1.5-0.673 1.5-1.5v-12c0-0.827-0.673-1.5-1.5-1.5h-10c-0.827 0-1.5 0.673-1.5 1.5v15c0 1.378 1.122 2.5 2.5 2.5h11c0.827 0 1.5-0.673 1.5-1.5v-15c0-0.276-0.224-0.5-0.5-0.5zM3.5 2h10c0.276 0 0.5 0.224 0.5 0.5v12c0 0.276-0.224 0.5-0.5 0.5h-9c-0.562 0-1.082 0.187-1.5 0.501v-13.001c0-0.276 0.224-0.5 0.5-0.5z"></path>
                                        </svg>
                                    </div>
                                    <div class="text-block">
                                        <h3>{{doc.title}}</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                    {{/each}}
                </ul>
            </div>
        {{/ifEquals}}
    </section>
{{/each}}
