
<svg id="reply-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.3 17.82"><path d="M38.86,29.88A10.89,10.89,0,0,0,28,19H11.68" transform="translate(-10.21 -12.72)"/><polyline points="6.33 12.01 0.66 6.33 6.33 0.66"/></svg>