<div id="respond">

	<div>
		<span>Reageer op: </span>
		<span id="parent_title"></span>
<!-- 		<span id="closeform" onclick="respond.close()"{{> close}}</span>
 -->	</div>

	<label>Naam</label>
	<input required minlength="2" type="text" name="author" id="respondAuthor" placeholder="naam" size="22">
	
	<label>Email</label>
	<input required type="email" name="email" id="respondEmail" placeholder="email" size="22">

	<textarea id="respondMessage" rows="5" aria-required="true"></textarea>

	<button id="respondButton" class="large" onclick="respond.submitfromdashboard()">Verstuur</button>

</div>