<a href="{{item.url}}" class="small-block">
	<article class="small-block-header">
		{{#if item.main_image}}
            {{> responsive-image format='square' size='fourth' title=item.main_image.overlay_text external_id=item.main_image.external_id filename=item.main_image.filename }}
        {{else}}
			<div class="shape"></div>
		{{/if}}
		<div class="overlay">
			<span class="datum">{{formatDate item.date 'long'}}</span>
			{{#if_equals item.type 'interview'}}
				<h3>{{highlight item.quote item.searchterm}}</h3>
			{{else}}
	    		<h3>{{highlight item.title item.searchterm}}</h3>
	  		{{/if_equals}}
	  		{{#if_equals item.type 'interview'}}
				<h3>Interview met {{item.title}}</h3>
			{{/if_equals}}

			<h3>

                {{highlight item.title item.searchterm}}


            </h3>

		</div>
	</article>
	{{#if item.searchsnippet}}
		<div class="searchsnippet">
			{{highlight item.searchsnippet item.searchterm}}
		</div>
	{{/if}}
</a>
