<div id="social-buttons-wrapper">

    <div class="question">Wil u dit bericht delen?</div>

    <div class="social_links">

        <ul>
            <li onclick="socialDialogue.windowpop('https://facebook.com/sharer/sharer.php?u={{body.url}}',700,500)">
                {{> icon-facebook }}
            </li>
            <li onclick="socialDialogue.windowpop('https://twitter.com/intent/tweet/?text={{body.title}}&url={{body.url}}',700,500)">
                {{> icon-twitter }}
             </li>

            <li onclick="socialDialogue.windowpop('https://www.linkedin.com/shareArticle?mini=true&url={{body.url}}&summary={{excerpt body.content}}',700,500)">
                {{> icon-linkedin }}
            </li>

        </ul>
    </div>
</div>