{{#if body.sections}}
<div id="inhoudsopgave_inline">
	<h2>Inhoudsopgave</h2>
	<ul>
	{{#each body.sections as |sectie|}}
		{{#if_equals sectie.type 'chapter'}}
		<li><a href="#{{sectie.slug}}">{{sectie.titel}}</a></li>
		{{/if_equals}}
	{{/each}}
	</ul>
</div>
{{/if}}
