{{#if comments}}
<div id="sidebar_intro"><h2>{{count comments}} reacties van {{count commentsAnalysis.frequencyCount}} volgers</h2></div>
<div>
	<h4>Het meest actief in deze discussie</h4> 

	{{#each (limit commentsAnalysis.frequencyCount 6) as |participant|}}
		<div class="deelnemer" onclick="dialoog.highlightParticipant('{{sluggify participant.name}}')">
			<span>{{participant.name}}</span> 
			<span class="aantal">{{participant.count}}</span>
		</div>
	{{/each}}

	<h4>Bijdragen projectteam</h4> 

	{{#each (limit commentsAnalysis.replyCount 6) as |participant|}}
		<div class="deelnemer projectteam" onclick="dialoog.highlightParticipant('{{sluggify participant.name}}');">
			<span>{{participant.name}}</span> 
			<span class="aantal">{{participant.count}}</span>
		</div>
	{{/each}}
</div>


<!-- <div id="reset" class="button" onlick="removeHighlights();">
	<span>Toon alle reacties</span>
</div> -->
<div id="reverse" class="button" onclick="dialoog.switchCommentsOrder();">
	<span>Reacties omdraaien</span>
</div>
{{/if}}