{{#ifTOC body.sections}}
    <div id="inhoudsopgave_js" onmouseenter="storytelling.showTOC()" onmouseleave="storytelling.hideTOC()" class="small-container">
        <h2>Inhoudsopgave</h2>
        <ul>
                {{#each ../body.sections as |section|}}
                {{#ifEquals section.type 'chapter'}}
                     <li><a href="#{{section.slug}}">{{section.title}}</a></li>
                {{/ifEquals}}
                {{/each}}
        </ul>
    </div>
{{/ifTOC}}