<svg id="woordmerk" class="amsteltram" width="143px" height="21px" viewBox="0 0 143 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Amsteltram_rgb-(1)">
            <path d="M113.78,17.02 C114.87,17.02 115.49,16.24 115.49,15.42 L115.49,8.67 C115.18,8.56 114.71,8.47 114.2,8.47 C112.38,8.47 111.76,10.65 111.76,13.06 C111.77,15.23 112.16,17.02 113.78,17.02 Z" id="Shape"></path>
            <path d="M10.56,9.98 L9.38,5.79 C9.35,5.79 9.3,5.79 9.27,5.79 L7.34,12.43 L8.96,12.43 L11.26,12.43 L10.56,9.98 Z" id="Shape"></path>
            <path d="M70.75,8.45 C69.35,8.45 68.43,9.82 68.34,11.75 C69.85,11.67 71.84,10.97 71.84,9.59 C71.84,8.9 71.42,8.45 70.75,8.45 Z" id="Shape"></path>
            <path d="M112.49,20.35 C113.95,20.35 115.26,19.9 116.1,18.59 L116.27,18.62 L116.47,19.94 L120.45,19.94 L120.14,16.92 L120.14,13.92 L110.19,19.93 C110.83,20.19 111.59,20.35 112.49,20.35 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#FFCB00" fill-rule="nonzero" points="102.27 12.97 97.6 18.42 97.6 19.93 102.27 19.93"></polygon>
            <path d="M107.12,13.41 C107.12,14.76 107.29,16.1 107.73,17.24 L111.32,5.79 C108.5,6.97 107.12,9.74 107.12,13.41 Z" id="Shape" fill="#FFCB00" fill-rule="nonzero"></path>
            <path d="M106.33,9.6 L106.67,7.83 L105.44,9.27 C105.76,9.35 106.06,9.46 106.33,9.6 Z" id="Shape" fill="#FFCB00" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#006F9D" fill-rule="nonzero" points="123.05 19.93 127.73 19.93 127.73 19.01 123.05 13.92"></polygon>
            <path d="M116.56,5.35 C115.79,5.23 115.14,5.18 114.71,5.18 C113.41,5.18 112.28,5.4 111.32,5.8 L107.73,17.25 C108.2,18.44 108.97,19.4 110.19,19.92 L120.14,13.91 L120.14,10.23 L120.14,6.3 C118.84,5.8 117.59,5.51 116.56,5.35 Z M115.49,15.42 C115.49,16.23 114.87,17.02 113.78,17.02 C112.16,17.02 111.76,15.23 111.76,13.07 C111.76,10.66 112.38,8.48 114.2,8.48 C114.7,8.48 115.18,8.56 115.49,8.68 L115.49,15.42 Z" id="Shape" fill="#009AC8" fill-rule="nonzero"></path>
            <path d="M102.27,11.17 C102.3,9.88 103.11,9.13 104.31,9.13 C104.7,9.13 105.08,9.18 105.44,9.27 L106.67,7.83 L107.08,5.71 C106.35,5.35 105.46,5.18 104.76,5.18 C103.56,5.18 102.16,5.82 101.4,7.59 L101.04,5.6 L97.23,5.6 L97.59,8.34 L97.59,18.42 L102.27,12.97 L102.27,11.17 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
            <path d="M96.03,19.34 L95.02,16.4 C94.54,16.65 94.04,16.85 93.51,16.85 C92.56,16.85 91.83,16.46 91.83,14.92 L91.83,9.26 L95.33,9.26 L95.33,5.59 L91.83,5.59 L91.83,0.47 L87.1,0.47 L87.1,4.35 L92.38,20.37 C93.83,20.31 95.22,19.87 96.03,19.34 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
            <path d="M92.05,20.38 C92.16,20.38 92.27,20.37 92.37,20.37 L87.09,4.35 L87.09,14.81 C87.1,17.61 87.29,20.38 92.05,20.38 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <path d="M82.28,20.38 C83.54,20.38 85.22,19.99 86.2,19.34 L85.19,16.23 C84.55,16.51 83.99,16.71 83.57,16.71 C82.67,16.71 82.37,16.12 82.37,14.86 L82.37,0.47 L81.68,0.47 L77.69,5.52 L77.69,15.22 C77.69,17.92 77.94,20.38 82.28,20.38 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <path d="M75.9,9.54 C75.9,8.99 75.81,8.51 75.68,8.07 L70.75,14.32 C73.23,13.84 75.9,12.64 75.9,9.54 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <path d="M70.66,20.38 C73.8,20.38 75.9,18.92 76.04,18.78 L74.81,15.7 C73.91,16.29 72.68,16.88 71.34,16.88 C70.45,16.88 69.77,16.6 69.3,16.15 L66.7,19.45 C67.71,20.04 69.02,20.38 70.66,20.38 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <path d="M59.33,20.37 L54.69,15.75 C54.78,18.13 55.39,20.26 59.33,20.37 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            <path d="M50.92,9.96 L52.47,8 L49.47,9.05 C49.94,9.28 50.42,9.58 50.92,9.96 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <path d="M71,5.18 C66.21,5.18 63.8,9.1 63.8,13.16 C63.8,16 64.66,18.25 66.69,19.45 L69.29,16.15 C68.86,15.74 68.61,15.19 68.55,14.58 C69.2,14.54 69.96,14.46 70.73,14.31 L75.66,8.06 C75.11,6.14 73.39,5.18 71,5.18 Z M68.34,11.76 C68.42,9.83 69.35,8.46 70.75,8.46 C71.42,8.46 71.84,8.91 71.84,9.61 C71.84,10.97 69.85,11.67 68.34,11.76 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#ED7203" fill-rule="nonzero" points="77.69 0.47 77.69 5.52 81.68 0.47"></polygon>
            <path d="M62.6,16.4 C62.12,16.65 61.62,16.85 61.09,16.85 C60.14,16.85 59.41,16.46 59.41,14.92 L59.41,9.26 L62.91,9.26 L62.91,5.59 L59.41,5.59 L59.41,5.57 L54.68,7.22 L54.68,14.79 C54.68,15.11 54.68,15.42 54.69,15.73 L59.33,20.35 C59.43,20.35 59.52,20.36 59.63,20.36 C61.2,20.36 62.74,19.88 63.61,19.32 L62.6,16.4 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#E74E0F" fill-rule="nonzero" points="59.41 0.47 54.67 0.47 54.67 7.23 59.41 5.58"></polygon>
            <path d="M49.12,5.34 C48.57,5.23 48.01,5.17 47.42,5.17 C45.48,5.17 43.8,5.81 42.79,7.02 L46.75,8.74 C46.97,8.58 47.28,8.5 47.66,8.5 C47.91,8.5 48.19,8.56 48.49,8.64 C48.8,8.73 49.13,8.87 49.47,9.04 L52.47,7.99 L53.04,7.26 C52.04,6.34 50.67,5.65 49.12,5.34 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            <path d="M46.39,9.52 C46.39,9.17 46.53,8.92 46.76,8.75 L42.8,7.03 C42.18,7.78 41.83,8.74 41.83,9.91 C41.83,10.19 41.87,10.43 41.9,10.68 L46.43,9.82 C46.4,9.72 46.39,9.62 46.39,9.52 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
            <path d="M35.36,5.18 C33.57,5.18 32.36,5.88 31.52,7.03 C30.76,5.74 29.45,5.18 27.82,5.18 C25.97,5.18 24.82,5.94 23.96,7.11 L23.65,5.6 L19.79,5.6 L20.13,8.48 L20.13,14.83 L24.81,13.94 L24.81,10.87 C24.81,9.64 25.23,8.77 26.35,8.77 C27.5,8.77 27.61,9.72 27.61,10.95 L27.61,13.41 L32.29,12.52 L32.29,10.84 C32.29,9.64 32.74,8.77 33.83,8.77 C34.95,8.77 35.12,9.69 35.12,10.95 L35.12,11.98 L39.8,11.09 L39.8,10.14 C39.78,6.72 38.1,5.18 35.36,5.18 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="27.6 19.93 32.28 19.93 32.28 18.27 27.6 17.2"></polygon>
            <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="35.1 19.93 39.53 19.93 35.1 18.92"></polygon>
            <polygon id="Shape" fill="#B81570" fill-rule="nonzero" points="20.12 19.93 24.8 19.93 24.8 16.56 20.12 15.49"></polygon>
            <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="13.4 19.93 18.53 19.93 17.12 15.86 12.82 18.09"></polygon>
            <path d="M13.52,5.46 L12.08,1.31 L6.68,1.31 L0.63,19.93 L4.01,19.93 L5.25,19.93 L6.41,16.28 L6.51,15.95 L6.62,15.95 L12.14,15.95 L12.82,18.08 L17.12,15.85 L13.52,5.46 Z M8.95,12.43 L7.33,12.43 L9.26,5.79 C9.29,5.79 9.34,5.79 9.37,5.79 L10.55,9.98 L11.24,12.43 L8.95,12.43 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
            <path d="M134.45,7.02 C133.69,5.73 132.38,5.17 130.75,5.17 C128.9,5.17 127.75,5.93 126.89,7.1 L126.58,5.59 L122.72,5.59 L123.06,8.47 L123.06,12.39 L127.74,10.68 C127.78,9.55 128.21,8.76 129.27,8.76 C129.98,8.76 130.29,9.13 130.43,9.7 L140.91,5.86 C140.21,5.4 139.32,5.18 138.28,5.18 C136.49,5.18 135.29,5.88 134.45,7.02 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
            <path d="M130.53,10.94 L130.53,19.93 L135.21,19.93 L135.21,10.83 C135.21,9.63 135.66,8.76 136.75,8.76 C137.87,8.76 138.04,9.68 138.04,10.94 L138.04,19.93 L142.72,19.93 L142.72,10.13 C142.72,8.01 142.07,6.61 140.92,5.86 L130.44,9.7 C130.51,10.05 130.53,10.47 130.53,10.94 Z" id="Shape" fill="#005578" fill-rule="nonzero"></path>
            <path d="M123.05,13.92 L127.73,19.02 L127.73,10.87 C127.73,10.81 127.74,10.75 127.74,10.69 L123.06,12.4 L123.06,13.92 L123.05,13.92 Z" id="Shape" fill="#005578" fill-rule="nonzero"></path>
            <path d="M42.55,15.51 L41.35,18.81 C42,19.27 43.39,19.92 45.14,20.22 L46.13,16.91 C44.92,16.73 43.43,16.08 42.55,15.51 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
            <path d="M46.43,9.81 L41.9,10.67 C42.25,13.06 44.24,13.83 46.25,14.47 C46.44,14.53 46.63,14.59 46.8,14.65 L47.92,10.92 C47.13,10.64 46.57,10.34 46.43,9.81 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="35.1 18.92 39.53 19.93 39.78 19.93 39.78 11.08 35.1 11.97"></polygon>
            <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="27.6 17.2 32.28 18.27 32.28 12.51 27.6 13.4"></polygon>
            <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="20.12 15.49 24.8 16.56 24.8 13.93 20.12 14.83"></polygon>
            <path d="M48.42,11.09 C48.39,11.08 48.35,11.07 48.32,11.05 C48.18,11.01 48.04,10.96 47.91,10.91 L46.79,14.64 C47.53,14.9 48.06,15.21 48.06,15.89 C48.06,16.67 47.56,16.95 46.72,16.95 C46.53,16.95 46.33,16.93 46.12,16.9 L45.13,20.21 C45.72,20.31 46.34,20.37 47,20.37 C47.65,20.37 48.24,20.29 48.8,20.18 C51.2,19.68 52.71,18.13 52.71,15.59 C52.72,12.67 50.47,11.76 48.42,11.09 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
        </g>
    </g>
</svg>