<svg id="woordmerk" class="amstelveenlijn" width="116px" height="52px" viewBox="0 0 116 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="AVL_logo_rgb">
            <path d="M71.9,11.4 C71.9,10.7 71.5,10.3 70.8,10.3 C69.4,10.3 68.5,11.7 68.4,13.6 C69.9,13.5 71.9,12.8 71.9,11.4 Z" id="Shape"></path>
            <path d="M10.6,11.7 L9.5,7.7 L9.4,7.7 L8.1,12.1 L7.7,13.6 L7.5,14.4 L11.4,14.4 L11.1,13.5 L10.8,12.3 L10.6,11.7 Z" id="Shape"></path>
            <path d="M57.6,30.1 C57.6,29.4 57.2,29 56.5,29 C55.1,29 54.2,30.4 54.1,32.3 C55.6,32.2 57.6,31.5 57.6,30.1 Z" id="Shape"></path>
            <path d="M43.6,29 C42.2,29 41.3,30.4 41.2,32.3 C42.7,32.2 44.7,31.5 44.7,30.1 C44.7,29.4 44.3,29 43.6,29 Z" id="Shape"></path>
            <polygon id="Shape" fill="#ED7203" points="77.8 11.7 82.5 1.7 82.5 0.4 77.8 0.4"></polygon>
            <path d="M76,11.4 C76,8.7 74.4,7.3 71.9,7.1 L75.6,13.3 C75.8,12.7 76,12.1 76,11.4 Z" id="Shape" fill="#ED7203"></path>
            <polygon id="Shape" fill="#E74E0F" points="54.8 15.4 59.5 14.2 59.5 11.1 63 11.1 63 7.4 59.5 7.4 59.5 2.3 56.3 2.3 54.8 4"></polygon>
            <path d="M51,11.8 L53.1,9.1 C52.6,8.6 51.9,8.2 51.2,7.8 L48.7,10.5 C49.4,10.8 50.2,11.2 51,11.8 Z" id="Shape" fill="#E74E0F"></path>
            <path d="M42.6,17.4 L42.2,18.6 L44,18.2 C43.5,17.8 43,17.6 42.6,17.4 Z" id="Shape" fill="#E74E0F"></path>
            <path d="M48.4,12.9 C47.9,12.7 47.4,12.6 47.1,12.3 L44.2,15.4 C44.9,15.8 45.6,16 46.4,16.2 C47.1,16.4 47.7,16.6 48,17 L52.6,15.8 C51.9,14.1 50.1,13.4 48.4,12.9 Z" id="Shape" fill="#E74E0F"></path>
            <g id="Group" transform="translate(91.000000, 29.000000)" fill="#006F9D">
                <path d="M12.3,4.7 L24,2.8 C23.2,1.5 21.9,0.9 20.2,0.9 C18.3,0.9 17,1.7 16.1,2.9 L15.8,1.4 L12,1.4 L12.3,4.3 L12.3,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="20 7.5 20 15.8 24.7 15.8 24.7 8.8"></polygon>
                <path d="M12.3,15.8 L16.9,15.8 L16.9,6.7 L16.9,6.7 L12.2,5.4 L12.2,15.8 L12.3,15.8 Z" id="Shape"></path>
                <path d="M4.8,16.2 C4.8,17.7 4.3,18.3 3.4,18.3 C2.8,18.3 2.2,18.1 1.6,17.8 L0.4,21 C1.5,21.7 3.3,22.1 4.7,22.1 C9.1,22.1 9.4,19.2 9.4,16.5 L9.4,6.7 L4.7,12.9 L4.7,16.2 L4.8,16.2 Z" id="Shape"></path>
            </g>
            <path d="M43.5,40.9 L44.4,40.9 L42.5,40.9 L43.5,40.9 Z" id="Shape" fill="#E74E0F"></path>
            <path d="M33.3,7.4 L39.9,16.9 L39.9,11.9 C39.9,8.5 38.2,6.9 35.5,6.9 C34.6,7 33.9,7.2 33.3,7.4 Z" id="Shape" fill="#E74E0F"></path>
            <g id="Group" transform="translate(0.000000, 2.000000)" fill="#E53212">
                <path d="M61.2,26.1 C60.5,24.5 58.9,23.7 56.7,23.7 C51.9,23.7 49.5,27.6 49.5,31.7 C49.5,34.3 50.2,36.5 52,37.7 L54.7,34.3 C54.5,34 54.3,33.6 54.3,33.1 C54.7,33.1 55.2,33 55.8,33 L61.2,26.1 Z M54.1,30.3 C54.2,28.4 55.1,27 56.5,27 C57.2,27 57.6,27.4 57.6,28.1 C57.6,29.5 55.6,30.2 54.1,30.3 Z" id="Shape"></path>
                <path d="M47.1,20.2 C48.3,20.2 49.3,20 50.2,19.6 L42,17 L41.7,18 L41.5,18.6 C41.7,18.7 41.9,18.9 42.2,19 C43.2,19.6 45,20.2 47.1,20.2 Z" id="Shape"></path>
                <path d="M44.2,35.4 C42.5,35.4 41.5,34.4 41.4,33.1 C43.3,33 46,32.6 47.5,31 C48.2,30.3 48.7,29.3 48.7,28 C48.7,25.2 46.9,23.8 44.2,23.7 L43.8,23.7 C39,23.7 36.6,27.6 36.6,31.7 C36.6,35.6 38.3,38.5 42.4,38.9 L44.3,38.9 C46.9,38.7 48.7,37.5 48.8,37.4 L47.6,34.3 C46.8,34.8 45.5,35.4 44.2,35.4 Z M43.6,27 C44.3,27 44.7,27.4 44.7,28.1 C44.7,29.5 42.7,30.2 41.2,30.3 C41.3,28.3 42.2,27 43.6,27 Z" id="Shape"></path>
                <polygon id="Shape" points="54.8 0.3 54.8 2 56.3 0.3"></polygon>
                <path d="M44.2,13.5 L47.1,10.4 C46.7,10.2 46.5,9.9 46.5,9.4 C46.5,8.7 47,8.4 47.8,8.4 C48.1,8.4 48.4,8.5 48.8,8.6 L51.3,5.9 C50.2,5.4 48.9,5.1 47.6,5.1 C44.5,5.1 42,6.8 42,9.8 C41.9,11.7 42.9,12.8 44.2,13.5 Z" id="Shape"></path>
                <path d="M28,38.8 C28.7,38.8 29.4,38.7 30,38.6 L24.9,38.2 C25.7,38.6 26.7,38.8 28,38.8 Z" id="Shape"></path>
                <polygon id="Shape" points="24.9 15.7 20.2 15.5 20.2 17.7 21.5 19.8 24.9 19.8"></polygon>
                <polygon id="Shape" points="27.7 19.8 32.4 19.8 32.4 16.2 27.7 15.9"></polygon>
                <path d="M29.6,24.1 C30.1,26 30.6,28.6 30.6,30.7 C30.6,32 30.5,33.3 30.1,34.1 L32.3,37.7 C33,37.2 33.7,36.6 34.1,35.7 C34.5,35.1 34.8,34.3 34.9,33.5 C35.1,32.6 35.2,31.6 35.2,30.5 C35.2,28.5 34.8,25.9 34.2,24.1 L29.6,24.1 Z" id="Shape"></path>
                <polygon id="Shape" points="39.9 16.7 35.2 16.4 35.2 19.8 39.9 19.8"></polygon>
                <polygon id="Shape" points="27.4 24.1 24 24.1 27.4 29.7"></polygon>
                <polygon id="Shape" points="0.7 19.8 5.3 19.8 6.5 16.2 1.8 16.6"></polygon>
                <polygon id="Shape" points="12.2 15.8 13.5 19.8 15.2 19.8 17.6 16.8 17.1 15.5"></polygon>
                <polygon id="Shape" points="14.9 9.1 10.7 10.1 11.1 11.3 16.7 14.3"></polygon>
                <path d="M20.2,14.3 L24.9,10.7 L24.9,10.7 C24.9,9.5 25.3,8.6 26.4,8.6 C26.8,8.6 27.1,8.7 27.2,8.9 L30.9,6.1 C30.6,5.8 30.2,5.6 29.9,5.4 L24.1,6.8 L24,6.9 L24,6.8 L20.1,7.8 L20.2,8.3 L20.2,14.3 Z" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(1.000000, 3.000000)" fill="#D10A11">
                <polygon id="Shape" points="19.2 18.8 20.5 18.8 19.2 16.7"></polygon>
                <polygon id="Shape" points="14.2 18.8 17.6 18.8 16.6 15.8"></polygon>
                <path d="M27.5,34.2 C26.5,34.2 26.3,33.5 26.3,32.2 L26.3,28.7 L23,23.1 L21.6,23.1 L21.6,32.7 C21.6,34.9 22.3,36.4 23.8,37.2 L28.9,37.6 C29.7,37.4 30.4,37.1 31.1,36.7 L28.9,33.1 C28.7,33.8 28.2,34.2 27.5,34.2 Z" id="Shape"></path>
                <polygon id="Shape" points="19.2 14.5 23.9 14.7 23.9 9.7 19.2 13.3"></polygon>
                <path d="M32.3,4.4 C31.6,4.7 31,5.2 30.6,5.8 C30.4,5.5 30.2,5.2 30,5 L26.3,7.8 C26.7,8.2 26.7,8.9 26.7,9.7 L26.7,14.8 L31.4,15.1 L31.4,9.5 C31.4,8.3 31.8,7.4 32.9,7.4 C34,7.4 34.2,8.3 34.2,9.6 L34.2,15.2 L38.9,15.5 L38.9,14 L32.3,4.4 Z" id="Shape"></path>
                <polygon id="Shape" points="22.7 4.4 18.9 4.4 19.2 6.8 23 5.9"></polygon>
                <path d="M26.9,4 C25.1,4 24,4.7 23.1,5.8 L28.9,4.4 C28.4,4.1 27.7,4 26.9,4 Z" id="Shape"></path>
                <path d="M15.7,13.3 L10.1,10.4 L10.4,11.3 L6.5,11.3 L6.7,10.5 L7.1,9 L8.4,4.6 L8.5,4.6 L9.6,8.6 L9.7,9.1 L13.9,8.1 L13.3,6.3 L11.2,0.2 L5.8,0.2 L3.4,7.7 L1.5,13.7 L0.9,15.6 L5.6,15.3 L5.7,14.9 L11.3,14.9 L11.3,14.9 L16.2,14.6 L15.7,13.3 Z" id="Shape"></path>
            </g>
            <polygon id="Shape" fill="#FFCB00" points="77.8 17.9 79.6 21.8 82.5 21.8 82.5 15.9 77.8 15"></polygon>
            <path d="M70.8,22.2 C73.9,22.2 76,20.7 76.2,20.6 L75,17.5 C74.2,18.1 73,18.6 71.7,18.7 L67.9,21.8 C68.7,22.1 69.6,22.2 70.8,22.2 Z" id="Shape" fill="#FFCB00"></path>
            <polygon id="Shape" fill="#FFCB00" points="77.8 21.8 79.6 21.8 77.8 17.9"></polygon>
            <g id="Group" transform="translate(77.000000, 24.000000)" fill="#009AC8">
                <path d="M38,7.9 L26.3,9.8 L26.3,10.4 L31,11.7 C31,10.5 31.7,9.6 32.8,9.6 C33.9,9.6 34,10.5 34,11.8 L34,12.5 L38.7,13.8 L38.7,11 C38.7,9.7 38.4,8.6 38,7.9 Z" id="Shape"></path>
                <path d="M21.3,0 C20.2,0 19.4,0.5 19,1.3 C18.9,1.6 18.8,1.9 18.8,2.3 C18.8,3.6 19.8,4.6 21.3,4.6 L21.3,4.6 C22.8,4.6 23.8,3.6 23.8,2.3 C23.8,1.1 22.8,0 21.3,0 Z" id="Shape"></path>
                <polygon id="Shape" points="11.4 13.1 11.4 20.8 16.1 20.8 16.1 12 16.1 6.4 11.4 6.4"></polygon>
                <path d="M13.7,0 C12.2,0 11.2,1 11.2,2.3 C11.2,3.6 12.2,4.6 13.7,4.6 C15.2,4.6 16.2,3.6 16.2,2.3 C16.2,1.1 15.2,0 13.7,0 Z" id="Shape"></path>
                <polygon id="Shape" points="18.8 6.4 18.8 11.4 18.8 17.9 23.5 11.7 23.5 10.3 23.5 8.1 23.5 6.4 22.4 6.4"></polygon>
                <path d="M6.7,17.5 C5.8,17.5 5.5,16.9 5.5,15.7 L5.5,14.5 L5.5,6.9 L5.5,0.8 L3.1,0.8 L0.8,12.2 L0.8,14.6 L0.8,15.6 L0.8,16.1 C0.8,18.8 1.1,21.3 5.4,21.3 C6.7,21.3 8.3,20.9 9.3,20.3 L8.3,17.2 C7.6,17.3 7.1,17.5 6.7,17.5 Z" id="Shape"></path>
            </g>
            <path d="M67.7,27.2 C67.6,27.3 67.5,27.5 67.3,27.6 L67.2,27 L64.4,26.1 L63.2,26.1 L63.5,29 L63.5,31.5 L70.7,28.2 L67.7,27.2 Z" id="Shape" fill="#ED7203"></path>
            <path d="M56.4,40.9 C59.5,40.9 61.6,39.4 61.8,39.3 L60.6,36.2 C59.7,36.8 58.5,37.4 57.1,37.4 C56.6,37.4 56.1,37.3 55.8,37.1 L52.3,39.8 C53.3,40.5 54.7,40.9 56.4,40.9 Z" id="Shape" fill="#ED7203"></path>
            <polygon id="Shape" fill="#ED7203" points="63.5 40.4 68.1 40.4 68.1 39.3 63.5 34.2"></polygon>
            <g id="Group" transform="translate(63.000000, 1.000000)" fill="#F8AF00">
                <polygon id="Shape" points="14.8 10.7 14.8 12.7 14.8 14 19.5 14.9 19.5 9.2 19.5 0.7"></polygon>
                <path d="M0,18.2 L0,20.5 C0.2,20.4 0.4,20.3 0.6,20.2 L0,18.2 Z" id="Shape"></path>
                <path d="M4.9,20.8 L8.7,17.7 L8.5,17.7 C6.8,17.7 5.8,16.7 5.7,15.4 C7.5,15.3 10,14.9 11.6,13.5 L1,12.4 C0.9,12.9 0.9,13.4 0.9,13.9 C0.9,17.3 2.1,19.8 4.9,20.8 Z" id="Shape"></path>
                <polygon id="Shape" points="8.2 39.4 12.9 39.4 12.9 38.1 8.2 35.8"></polygon>
                <polygon id="Shape" points="0.5 33.2 5.1 38.3 5.1 34.4 0.5 32.1"></polygon>
            </g>
            <path d="M61.6,30.1 C61.6,29.3 61.5,28.7 61.2,28.1 L55.7,35 C58.4,34.6 61.6,33.5 61.6,30.1 Z" id="Shape" fill="#E74E0F"></path>
            <path d="M54.7,36.3 L52,39.7 C52.1,39.8 52.2,39.8 52.3,39.9 L55.8,37.2 C55.3,36.9 55,36.6 54.7,36.3 Z" id="Shape" fill="#E74E0F"></path>
            <g id="Group" transform="translate(42.000000, 7.000000)" fill="#F29100">
                <path d="M33.6,6.3 L29.9,0.1 C29.6,0.1 29.4,0 29.1,0 C24.9,0 22.6,3 22,6.4 L32.6,7.5 C33,7.2 33.3,6.8 33.6,6.3 Z M26.4,6.6 C26.5,4.7 27.4,3.3 28.8,3.3 C29.5,3.3 29.9,3.7 29.9,4.4 C29.9,5.8 27.9,6.5 26.4,6.6 Z" id="Shape"></path>
                <path d="M5.9,10.1 C6.1,10.3 6.1,10.5 6.1,10.8 C6.1,11.6 5.6,11.9 4.8,11.9 C4,11.9 2.9,11.6 2,11.2 L0.2,11.6 L0,12.2 L8.2,14.8 C9.8,14.1 10.8,12.7 10.8,10.6 C10.8,10 10.7,9.5 10.5,9.1 L5.9,10.1 Z" id="Shape"></path>
                <path d="M20.7,11.2 C20.2,11.5 19.7,11.6 19.2,11.6 C18.2,11.6 17.5,11.2 17.5,9.7 L17.5,7.1 L12.8,8.3 L12.8,9.6 C12.8,12.4 13,15.2 17.8,15.2 C19,15.2 20.3,14.9 21.1,14.5 L21.1,12.2 L20.7,11.2 Z" id="Shape"></path>
                <path d="M32.2,19.5 L28.6,21.2 L21.4,24.5 L21.4,26.1 L26,28.3 L26,24.3 C26,23.1 26.7,22.2 27.8,22.2 C28.9,22.2 29,23.1 29,24.4 L29,29.8 L33.7,32.1 L33.7,30.6 L33.7,23.7 C33.9,21.6 33.3,20.3 32.2,19.5 Z" id="Shape"></path>
                <polygon id="Shape" points="35.8 17.8 35.8 29.2 38.1 17.8"></polygon>
            </g>
            <polygon id="Shape" fill="#ED7203" points="67 26.1 64.4 26.1 67.2 27.1"></polygon>
            <path d="M67.7,27.2 L70.7,28.2 L74.3,26.5 C73.6,26 72.6,25.7 71.5,25.7 C69.8,25.7 68.6,26.3 67.7,27.2 Z" id="Shape" fill="#ED7203"></path>
        </g>
    </g>
</svg>