<svg id="woordmerk" class="uithoornlijn" width="144px" height="28px" viewBox="0 0 144 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Uithoornlijn_rgb">
            <path d="M69.37,14.13 C69.37,14.43 69.37,14.72 69.38,15.01 C69.42,16.21 69.57,17.29 69.98,17.97 C70.27,18.45 70.68,18.75 71.27,18.75 C72.51,18.75 73.06,17.63 73.15,15.41 C73.16,15.16 73.17,14.91 73.17,14.64 C73.17,14.21 73.15,13.81 73.13,13.44 C73.04,12.06 72.77,11.14 72.25,10.68 C71.99,10.45 71.67,10.33 71.27,10.33 C71.01,10.33 70.79,10.4 70.59,10.51 C70.04,10.8 69.68,11.48 69.5,12.45 C69.44,12.81 69.4,13.21 69.38,13.64 C69.38,13.79 69.37,13.95 69.37,14.13 Z" id="Shape"></path>
            <path d="M56.69,10.32 C55.37,10.32 54.79,11.8 54.79,14.13 C54.79,16.54 55.04,18.75 56.69,18.75 C58.06,18.75 58.59,17.38 58.59,14.63 C58.59,11.77 58.11,10.32 56.69,10.32 Z" id="Shape"></path>
            <path d="M114.53,21.13 L113.52,18.02 C113.02,18.24 112.57,18.4 112.2,18.46 L110.43,22.15 C110.49,22.15 110.55,22.16 110.61,22.16 C111.87,22.16 113.55,21.77 114.53,21.13 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#006F9D" fill-rule="nonzero" points="115.79 21.71 120.5 21.71 120.5 16.42 115.79 16.1"></polygon>
            <path d="M122.04,24.17 C121.99,24.17 121.95,24.18 121.89,24.18 C121.33,24.18 120.71,23.98 120.1,23.68 L118.92,26.9 C119.77,27.4 120.97,27.75 122.09,27.91 L122.04,24.17 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
            <path d="M123.24,27.99 C127.66,27.99 127.94,25.11 127.94,22.39 L127.94,21.86 L123.26,17.71 L123.26,22.11 C123.26,23.56 122.81,24.11 122.03,24.17 L122.09,27.91 C122.49,27.96 122.88,27.99 123.24,27.99 Z" id="Shape" fill="#005578" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#009AC8" fill-rule="nonzero" points="127.94 7.38 123.27 7.38 123.27 14.58 127.94 7.83"></polygon>
            <path d="M125.68,5.61 C127.19,5.61 128.2,4.63 128.2,3.29 C128.2,2 127.19,0.97 125.71,0.97 C124.17,0.97 123.22,2.01 123.22,3.29 C123.21,4.63 124.16,5.61 125.68,5.61 Z" id="Shape" fill="#009AC8" fill-rule="nonzero"></path>
            <g id="Group" transform="translate(115.000000, 0.000000)" fill="#009AC8" fill-rule="nonzero">
                <polygon id="Shape" points="0.79 7.38 0.79 16.1 5.5 16.42 5.5 10.79 5.5 7.38 4.64 7.38"></polygon>
                <path d="M3.14,5.61 C3.51,5.61 3.85,5.55 4.15,5.44 C5.06,5.1 5.63,4.3 5.63,3.29 C5.63,2 4.62,0.97 3.14,0.97 C3.1,0.97 3.07,0.98 3.03,0.98 C1.55,1.03 0.64,2.04 0.64,3.3 C0.65,4.63 1.6,5.61 3.14,5.61 Z" id="Shape"></path>
            </g>
            <path d="M69.38,15 L64.75,16.6 C65.17,19.36 66.52,21.06 68.58,21.76 L69.98,17.95 C69.57,17.28 69.42,16.2 69.38,15 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <path d="M63.03,17.2 L52.37,20.89 C53.43,21.74 54.82,22.16 56.48,22.16 C59.53,22.16 62.08,20.49 63.03,17.2 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <path d="M43.53,6.96 C42.24,6.96 41.15,7.44 40.34,8.16 L40.34,2.25 L35.66,2.25 L35.66,16.47 L39.69,21.71 L40.33,21.71 L40.33,12.53 C40.33,11.41 40.95,10.54 42.09,10.54 C43.13,10.54 43.38,11.35 43.38,12.61 L43.38,19.45 L46.79,8.11 C46.03,7.35 44.94,6.96 43.53,6.96 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#F29100" fill-rule="nonzero" points="33.61 11.05 33.61 7.38 30.11 7.38 30.11 2.25 25.38 2.25 25.38 3.11 31.49 11.05"></polygon>
            <polygon id="Shape" fill="#F8AF00" fill-rule="nonzero" points="22.69 7.38 17.99 7.38 17.99 15.04 22.69 16.91"></polygon>
            <path d="M34.31,21.13 L33.3,18.19 C32.82,18.44 32.32,18.64 31.79,18.64 C30.84,18.64 30.11,18.25 30.11,16.71 L30.11,11.05 L31.48,11.05 L25.38,3.11 L25.38,16.59 C25.38,17.06 25.39,17.54 25.42,18 L33.89,21.37 C34.04,21.29 34.19,21.21 34.31,21.13 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#F8AF00" fill-rule="nonzero" points="35.66 21.71 39.69 21.71 35.66 16.47"></polygon>
            <path d="M20.34,5.61 C21.82,5.61 22.83,4.63 22.83,3.29 C22.83,2 21.82,0.97 20.34,0.97 C18.8,0.97 17.85,2.01 17.85,3.29 C17.85,4.63 18.8,5.61 20.34,5.61 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
            <path d="M33.89,21.36 L25.42,18 C25.58,20.25 26.38,22.17 30.34,22.17 C31.68,22.16 32.99,21.81 33.89,21.36 Z" id="Shape" fill="#FFCB00" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#FFCB00" fill-rule="nonzero" points="22.69 21.71 22.69 16.91 17.99 15.04 17.99 16.69 20.84 21.71"></polygon>
            <path d="M7.66,22.05 C12.06,22.05 15.08,19.75 15.08,15.97 L15.08,15.53 L4.35,21.63 C5.29,21.91 6.39,22.05 7.66,22.05 Z" id="Shape" fill="#F8AF00" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#F8AF00" fill-rule="nonzero" points="17.99 16.69 17.99 21.71 20.84 21.71"></polygon>
            <path d="M11.29,3.09 L10.27,3.09 L10.27,5.17 L10.27,15.41 C10.27,17.17 9.23,18.04 7.78,18.04 C6.31,18.04 5.26,17.44 5.17,15.53 C5.17,15.44 5.15,15.36 5.15,15.27 L5.15,3.09 L0.33,3.09 L0.33,15.55 C0.33,18.04 1.09,19.76 2.57,20.79 C3.08,21.15 3.67,21.42 4.35,21.63 L15.08,15.53 L15.08,3.09 L11.29,3.09 Z" id="Shape" fill="#FFCB00" fill-rule="nonzero"></path>
            <path d="M71.27,10.32 C71.67,10.32 71.99,10.45 72.25,10.67 L73.16,7.11 C72.54,6.99 71.95,6.95 71.46,6.95 C70.97,6.95 70.46,7 69.95,7.11 L70.58,10.49 C70.8,10.39 71.02,10.32 71.27,10.32 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <path d="M69.51,12.44 C69.69,11.47 70.04,10.79 70.6,10.5 L69.97,7.12 C68.67,7.38 67.37,8.01 66.38,9.15 L69.51,12.44 Z" id="Shape" fill="#ED7203" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#006F9D" fill-rule="nonzero" points="127.94 7.83 123.27 14.58 123.27 15.77 127.94 13.19"></polygon>
            <path d="M134.55,8.92 L134.27,7.38 L130.38,7.38 L130.72,10.26 L130.72,11.65 L139.13,6.99 C138.97,6.98 138.81,6.95 138.64,6.95 C136.76,6.96 135.45,7.71 134.55,8.92 Z" id="Shape" fill="#006F9D" fill-rule="nonzero"></path>
            <path d="M130.72,21.71 L135.37,21.71 L135.37,12.64 C135.37,11.44 136.04,10.54 137.19,10.54 C138.28,10.54 138.42,11.44 138.42,12.72 L138.42,21.71 L143.12,21.71 L143.12,11.91 C143.12,8.71 141.58,7.17 139.13,6.99 L130.72,11.65 L130.72,21.71 Z" id="Shape" fill="#005578" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#005578" fill-rule="nonzero" points="127.94 13.19 123.27 15.77 123.27 17.71 127.94 21.86"></polygon>
            <path d="M69.37,14.13 C69.37,13.96 69.38,13.8 69.39,13.63 L64.93,11.99 C64.73,12.77 64.61,13.65 64.61,14.66 C64.61,15.36 64.66,16.01 64.75,16.61 L69.38,15.01 C69.37,14.72 69.37,14.42 69.37,14.13 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            <path d="M63.43,14.21 C63.43,13.07 63.29,12.12 63.07,11.31 L53.47,7.79 C51.56,8.82 50.01,10.91 50.01,14.66 C50.01,17.64 50.86,19.7 52.36,20.9 L63.02,17.21 C63.29,16.32 63.43,15.33 63.43,14.21 Z M56.69,18.75 C55.04,18.75 54.79,16.54 54.79,14.13 C54.79,11.81 55.38,10.32 56.69,10.32 C58.12,10.32 58.59,11.78 58.59,14.63 C58.59,17.37 58.06,18.75 56.69,18.75 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            <path d="M48.06,12 C48.06,10.24 47.62,8.95 46.79,8.12 L43.38,19.46 L43.38,21.72 L48.06,21.72 L48.06,12 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            <path d="M56.88,6.96 C55.77,6.96 54.56,7.2 53.48,7.79 L63.08,11.31 C62,7.43 58.73,6.96 56.88,6.96 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <path d="M69.51,12.44 L66.37,9.14 C65.74,9.87 65.23,10.81 64.93,11.99 L69.39,13.63 C69.4,13.2 69.44,12.8 69.51,12.44 Z" id="Shape" fill="#F29100" fill-rule="nonzero"></path>
            <path d="M77.64,11.21 L73.14,13.43 C73.16,13.8 73.18,14.19 73.18,14.63 C73.18,14.9 73.17,15.15 73.16,15.4 C73.06,17.62 72.51,18.74 71.28,18.74 C70.68,18.74 70.27,18.44 69.99,17.96 L68.59,21.77 C69.33,22.03 70.17,22.16 71.08,22.16 C73.92,22.16 76.32,20.71 77.41,17.86 C77.8,16.83 78.03,15.61 78.03,14.21 C78.02,13.03 77.88,12.04 77.64,11.21 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
            <path d="M87.21,6.96 C86.01,6.96 84.61,7.6 83.85,9.37 L83.64,8.25 L80.03,10.04 L80.04,10.13 L80.04,19.39 L80.04,21.72 L84.07,21.72 L84.71,21.72 L84.71,12.96 C84.74,11.67 85.55,10.92 86.75,10.92 C87.48,10.92 88.18,11.09 88.77,11.4 L89.53,7.51 C88.8,7.13 87.9,6.96 87.21,6.96 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#DE005B" fill-rule="nonzero" points="110.7 2.25 106.02 2.25 106.02 11.17 110.7 2.77"></polygon>
            <path d="M103.31,11.91 C103.31,8.49 101.57,6.95 98.83,6.95 C97.49,6.95 96.44,7.34 95.62,8 L103.31,12.87 L103.31,11.91 Z" id="Shape" fill="#DE005B" fill-rule="nonzero"></path>
            <path d="M95.61,8.01 C95.28,8.27 94.99,8.57 94.74,8.92 L94.46,7.38 L90.57,7.38 L90.91,10.26 L90.91,21.2 L90.91,21.72 L92.83,21.72 L95.56,21.72 L95.56,20.95 L95.56,18.66 L95.56,12.65 C95.56,11.45 96.23,10.55 97.38,10.55 C98.47,10.55 98.61,11.45 98.61,12.73 L98.61,16.99 L98.61,20.09 L98.61,21.71 L103.31,21.71 L103.31,18.77 L103.31,14.42 L103.31,12.89 L95.61,8.01 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
            <path d="M111.9,18.49 C111.02,18.49 110.71,17.92 110.7,16.69 C110.7,16.67 110.7,16.66 110.7,16.64 L110.7,15.24 L110.7,2.76 L106.02,11.16 L106.02,14.06 L106.02,17.01 C106.02,17.35 106.02,17.68 106.04,18 C106.15,20.23 106.8,22.09 110.43,22.15 L112.2,18.46 C112.1,18.48 112,18.49 111.9,18.49 Z" id="Shape" fill="#B81570" fill-rule="nonzero"></path>
            <path d="M73.14,13.43 L77.64,11.21 C76.83,8.42 74.88,7.44 73.17,7.11 L72.26,10.67 C72.78,11.13 73.05,12.06 73.14,13.43 Z" id="Shape" fill="#E74E0F" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#E74E0F" fill-rule="nonzero" points="80.03 10.03 83.64 8.24 83.48 7.38 79.67 7.38"></polygon>
        </g>
    </g>
</svg>