<article class="work-block {{#if work.future}}future{{/if}}"
         onclick="window.map.center('{{work.slug}}','{{work.locations.[0].location.lng}}','{{work.locations.[0].location.lat}}')">
    <div class="work-block__header">
        <div class="work-block__icon-circle">
                {{#ifEquals work.taxonomies.work-types.[0].slug 'water'}}
                    {{> icon-works-water }}
                {{/ifEquals}}

                {{#ifEquals work.taxonomies.work-types.[0].slug 'vegetatie'}}
                    {{> icon-works_trees }}
                {{/ifEquals}}

                {{#ifEquals work.taxonomies.work-types.[0].slug 'kabels'}}
                    {{> icon-works-cables }}
                {{/ifEquals}}

                {{#ifEquals work.taxonomies.work-types.[0].slug 'voorbereiding'}}
                    {{> icon-works_preparation }}
                {{/ifEquals}}
        </div>
        <h3>{{work.title}}</h3>
    </div>
    <div class="datum">{{quarterifyDate work.start}} - {{quarterifyDate work.end}}</div>
    {{{work.content}}}
</article>
