@mixin homeGrid {


  // shared mobile is flexbox only
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600vw;
    overflow: hidden;
    height: calc(100vh - 90px);
    margin-top: 2rem;

    > * {
      width: 100vw;
    }

    @media (min-width: $breakpoint-sm) {

    }

    @media (min-width: $breakpoint-md) {

      margin-top: 1.5rem;
      justify-content: space-between;
      align-items: stretch;
      width: 1180px;
      height: auto;

      > * {

        width: calc(33.33% - 1rem);

        &main[data-option=news] {

          width: calc(66.66% - 1rem);
        }

        &[data-option=info] {

          width: 100%;
        }
      }

      @supports (display: grid) {

        width: 100%;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto repeat(3, 20rem) auto;
        grid-template-rows: auto auto 380px auto;
        justify-content: normal;

        > *, > main[data-option=news], > footer[data-option=info] {
          width: auto;
        }
      }

      @media all and (-ms-high-contrast:none) {

        width: 100%;
        display: -ms-grid;
        -ms-grid-columns: calc((100vw - 60rem) / 2) 20rem 20rem 20rem calc((100vw - 60rem) / 2);
        -ms-grid-rows: auto 380px auto;
        justify-content: normal;

        > *, > main[data-option=news], > footer[data-option=info] {
          width: auto;
        }
      }
    }

    @media (min-width: $breakpoint-lg) {

      @supports (display: grid) {
        grid-template-columns: auto repeat(3, 24rem) auto;
      }

      @media all and (-ms-high-contrast:none) {

        -ms-grid-columns: calc((100vw - 72rem) / 2) 24rem 24rem 24rem calc((100vw - 72rem) / 2);
      }
    }

    @media (min-width: $breakpoint-xxl) {

      margin-top: 3rem;

      @supports (display: grid) {
        grid-template-columns: auto repeat(5, 22rem) auto;
      }

      @media all and (-ms-high-contrast:none) {

        -ms-grid-columns: calc((100vw - 66rem) / 2) 22rem 22rem 22rem calc((100vw - 66rem) / 2);
      }
  }
}
