.block  {

	position: relative;
	display: block;
	margin-bottom: 3rem;
	cursor: pointer;

	@media(min-width : $breakpoint-sm) {
		margin-bottom: 90px;
	}

	@media(min-width : $breakpoint-md) {
		margin-bottom: 60px;
	}

	@media(min-width : $breakpoint-lg) {
		margin-bottom: 90px;
	}

	.image_container {
		background: $grijs;
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 calc(100% - 2em), 0 0);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 calc(100% - 2em), 0 0);
	}
}

.overlay { 

	position: absolute;
	bottom: -4em;
	left: 1em;
	width: calc(100% - 4em);
	padding: 2em 1em 3em 1em;
	height: auto;

	@media (min-width : $breakpoint-lg) {
		padding: 2em 1em 2.5em 1em;
		width: calc(100% - 4em);
		left: 1em;
	}
	
	svg {
		fill: $wit; 
		width: 100%; 
		height: 100%; 
		position: absolute;
		z-index: 0;
		top:0;
		left: 0;
	}

	h3 {
		position: relative;
		z-index: 1;
		@extend h3;
		font-size: 1.33rem;
		line-height: 1.33;
		margin: 0;
		//hyphens: auto;
		word-break: break-word;
	}

	.authors {
		position: relative;
		z-index: 1;
		@extend .authors; 
		font-size: 0.9rem;
		line-height: 1.55;
		margin-top: .4rem;

	}
	.datum {
		position: relative;
		z-index: 1;
		@extend .datum;
		font-size: 0.9rem;
	}

	.circle {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1rem;
		width: 1rem;
		border-radius: 100%;
		margin-top: .25rem;
		@extend .smaller;
	}


	.updates {

		color: $donkerrood;
		@extend .smaller;
		display: flex;
		flex-direction: row;

		span {
			position: relative;
		}

		.circle {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 1rem;
			width: 1rem;
			border-radius: 100%;
			margin-top: .25rem;
			margin-right: .25rem;

			background: $donkerrood;
			color: white;
			font-size: .7rem;
			line-height: 4;
		}

	}
}
