#countdown_container {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 1rem 0;

  @media (min-width: $breakpoint-sm) {
    padding: 0rem 0 2rem 0;
  }

  > span {
    //align-self: flex-start;
    display: inline-block;
    margin-bottom: .5rem;
  }

  #countdown {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    > span  {
      width: 100%;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 2.6rem;
      line-height: .9;

      @media (min-width: $breakpoint-sm) {
        min-width: 53px;
        font-size: 5rem;
      }
      > span {}

      > span:nth-child(1) {
          font-family: "Cabrito Sans W01 Norm Bold";
          color: white;

        > span {
          display: inline-block;
          min-width: 25px;
          text-align: right;
          background: $rood;
          line-height: 1;
          padding: 2px 3px 0 3px;

          @media (min-width: $breakpoint-sm) {
            min-width: 53px;
          }

          @media (min-width: $breakpoint-bax) {
            min-width: 55px;
          }

          &:first-child {
            margin-right: 2px;
          }
        }
      }

      > span:nth-child(2) {
        font-size: .8rem;
        font-family: Cabrito Sans W01 Ext Light;
        align-self: flex-end;
        display: inline-block;
        margin-top: 4px;
      }

      &:nth-child(3)  > span:nth-child(1) span {
        background: $oranje;
      }

      &:nth-child(5)  > span:nth-child(1) span {
        background: $donkergeel;
      }

      &:nth-child(7)  > span:nth-child(1) span{
        background: $donkerblauw;
      }

      &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {

        font-size: 2rem;
        line-height: 1.4;
        padding: 0 .5rem;
        min-width: 10px;

        @media (min-width: $breakpoint-sm) {

          font-size: 3rem;
          line-height: 1.6;
        }
      }
    }
  }
}
