.details {
  position: fixed;
  width: 100%;
  top : 96px;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;


  button {
    background: none;
    border: none;
    opacity: 0;
  }

  .details__bg {
    transform-origin: 0 0;
  }

  .details__bg.details__bg--down {
    top: 0;
    height: 100vh;

    transform-origin: 0 0;
    width: 100vw;
    position: fixed;
    left: 0;
    opacity: 0;

    svg {
      width: 100%;
      height: 100%;
      fill: white;
      margin-top: 98px;

      @media (min-width: $breakpoint-bax) {
        height: calc(100% - 98px);

      }
    }

  }

  .details__img {
    position: absolute;
    top: 2rem;
    left: 7vw;
    height: 20vw;
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-1000);

    @media(min-width : $breakpoint-sm) {
      top: 14vh;
    }
  }

  .details__title {

    @extend h1;
    margin-bottom: 1.5rem;
    //font-size: 1.4rem;
    //line-height: 1.4em;


    //@include componentHeader();
    //transform-origin: 0 0;
    opacity: 0;
    //width: calc(100vw - 2rem);
    //position: absolute;
    //top: 7rem;
    //left: 2rem;

    //@media(min-width : $breakpoint-sm) {
    //  top: 8vh;
    //  right: 10vw;
    //  width: 50vw;
    //}
  }

  .details__description {

    height: auto;
    //padding-top: 20vh;
    position: relative;
    padding-right: 2rem;
    padding-bottom: 2rem;
    //top: 0;

    transform-origin: 0 0;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;

    p:first-of-type {
      //@include boldText();
    }

    quote {
      background: $lichtgrijs;
      padding: 1.5rem;
      display: block;
      margin-bottom: 1.5rem;
      font-style: italic;
    }
  }

  .details__scrolltainer {

    top: 9rem;
    position: absolute;
    right: 0;
    height: 72vh;
    overflow-y: scroll;
    opacity: 0;
    transform-origin: 0 0;

    width: calc(100% - 2rem);

    @include bullets();

    @media(min-width : $breakpoint-sm) {
      width: 55vw;
      right: 10vw;
      height: 80vh;
    }

    section{

      max-width: 100%;


      &.documents {

          background: white;


        .container {
          width: 100%;
        }


         // undo bullets
          ul {
            li {
              padding-left: 0;
              text-indent: 0;

              &:before {
                display: none;
              }
            }
          }
      }
    }



  }

  .details__close {
    position: absolute;
    height: 4rem;
    width: 6rem;
    top: .5rem;
    right: -.5rem;


    @media(min-width : $breakpoint-sm) {
      top: 1.5rem;
      right: .5rem;
    }


    svg {
      height: 3rem;
      width: 3rem;
    }


  }


  //.square-nav__background {
  //
  //}
  //
  //.img-container {
  //	position: absolute;
  //	top: 40%;
  //	left: 10%;
  //}


}

.details.details--open {
  background: $lichtgrijs;
  pointer-events: auto;


}
