.faq-section {
  margin-bottom: 3rem;
}

.faq {

  position: relative;
  margin-bottom: 2px;

  .question {

    position: relative;
    background: $donkergeel;
    padding: .75rem 3rem .75rem 1rem;

    line-height: 1.55;

    p {
      margin: 0;
    }


    > svg.icon {

      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.25rem;
      height: auto;
      transition: all 250ms ease-in-out;
      transform: rotate(180deg);


      @media all and (-ms-high-contrast:none) {

        height: 1rem;
      }
    }
  }

  .answer {


    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @include bullets();

    > div:first-of-type {

      flex: 1;
      padding: 0 1.5rem 0 .75rem;
    }

    > div:nth-of-type(2) {

      display: none;

      @media (min-width: $breakpoint-sm) {
        display: block;
      }

      position: relative;
      width: 16rem;

      > img {
        width: 100%;
        height: auto;
      }
    }
  }


  &.open {

    .question {

      > svg.icon {
        transform: rotate(0deg);
      }
    }

    .answer {

      padding: 1.5rem 0;
      height: auto;
    }
  }
}