

	footer {

		display: flex;
		background: $grijs;

		@media (min-width: $breakpoint-md) {

			flex-direction: row;

			@supports (display: grid) {
				grid-column: 1/6;
				grid-row: 3/4;
				width: auto;
			}

			@media all and (-ms-high-contrast:none) {

				-ms-grid-row:3;
				-ms-grid-column:1;
				-ms-grid-column-span:5;
				width: auto;
			}
		}

		@media (min-width : $breakpoint-xxl) {
			-ms-grid-row:3;
			-ms-grid-column:1;
			-ms-grid-column-span:7;
			grid-column: 1/8;
			grid-row: 3/4;
		}

		> div {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			//margin-top: 3rem;
			padding: 3rem 0;

			@media (min-width: $breakpoint-md) {

				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				height: auto;
				margin-bottom: 0rem;

				@supports (display: grid) {
					display: grid;
					grid-template-columns: auto repeat(3, 20rem) auto;
					grid-gap: 3rem;
				}

				@media all and (-ms-high-contrast:none) {

					display: -ms-grid;
					-ms-grid-columns: calc((100% - 60rem) / 2) 20rem 20rem 20rem calc((100% - 60rem) / 2);
					width: 100%;
					height: 100%;

					> div {
						margin: 0 1rem 0 0;

						&:last-of-type {
							margin: 0;
						}
					}
				}
			}

			@media (min-width: $breakpoint-lg) {


				@supports (display: grid) {
					grid-template-columns: auto repeat(3, 24rem) auto;
				}
				@media all and (-ms-high-contrast:none) {
					-ms-grid-columns: calc((100% - 72rem) / 2) 24rem 24rem 24rem calc((100% - 72rem) / 2);
				}
			}
		}


	@include compactText();

	div.footer-element  {


		width : calc(100% - 2rem);
		margin-bottom: 3rem;

		@media (min-width : $breakpoint-md) {

			margin-bottom: 0;
			padding: 0 2rem;

			@for $i from 0 through 3 {
				&:nth-child(#{$i}) {
					-ms-grid-column: #{$i + 1};
					grid-column : #{$i + 1} / span 1;
				}
			}

			@supports (display: grid) {
				width: auto;
				padding: 0;
			}
			@media all and (-ms-high-contrast:none) {
				width: auto;
				padding: 1.5rem;
			}

		}

		ul.page_links {
			display: flex;
			flex-direction: row;



			li {
				margin-right: 2rem;
				line-height: 3;
				@media (min-width : $breakpoint-md) {
					line-height: inherit;
				}


				a {
					border-bottom: 1px solid black;
					font-family: Cabrito Sans W01 Norm Bold;
					font-weight: 400;
				}
			}
		}

		form {
			display: flex;
			flex-wrap: wrap;

			.message {
				display: block;
				margin: 1rem 0;
				width: 100%;

			}
		}

		input[type=email], input[type=text] {

			line-height: 36px;
			height: 36px;

			//flex: 1;
			padding: 0;
			padding-left: .5rem;
			margin-bottom: 1rem;

			@media (min-width: $breakpoint-md) {
				//margin-bottom: 0;
				border: none;
			}

		}

		button, input[type=submit], a.button {
			position: relative;
			background: $donkerrood;
			color: white;
			line-height: 40px;
			height: 40px;
			padding: 0 1em;
			font-family: Cabrito Sans W01 Ext Book;
			font-size: 1rem;
			text-transform: lowercase;
			text-align: left;



			svg {

				position: absolute;
				stroke-width: 1px;
				stroke: none;
				top: .5rem;
				right: .5rem;
				width: 1.5rem;
				height: 1.5rem;
				fill: white;
			}


			&.button__stretch {

				width: 100%;
			}

		}

		input[type=submit] {

			width: 100%;

			@media (min-width: $breakpoint-sm) {

			}

			@media (min-width: $breakpoint-md) {
				//margin-top: 1rem;
			}
		}

		> div, form {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
		}
	}

	&.uithoornlijn {

		div.footer-element {



			button, input[type=submit] {

				background: $donkergeel;
				color: $zwart;

				svg {
					fill: $zwart;
				}
			}
		}
	}

	&.amsteltram {

		div.footer-element {

			button, input[type=submit] {
				background: $paars;
			}
		}
	}
}

// homepage mobile has white footer
.post footer, .page footer {

	background: $grijs;
}

