svg#grid { 

	position: absolute;
    top: -50vw;
    left: -50vw;

    width: 200vw;
    height: auto;
    z-index: 0;

    // safari 9 needs both height and with on svg's
    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
        height: 176vw;
    }
    //height: calc(100vh + 110px);transform: scale(2);

    @media all and (-ms-high-contrast:none) {

        height: 130vw;
    }

    .st0 {fill:#f9b000;}
    .st1 {fill:#ee7203;}
    .st2 {fill:#e84e0f;}
    .st3 {fill:#f39200;}
    .st4 {fill:#ffe163;}
    .st5 {fill:#e63312;}
    .st6 {fill:#d20a11;}
    .st7 {fill:#fc0;}


    polygon, path { stroke-width: 0.2;  }


    &.amsteltram {

        .st0{fill:#F9B000;}
        .st1{fill:#EE7203;}
        .st2{fill:#E84E0F;}
        .st3{fill:#F39200;}
        .st4{fill:#FFE163;}
        .st5{fill:#DE005B;}
        .st6{fill:#B81570;}
        .st7{fill:#FFCC00;}
    }

    &.uithoornlijn {

        .st0{fill:#F9B000;}
        .st1{fill:#EE7203;}
        .st2{fill:#E84E0F;}
        .st3{fill:#F39200;}
        .st4{fill:#FFE163;}
        .st5{fill:#DE005B;}
        .st6{fill:#B81570;}
        .st7{fill:#FFCC00;}


        transform: scaleX(-1);
    }
}

.home svg#grid {

	position: absolute;
    top: -50vw;

	polygon, path {

		fill: transparent;
        stroke: $lichtgrijs;
        opacity: .3;
	}

    &.amsteltram, &.uithoornlijn {

        polygon, path {

            fill: transparent;
            stroke: $lichtgrijs;
            opacity: .3;
        }

    }
}


#archief svg#grid {

    position: absolute;
}

#grid_container {

    height: 441px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    overflow: hidden;
 }



