#mobile-menu {

	//display: none;
	background: $lichtgrijs;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	overflow: hidden;
	z-index: 99; 
	transition: height 250ms ease-out; 

	.container {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-top: 90px;

		a { 

			font-size: 1.4rem;
	    	line-height: 1.4em;
			line-height: 50px;
			color: $zwart;
			border: none;
			font-family:'Cabrito Sans W01 Norm Bold';
			padding-left: 2rem;

		}
	}
}

#mobile-menu.open {

	height: 100vh;
}

header {

	position: fixed;
	background: $wit;
	line-height: 66px;
	height: calc(69px + 2rem);
	display: block;
    width: 100%;
    top: 0;
    z-index: 9999;
	transition: height 250ms ease-out;

	.header-strip-top {

		position: relative;
		background: $grijs;
		height: calc(2rem + 6px);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 0rem;

		//@media (min-width : $breakpoint-sm) {
		//	justify-content: flex-end;
        //
		//}

		.large-container {

			position: relative;
			display: flex;
			flex-direction: row;
			background: transparent;

			@media (max-width : $breakpoint-sm) {
				width: 100%;
			}

			@media (min-width : $breakpoint-sm) {
				justify-content: flex-end;
			}
		}

		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			border-bottom: 3px solid #a6a6a6;
			width: 100%;

			@media (min-width : $breakpoint-sm) {
				transform: skew(-33deg);
				width: auto;
			}


			li {
				color: $zwart;
				line-height: 2rem;
				padding: 3px .8rem 0 .8rem;
				background: #BFBFBF;
				flex: 1;
				text-align: center;

				@media (min-width : $breakpoint-sm) {
					padding: 3px 2.8rem 0 2.8rem;
					flex: none;
				}

				&.active {
					background: $donkerrood;
					a {
						color: white;
					}
				}

				a {
					display: block;
					font-size: .85rem;
					line-height: inherit;
					text-decoration: none;
					border: none;

					@media (min-width : $breakpoint-sm) {
						transform: skew(33deg);
					}
				}

				&:first-of-type {
					background: #A6A6A6;
				}

				&:last-of-type {
					background: #CCC;
				}

				&.active:first-of-type {
					background: $paars;
					a {
						color: white;
					}

				}

				&.active:last-of-type {
					background: $geel;

					a {
						color: $zwart;
					}
				}
			}

			&.header-menu-languages {

				margin: 0 0 0 2rem;
				transform: skew(0);
				border: none;
				display: none;

				@media (min-width : $breakpoint-sm) {
					display: flex;
				}

				li {

					background: $grijs;
					display: flex;
					flex-direction: row;
					padding: 4px 0 0 4px;
					//font-family: 'Cabrito Sans W01 Norm Bold';


					a {
						transform: skew(0);
					}

					&::after {
						content: "|";
						transform: skew(0);
						margin-left: 4px;
					}

					&:last-child::after {
						display: none;
					}
				}
			}
		}
	}

	.header-strip-bottom {

		position: relative;
		height: calc(100% - 2rem - 6px);

		.large-container {
			height: 100%;
			display: flex;
			justify-content: space-between;
			flex-direction: row;


			 ul#hamburger {

				 position: absolute;
				 z-index: 99;
				 right: 1rem;
				 top: 0;
			 }
		}
	}



    a#homelink {

    	position: absolute;
    	display: block;
    	height: 90px;
    	width: 300px;

		@media (min-width : $breakpoint-md) {
			height: 140px;
			position: relative;
		}
    }

	svg#woordmerk {

		transition: all 250ms;
		position: absolute;
		top: 0rem;
		left: 0rem;
		z-index: 2;

		margin: -1rem 0 1rem 0;
		width: 280px;
    	height: 100px;

		@media (min-width : $breakpoint-sm) {
			margin: 15px 0;

		}

		@media (min-width : $breakpoint-md) {

		}

		@media (min-width : $breakpoint-lg) {
			left: -6rem;
		}

		&.amstelveenlijn {

			@media (min-width : $breakpoint-md) {
				left: -4rem;
			}

			@media (min-width : $breakpoint-lg) {
				left: -6rem;
			}
		}


		&.amsteltram {

			width: 210px;
			height: 80px;
			top: .66rem;

			@media (min-width : $breakpoint-sm) {
				width: 240px;
				margin: 15px 0;
				left: 2rem;
				top: 2rem;
			}

			@media (min-width : $breakpoint-md) {
				top: 2.3rem;
			}

			@media (min-width : $breakpoint-lg) {
				top: 0rem;
				left: -6rem;
				width: 280px;
				height: 100px;
			}

		}


		&.uithoornlijn {

			width: 210px;
			height: 80px;
			top: .66rem;

			@media (min-width : $breakpoint-sm) {
				width: 240px;
				margin: 15px 0;
				left: 2rem;
				top: 2rem;
			}

			@media (min-width : $breakpoint-md) {
				top: 2.3rem;
			}

			@media (min-width : $breakpoint-lg) {
				top: 0rem;
				left: -6rem;
				width: 280px;
				height: 100px;
			}
		}
	}

	#merkcontainer {

		transition: all 250ms;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		height: 125px; 
		width: 390px;

		@media (min-width : $breakpoint-md) {
			//width: 320px;
		}

		@media (min-width : $breakpoint-lg) {
			width: calc((100vw - 1280px) / 2 + 400px);
		}

		svg {

			fill: transparent;
			width: 100%; 
			height: 100%; 
			position: absolute;
			z-index: -1;
			top:0;
			left: 0;

			@media (min-width : $breakpoint-sm) {
				fill: white;
			}
		}
	}



	&.condensed {

		//border-bottom: 1px solid $lichtgrijs;

		svg#woordmerk {

			height: 50px;
			width: 111px;
			margin: 5px 0;

			&.uithoornlijn {

				top: 0rem;


			}

		}

		#merkcontainer {

			height: 60px;
		}
	}
}
