#hero-image {

  position: relative;
  height: 100vw;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: flex-start;

  @media (min-width : $breakpoint-sm)  {
    height: 360px;
    display: flex;
    padding-top: 2.5rem;

    > .img-container > img {
      //transform: scaleX(-1);
    }
  }

  @media (min-width : $breakpoint-sm) and (max-width : $breakpoint-md) {

    > .img-container {
           height: 100%;
           width: auto;

           > img {
             height: 100%;
             width: auto;
           }
         }
  }

  @media (min-width : $breakpoint-lg) {
    height: 400px;
    padding-top: 0rem;
  }

  @media (min-width : $breakpoint-xl) {
    height: 480px;
  }

  #featured-post {
    display: none;
    @media (min-width : $breakpoint-sm) {
      display: block;
    }
  }
}

#hero-image-mobile {

  display: block;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width : $breakpoint-sm) {
    display: none;
  }
}

.home_alt  #hero-image  {

  @media (min-width : $breakpoint-sm)  {
    height: 500px;
    display: flex;
    padding-top: 2.5rem;

    > .img-container > img {
      //transform: scaleX(-1);
    }
  }

  @media (min-width : $breakpoint-sm) and (max-width : $breakpoint-md) {

    //height: 600px;

    > .img-container {
      height: 100%;
      width: auto;

      > img {
        height: 100%;
        width: auto;
      }
    }
  }

  @media (min-width : $breakpoint-lg) {
    height: 580px;
    margin-top: -100px;

  }

  @media (min-width : $breakpoint-xl) {
    height: 740px;
  }

  //svg#merklijn25 {
  //  position: absolute;
  //  left: calc((100% - 1180px) / 2);
  //  top : 400px;
  //}



}

.campagne.show-on-mobile {

  display: none;

  @media (max-width: $breakpoint-sm) {
    display: block;
    margin-top: 1rem;
  }

  a svg#merklijn25 {
    @media (max-width: $breakpoint-sm) {
      width: 100%;
      margin-left: -1rem;
    }
  }

  h2 {
    @media (max-width: $breakpoint-sm) {
      line-height: 1.35;
      margin-bottom: 1rem;
    }
  }
}

.uithoornlijn  #hero-image {

    @media (min-width : $breakpoint-lg) {
      height: 360px;
    }

    @media (min-width : $breakpoint-xl) {
      height: 400px;
    }
}
