$countOfEl : 6;

ul#home-menu

  {
    display: grid;
    grid-template-columns:  repeat(#{$countOfEl},1fr);
    grid-template-rows: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: $middelgrijs;

    width: 100vw;

    @media (min-width: $breakpoint-md) {
      display: none;
    }

    $countOfEl : 6;

    li {

      grid-row: 1;
      width: auto;
      z-index: 1001;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;

      &.active-background {
        position: absolute;
        left: 0;
        z-index: 1000;
        background: $donkerrood;

        &.amsteltram {
          background: $paars;
        }

        &.uithoornlijn {
          background: $donkergeel;
        }

      }

      &:not(.uithoornlijn).active svg {

        fill: white;
        stroke: white;
      }

      svg {
        height: 1.5rem;
        width: auto;
        stroke: $zwart;
        fill: $zwart;
      }
    }


    @for $i from 1 through $countOfEl {

      li:nth-child(#{$i}) {
        grid-column: #{$i - 1} / span 1;
        &.active-background {
          width: calc(100% / #{$countOfEl});
        }
      }
    }
  }



ul#dashboard-menu {
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;

    @media (min-width : $breakpoint-md) {

      display: flex;
      position: absolute;
      z-index: 99;
      height: auto;
      top: 0rem;
      right: 0;
      left: auto;
      background: #fff;
      border: none;
      width: calc(33.33% - 1rem);

      @supports (display: grid) {

        grid-column: 4/5;
        grid-row: 1/2;
        left: 0;
        right: auto;
        width: 100%;
      }

      @media all and (-ms-high-contrast:none) {

        -ms-grid-column: 4;
        -ms-grid-row: 1;
        right: auto;
        width: 100%;
      }
    }

    @media (min-width : $breakpoint-xxl) {

      display: none;
    }

    li {
      flex: 1;
      font-size: .85rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      @media (min-width : $breakpoint-sm) {
        flex: none;
        justify-content: space-between;
        font-size: 1rem;
        padding: 0 .5rem;
      }

      &.active {



      }

      span {

          border-bottom: 1px solid $zwart;

      }


      &.active {

        span {
          border-color: $rood;
        }

        &.uithoornlijn {

          span {
            border-color: $donkergeel;
          }
        }

        &.amsteltram {

          span {
            border-color: $paars;
          }
        }
      }

      &:hover {

        background: $donkerrood;

        span {

          color: white;
        }

        &.uithoornlijn {
          background: $donkergeel;

          span {

            color: black;
          }
        }

        &.amsteltram {
          background: $paars;
        }
      }
    }
  }

