#monitor-link {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  flex-start;


  width: calc(100% - 2rem);
  padding: 0 1rem;

  cursor: pointer;
  position: relative;
  background: $geel;
  margin-bottom: 2rem;

  @supports (display:-ms-grid) {
    max-height: 172px;
  }

  @media (min-width : $breakpoint-sm) {

    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  @media (min-width : $breakpoint-md) {
    flex-direction: row;
    //height: 160px;

  }

  > div {
    // box-sizing: border-box;
    padding: 1rem;
    width: calc(100% - 4rem);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (min-width : $breakpoint-sm) {
      padding: 1rem 2rem;
    }

    @media (min-width : $breakpoint-lg) {
      width: calc(50% - 3rem);
      height: calc(100% - 2rem);

    }

      h2 {

        font-size: 1.06rem;
        line-height: 1.4em;

        @media (min-width : $breakpoint-lg) {

          font-size: 1.4rem;
          line-height: 1.15;
          margin-bottom: .125rem;
        }
      }

      span {
        //font-family: 'Cabrito Semi W01 Norm Bold';
        display: block;
        width: 100%;
        line-height: 1.25;
        margin-bottom: .25rem;

        @media (min-width : $breakpoint-lg) {

          font-size: 1.4rem;
          line-height: 1.25;
        }
       }
  }


  > .img-container {

    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width : $breakpoint-sm) {
      display: block;

      width: 100%;

    }

    @media (min-width : $breakpoint-lg) {
      height: 100%;
      width: calc(50% - 1rem);

    }


    img {

        filter: none;

        @supports (display:-ms-grid) {
          max-height: 170px;
        }

    }
  }

  &.testtrams {

    background: $donkerrood;

    color: white;

    > div {

      &:last-child {
        background-image: url(https://amsteltram.nl/assets/svg/campagne-achtergrond.svg);
        background-size: cover;
      }

      h2 {

        font-family: "Cabrito Sans W01 Ext Book";
        FONT-SIZE: 1.6rem;
        line-height: 1.8rem;
        font-weight: 600;
        margin: 1rem 0;

        @media (min-width : $breakpoint-lg) {
          margin: 0 0 1rem 0;
        }

        @media (min-width : $breakpoint-lg) {
          margin: 0 0 1.55rem 0;
        }

          span {
          FONT-SIZE: inherit;
          font-style: italic;
          font-weight: 700;
          display: inline;
        }
      }

      span {
        font-family: "Cabrito Sans W01 Norm Bold";
        font-style: italic;
        //font-size: 1.06rem;
        //line-height: 1.55rem;

        @media (min-width : $breakpoint-lg) {
          //font-size: 1.2rem;
          //
          //font-weight: 400;

        }
      }
    }
  }


}