

ul#hamburger {

	display: flex;
	flex-direction: column;
	height: 100%;
	border: none;

	@media (min-width : $breakpoint-md) {
		display: none;
	}

	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding-top: 0;
		background: transparent;
	}

	li#close-mobile-menu {
		display: none;
		justify-content: flex-end;
		margin-bottom: 1rem;
	}

	svg {
		width: 1.5rem;
		height: 1.5rem;
	}

}

nav {

	/*background: $lichtblauw;*/
	min-height: 66px;
	position: absolute;
	z-index: 9999;
	width: 100%;
	top: 6rem;
	right: 0;
	display: none;
	align-items: center;
	justify-content: flex-start;


	@media (min-width : $breakpoint-sm) {
		position: relative;
		width: calc(100% - 6rem);
		margin-left: 2rem;

	}

	@media (min-width : $breakpoint-md) {
		display: flex;
		width: calc(100% - 0px);
		top: 0;
		justify-content: flex-end;
		margin-left: 0;

	}

	@media (min-width : $breakpoint-lg) {

		width: calc(100% - 0px);

	}

	ul {

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width : $breakpoint-sm) {

			margin-top: 16rem;
		}

		@media (min-width : $breakpoint-md) {
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			margin-top: 0rem;
		}

		li {

			display: flex;
			flex-direction: row;
			opacity: 0;

			@media (min-width : $breakpoint-md) {
				opacity: 1;
			}

			//align-items: center;
			//width: 100%;

			a {
				line-height: 2.4;
				font-size: 1.25rem;
				color: $zwart;

				margin-right: 1.5rem;
				border: none;
				font-family: 'Cabrito Sans W01 Norm Bold';
				text-transform: lowercase;

				@media (min-width : $breakpoint-md) {
					line-height: 66px;
					font-size: 1rem;

				}

				@media (min-width : $breakpoint-lg) {

					margin-right: 2rem;
				}

				@media (min-width : $breakpoint-xl) {
					margin-right: 2.5rem;
				}
			}

			input {

				border: none;
				border-bottom: 1.5px solid $zwart;
				font-family: 'Cabrito Sans W01 Norm Bold';
				line-height: 1.2;
				border-radius: 0;
				-webkit-appearance: none;
				font-size: 1.25rem;
				padding: 1rem 0;
				width: calc(100% - 1rem);

				@media (min-width : $breakpoint-md) {
					font-size: 1rem;
					padding: 0;
					width: 140px;
					margin-right: -13px;
				}

				&:focus {
					outline: none;
				}
			}



			button {
				padding: 0;
				height: 1rem;
				margin-top: 1rem;
				overflow: visible;
				margin-left: -1rem;
				cursor: pointer;
				background: white;

				@media (min-width : $breakpoint-sm) {
					margin-top: 0rem;
				}

				@media (min-width : $breakpoint-md) {
					margin-left: 0;
				}

				> svg {
					position: relative;
					display: block;
					margin-top: 2px;
					width: 16px;
					height: 16px;
					margin-left: -6px;

					transform: scale(1.25);


					@media (min-width : $breakpoint-sm) {
						margin-top: 17px;
					}

					@media (min-width : $breakpoint-md) {

						transform: scale(1);
						margin-top: 0px;
						margin-left: 0px;
					}
				}
			}

			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $zwart;
				opacity: 1; /* Firefox */
				text-transform: lowercase;
			}

			:focus::placeholder {
				opacity: 0;
			}

			&:last-child {
				@-moz-document url-prefix() {
					width: 150px;
				}
			}
		}
	}
}

#nav-mobile { width: 60px; display: none; 

	#close-mobile-menu { display: none; }
}

