.search-snippet  {

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-decoration: none;

  min-height: 5rem;
  border:none;
  //opacity: 0;
  //transition: opacity 500ms ease;

  @media (min-width: $breakpoint-sm) {

    margin-bottom: 1rem;
  }

  @media (min-width: $breakpoint-md) {

    // margin-bottom: 2rem;
  }

    div.image-container {

    width : 7rem;
    margin-right: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 112px;
    @media (max-width: $breakpoint-md) { // max 760{
      width: 5.5rem;
      margin-right: 1rem;
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none !important;
    }
  }

  div.card-text {

    width : calc(100% - 12rem - 1.5rem);
    cursor: pointer;
    margin-top: -.5rem;
    @media (max-width: $breakpoint-md) { // max 760{
      width: calc(100% - 4.5rem - 1rem);
      .smallerfont {
        line-height: 1.5;
      }
    }
  }

  .datetime {
    color: $donkergrijs;
    display: inline-block;
    font-size: .875rem;
  }

  .search-excerpt b {
    color: $lichtgeel;
  }

  .indicator {

    font-size: .875rem;
    display: inline-block;
    text-transform: uppercase;
  }

  h3 {

    margin-bottom: 0rem;
    cursor: pointer;
    line-height: 1.44;
    margin: 0 0 .2rem 0;


    &.editorial {
      color: $donkerrood;
    }
  }

  .search-excerpt {
    @include compactText();
  }

  .more-link {
    display: none;
  }

  a { text-decoration: none; border: none; }
  a:hover { background: none; }

  .document-taglist {

    padding: 0;
    margin: 0;
    list-style: none;

    li {

      @include compactText();
      text-transform: lowercase;
      display: inline-block;
      margin-right: .5rem;
      background: $lichtgrijs;
      padding: 0 5px;
      border-radius: 5px;
    }
  }

  .smallerfont {
    display: block;
    margin: 4px 0;
    @include lightText();

  }

  .reply-count {
    font-size: .875rem;
    line-height: 1.55;
    display: inline-block;
    background: $lichtgrijs;
    padding: 0 5px;
  }


}

a.search-snippet:hover {

  background: transparent;
}
