/*alle sections padding bottom, behalve de tussenkoppen*/

#sections, #secties {

	flex-direction: column;
	align-items: center;
	background: #fff;

	&.sections--padding-top{
		padding-top: 80px;
	}
}

.section {

	position: relative;
	z-index: 9;
	min-height: 20px;

	.text {

		margin: 0 1rem;
		@include bullets();


		@media (min-width : $breakpoint-sm ) {
			margin: 0 auto;
		}

	}

	// voor eigenwijze types
	.gallery {

		figure {

			@media (max-width : $breakpoint-md ) {
				padding: 0;
				margin: 0 0 1rem 0;
			}
		}

		.gallery-icon {
			text-align: center;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.section.paragraph {

	padding: 0 0 1.5em 0; /*heeft ook nog 1.5em van het p'tje*/

	ol {
		padding: 1rem;
		margin-bottom: 2rem;
	}
}

.section:last-of-type:not(.documents):not(.form) {

	margin-bottom: 2rem;

	@media (min-width : $breakpoint-lg ) {

		margin-bottom: 4.5rem;
	}
}


.section.chapter {

	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;



	h2 {
		font-size: 2rem;
		line-height: 1.45;
		font-family:'Cabrito Sans W01 Norm Bold'; /*'Cabrito Semi W01 Norm Demi'; */

		margin: 0 1rem .5em 1rem;

		@media (min-width: $breakpoint-sm) {
			margin: 0 0 .5em 0;
		}

	}
}

.section.streamer {

	margin: 4rem auto 2rem auto;

	h2 {
		font-size: 2rem;
		line-height: 1.45;
		font-family:'Cabrito Sans W01 Norm Bold'; /*'Cabrito Semi W01 Norm Demi'; */
		/*		color: $donkerblauw;*/
		margin: 0 0 .5em 0;
		max-width: 66%;
		color: $navy;
	}
}

.section.images  {

	display: flex;
	flex-direction: column;
	justify-content: center;
	//width: 100%;

	@media (min-width : $breakpoint-sm) {
		flex-direction: row;
	}

	.caption {

		position: relative;
		background: $grijs;
		margin: 0;
		padding: 1rem 1rem 3rem 1rem;
		//padding-bottom: 4rem;
		height: calc(100% - 6rem);

		@media (min-width : $breakpoint-md) {
			padding: 2rem;
			padding-bottom: 4rem;
		}



		.light {
			margin-top: .4rem;
			position: absolute;
			bottom: 1rem;

			@media (min-width : $breakpoint-md) {
				bottom: 2rem;
			}
		}
	}


	&.transparent.center {

		.caption {
			background: transparent;
			margin: 0;
			padding: 0 2rem 0 0;
		}
	}


	&.transparent.right {

		.caption {
			background: transparent;
			margin: 0;
			padding: 1rem;

			@media (min-width: $breakpoint-sm) {
				padding: 0 2rem 0 0;
			}
		}
	}

	&.transparent.left {

		.caption {
			background: transparent;
			margin: 0;
			padding: 1rem 0;

			@media (min-width: $breakpoint-sm) {

				padding: 0 0 0 2rem;
			}
		}
	}


	&.single {
		//background: $lichtgrijs;
	}

	&.single.left {

		@media (min-width : $breakpoint-sm) {
			.caption {
				//padding-right: 0;
			}
		}

	}

	&.single.right {

		flex-direction: column;

		@media (min-width : $breakpoint-sm) {
			flex-direction: row-reverse;

			.caption {
				//padding-left: 0;
			}
		}


	}

	&.single.center {

		flex-wrap: wrap;

		.col-60 {
			width: 100%;
		}

		.col-40 { width: 100%;

			padding-bottom: 2rem;
		}
	}

	&.duo.center, &.duo.left, &.duo.right {

		flex-wrap: wrap;
		justify-content: space-between;

		> div {

			@media (min-width: $breakpoint-sm) {
				width: calc(50% - 1rem);
			}

			&:first-of-type {

				@media (max-width: $breakpoint-sm) {
					margin-bottom: 1rem;
				}
			}
		}

		.col-40 {
			order: 4;
			align-self: flex-start;
		}
		.col-40:first-of-type {
			order: 3;

		}
		.col-60 {
			order: 2;
			align-self: flex-end;
		}
		.col-60:first-of-type {
			order: 1;
		}

		&.transparent {

			.col-40 .caption {
				padding-top: 2rem;
				padding-left: 0;
			}
		}
	}

	&.small-container.transparent.left, &.small-container.transparent.right, &.small-container.transparent.center {

		@media (max-width: $breakpoint-md) {
			width: calc(100% - 4rem);
		}

		@media (max-width: $breakpoint-sm) {
			width: calc(100% - 2rem);

			.caption {
				padding: 1rem 0;
			}
		}
	}

	&.large-container.transparent.left, &.large-container.transparent.right, &.large-container.transparent.center {

		@media (max-width: $breakpoint-md) {
			width: calc(100% - 4rem);
		}

		@media (max-width: $breakpoint-sm) {

			width: calc(100% - 2rem);

			.caption {
				padding: 1rem 0;
			}
		}
	}

	//&.large-container {
    //
	//	@media (max-width: $breakpoint-sm) {
	//
	//	}
	//}
}

.section.image_and_text {

	display: flex;
	flex-direction: row;
	padding: 0 0 3em 0;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;

	.col-50 {


		@include bullets();

		@media (min-width : $breakpoint-sm) {
			width: calc(50% - 1.5rem);
		}


		&.text  {

			margin-top: 1.5rem;

			@media (min-width : $breakpoint-sm) {
				margin-top: 0;
			}
		}
	}

	&.right {

		flex-direction: row-reverse;
	}
}


.section.image-large {

	display: flex;
	flex-direction: column;
	padding: 0 0 3em 0;
	width: 100%;

	.bijschrift { @extend .innerpadding;  }

	.caption { display: block; margin: 1em 2em; font-size: .9em; }
}

.image-left, .image-right, .image-multiple, .foto_links, .foto_rechts, .foto_combi_gelijk  {

	width: inherit;
	height: auto;
	min-height: 1px;
	display: flex;
	flex-direction: row;
	padding: 0 0 3em 0;


	.bijschrift {

		padding: 1rem;
    //	background: $lichtgrijs;
    	margin: 0;

	 }
}

.section.quote {

	margin: 2rem auto 3rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.quote_text {

		/* @extend .uni-sans; */
		font-size: 28px;
		line-height: 42px;
		margin-bottom: 1.5rem;
		text-align: center;

		width: 100%;
	}

	.author_thumbnail {

		width: 5rem;
		height: 5rem;
		border-radius: 100%;
		overflow: hidden;
		margin-bottom: 1rem;
	}
}

.section.documents {

	width: 100%;
	background: #ccc;


	.container {

		//@extend .innerpadding;
		flex-direction: column;
		padding: 1rem 0;

		@media (min-width: $breakpoint-sm) {
			padding: 1.5rem 0;
		}

		@media (min-width: $breakpoint-lg) {
			padding: 3rem 0;
		}


		h2 {
            //font-size: 1.1875rem;
    		//line-height: 1.85em;
    		padding: 1rem 0;
     	}

		ul {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;


			a {
				width: calc(100% - 2rem);
				border: none !important;
				margin: .5rem 0;


				@media (min-width : $breakpoint-md) {
					width: calc(50% - 1rem);
					margin: .5rem 0;
				}
			}

			a:hover .small-block-header .shape svg {
				fill: $donkerblauw;
			}

			h3 {
				@include bodyText();
				line-height: 1.6;
				margin-top: -4px;
			}

			&.list {
				flex-direction: column;
			}
		}


		.small-block-header {

			padding-left: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;

			.shape {
				width: 2.5rem;
				align-self: flex-start;
				margin-top: .5rem;

				svg   {
					width: 2rem;
					height: auto;
					fill: #000;

					@media all and (-ms-high-contrast:none) {
						height: 2rem;
					}
				}
			}

			.text-block {

				width: calc(100% - 3rem);
			}
		}
	}
}

.section.datavisplanning {

	min-height: 200px;
	margin: 1.5rem auto 3rem auto;
}

.section.video {

	overflow: hidden;
	cursor: pointer;
	margin: 0 auto 1.5rem auto;
	//width: 100%;

	@media (min-width: $breakpoint-sm) { // max 900
		flex-direction: column;
		//margin: 3rem auto;
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.still-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		opacity: 1;

		transition: opacity 250ms ease;
	}

	.still-image.play-state {
		display: none;
	}

	.play-knop {
		width: 6rem;
		height: 6rem;
		position: absolute;
		left: calc(50% - 3rem);
		top: calc(50% - 3rem);

		svg {
			fill: $donkergeel;
			transform:scale(1.4);
			position: absolute;
			height: 66px;
			width: 66px;
			left: calc(50% - 33px + .45rem);
			top: calc(50% - 33px);
		}
	}
}

.section.form {


	background: #ccc;
	width: 100%;

	//.form-container {
    //
	//	width: calc(100% - 2rem);
	//	margin-left: 1rem;
	//}

	form {

		display: flex;
		flex-wrap: wrap;
		margin: 2rem auto 3rem auto;
		width: 100%;

		.message {
			display: block;
			margin: 1rem 0;
			width: 100%;

		}
	}

	&.newsletter {

		input[type=email] {
			flex: 1;
			border-bottom: 1px solid $geel;
		}
	}
}

.section.images + .section.images {

	padding: 1rem 0 0 0;

	@media (min-width: $breakpoint-md) {
		padding: 2rem 0 0 0;
	}
}

.section.images + .section.paragraph {
	margin-top: 1rem;

	@media (min-width: $breakpoint-sm) {
		margin-top: 3rem;
	}
}
.section.form:last-of-type, .section.documents:last-of-type {
	padding-bottom: 0;
}

.section.form + .section.paragraph {
	padding-top: 3rem;
}

.section.documents + .section.paragraph {
	padding-top: 3rem;
}

.section.documents + .section.images {
	margin-top: 3rem;
}

.section.images + .section.chapter {
	margin-top: 3rem;
}

.section.images + .section.documents {
	margin-top: 3rem;
}