.small-block { 

	position: relative;
	height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  /*  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 calc(100% - 1em), 0 0);
			clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 calc(100% - 1em), 0 0);*/

	.small-block-header {

		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.img-container {

		width: 5rem;
		height: auto;

		img {

			@media (min-width: $breakpoint-md ) {

				-webkit-clip-path: polygon(50% 0%, 100% 1em, 100% 100%, 50% 100%, 0 calc(100% - 1em), 0 0);
				clip-path: polygon(50% 0%, 100% 1em, 100% 100%, 50% 100%, 0 calc(100% - 1em), 0 0);

			}
		}
	}

	.overlay {

		height: auto;
		background: #fff;
		position: relative;

		background: none;
		//margin: 1rem 0 0 0;
		//padding: 0rem 2rem 0 1rem;
		clip-path: none;
		bottom: auto;
		left: auto;
		//height:4.55rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		padding: 0rem 1rem 0rem 1rem;
		width: calc(100% - 6rem);

		@media (min-width: $breakpoint-md) {

			padding: 0;
			width: calc(100% - 9rem);
		}

		h3 { 

			@extend h3; 
			font-size: 1.06rem;
			line-height: 1.33em;
		}
		.authors { 

			@extend .authors; 
			font-size: 0.9rem;
			line-height: 1.4;

		}
		.datum { 

			@extend .datum;
			font-size: 0.9rem;
			line-height: 1.3;
			margin: 0 0 3px 0;
		}
	}
}

//@media (max-width: 1024px) {
//
//	.small-block {
//
//		.image_container {
//
//			width: 3.5rem;
//		}
//
//		.overlay {
//
//
//		}
//
//	}
//}