#social-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: -.25rem;

  @media(min-width: $breakpoint-md) {
    align-items: center;
  }

  @media(min-width: $breakpoint-md) {

    margin-bottom: 4rem;
    //align-items: flex-end;
    //margin-bottom: 2rem;
    //margin-top: -6rem;
    //width: 640px;

  }
  @media(min-width: 1200px) {
    //margin-bottom: -4rem;
    //margin-top: 0;
    //width: calc(100% - 1rem);

  }
  @media (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {

  }
  @media(min-width: $breakpoint-lg) {

  }

  .question {
    @include boldText();
    font-size: 1.4rem;
    line-height: 1.85em;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;

  }
}

.social_links {

    display: flex;
    //justify-content: center;

    ul {

      display: flex;
      flex-direction: row;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        background: $grijs;

        margin-right: 1rem;
        height: 2.75rem;
        width: 2.75rem;

          a {
            border: none !important;
          }

        &.amstelveenlijn {
          background: $donkerrood;

            svg {
              fill: white;
            }
        }

        &.uithoornlijn {
          background: $donkergeel;
          svg {
            fill: black;
          }
        }
      }

      svg  {

        margin-top: 3px;
        height: 2.5rem;
        width: 2.5rem;
        fill: $zwart;

        transition: all 250ms ease;
      }

      svg:hover {

        fill: $donkergeel;
        @media(min-width: 1200px) {
          fill: $donkergeel;
        }
      }
    }
}
