#tile_amsteltram {

  background: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0 0;
  padding: 2rem;

  span {

    display: block;
    font-family: 'Cabrito Sans W01 Norm Bold';
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    margin-bottom: .5rem;

    @media (min-width: $breakpoint-sm) {
      font-size: 12px;
    }
  }

  svg {
    width: 100%;
    height:auto;
    max-width: 360px;
  }
}

#tile_flickr {

  background: white;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 0rem 0 2rem 0;
  padding: 1rem;

  width: calc(100% - 2rem);


  //@media (min-width: $breakpoint-sm) {
  //  width: 100%;
  //}

  svg {

    width: 2.5rem;
    height: auto;
    margin-right: 1rem;
  }



  span {
    display: block;
    font-family: 'Cabrito Sans W01 Norm Bold';
    z-index: 1;

    margin-bottom: 0;

    font-size: 1.06rem;
    line-height: 1.4;

    @media (min-width: $breakpoint-sm) {
      font-size: 1.4rem;
      line-height: 1.33;
    }
  }

  &:hover {
    background: $geel;
  }
}