

.work-block {

  position: relative;
  padding: 1em;
  background: $lichtgrijs;
  margin-bottom: 1em;
  //font-size: 1rem;
  //line-height: 1.55;
  @include compactText();

  .work-block__header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .work-block__icon-circle {

      //position: absolute;
      top: 1.5rem;
      left: 1rem;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: .75rem;
      border-radius: 50%;
      background: $paars;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      flex: 1;
      font-size: 1.25rem;
      line-height: 1.275;
    }
  }

  .datum {
    margin-top: 1.5rem;
    color: $paars;
    display: block;
    //text-transform: uppercase;
  }

}

.future .work-block, .work-block.future {

  .work-block__header .work-block__icon-circle {
      background: $navy;
  }
  .datum {
    color: $navy;
  }
}
