//
//#comments-sidebar {
//
//		display: block;
//		margin: 5rem 0;
//		padding-left: 2rem;
//
//		> div {
//
//			background: #fff;
//			padding: 1rem;
//
//		}
//
///*		span.label { display: block; width: 100%; color: #333; margin: 0 auto 15px auto;}
//		span.label.nobottom { margin-bottom: 0; }*/
//
//		#sidebar_intro {
//
//			position: relative;
//			padding: 1rem;
//			margin: 0 0 1rem 0;
//
//			h2 {
//
//				font-size: 1.06rem;
//    			line-height: 1.85em;
//    			color: $zwart;
//    		}
//
//		}
//
//		h4 { margin-bottom: 20px; }
//
//		h4.comment_count { line-height: 60px; font-size: 24px; font-weight: 300; color: #fff;
//
//			span.number { font-weight: 700; font-size: 22px; }
//
//		}
//
//		h4:last-of-type {
//
//			margin-top: 2rem;
//
//		}
//
//
//
//		.deelnemers { margin-bottom: 15px; }
//		div.deelnemer {
//
//			display: inline-block;
//			position: relative;
//			cursor: pointer;
//			background: $lichtgrijs;
//			margin: 0 2px 6px 0;
//			line-height: 24px;
//			padding: 10px 15px 5px 10px;
//			color: $zwart;
//
//				span { /*.mini;*/ color: $zwart; }
//				span.aantal { position: absolute; top: -2px; right: 3px; font-size: 10px;}
//			}
//
//		div.deelnemer:hover {
//
//			background: $lichtgeel;
//
//			span { color: $zwart; }
//		}
//
//		.deelnemer.projectteam {
//
//			/*background: $lichtblauw;*/
//		}
//
//		.button {
//
//			margin-top: 1rem;
//			background: $lichtgeel;
//			font-family: 'Cabrito Sans W01 Norm Bold';
//
//		}
//
//		input { width: 100%; border: none; line-height: 40px; margin-top: 10px; padding: 0 10px; }
//
//		.input_container { position: relative;
//
//			.leeg_zoekopdracht { position: absolute; top: 13px; right: 10px; display: block; cursor: pointer;
//
//					img { height: 20px; width: auto; tranform: rotate(45); }
//			}
//
//		}
//
//
//}
//