.comment {

	padding: 0;
	width: calc(100% - 0rem);
	position: relative;
	overflow: hidden;
	@include compactText();
	transition: all 500ms ease-out;
	background: #fff;
	padding: .5rem 0rem 0rem 0;
	border-bottom: 1px solid $grijs;

	.comment-wrapper {

		position: relative;
		margin-right: 2rem;
		width: calc(100% - 2rem);
	}

	img {
		width: 100%;
	}

	.author-thumbnail-container {

		display: none;
		position: absolute;
		top: 0.5rem;
		left: -4rem;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		overflow: hidden;
		background: $lichtgrijs;

		img {

			width: 100%;
			filter: grayscale(100%);

			&:hover {
				filter: grayscale(0%);
			}
		}
	}

	.header { 

		position: relative;
		margin: 0 -1rem; 
		padding: .5rem 1rem 0 1rem;
		line-height: 1.85;
		width: calc(100% + 1px);
	}

	.auteur, h4 {
		
		font-family: 'Cabrito Sans W01 Norm Bold'; 
	}

	h4 {
		margin: -3px 0 4px 0;

		&.editorial {
			color: $donkerrood;
		}

		&.editorial.uithoornlijn {
			color: $navy;
		}

		&.editorial.amsteltram {
			color: $paars;
		}
	}

	.datum, .datetime {

		font-size: 0.8rem; 
		font-family:'Cabrito Sans W01 Ext Light';
	}

	p:last-of-type {

		margin-bottom: 0;
	}


	a {
		@include compactText();
		border-bottom: 1px solid $zwart;
	}


	.comment-relations {

		position: relative;
		display: flex;
		flex-direction: row;
		margin: .5rem 0;
		//right: 0rem;
		//top: calc(50% - 2rem);

		a.comment-relations_circle {
			position: relative;
			//width: 1.5rem;

			margin-right: 1rem;
			//border-radius: 100%;
			//overflow: hidden;
			display: flex;
			//justify-content: center;
			//align-items: center;
			font-size: .9rem;
			//color: white;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: center;
			border: none;

			> div {
				position: relative;
				margin: 0 .5rem;
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			svg {
				height: 1.125rem;
				width: auto;
				margin-left: .75rem;
				//position: absolute;
				//top: -2px;
				//right: -16px;
			}
x
			span {
				display: block;
				//margin: 0 .5rem;

				&.number {
					font-size: .75rem;
				}
			}

			.tooltip {
				visibility: hidden;
				width: 120px;
				background-color: $zwart;
				color: #fff;
				text-align: center;
				padding: 5px 0;
				border-radius: 6px;
				position: absolute;
				z-index: 1;
				top: -1rem;
				left: -160px;
			}



			&.comment-relations_prev {
				//background: $donkerrood;



				svg {
					//transform: rotate(90deg);
					transform: rotate(90deg);
					//right : 0;

				}
			}

			&.comment-relations_next {

				svg {

					transform: rotate(-90deg);
				}
			}

			&.comment-relations_post {

				svg {
					margin-left: .5rem;
				}
			}
			&.comment-relations_thread {
				//background: $donkerrood;
			}

			&:hover  {

				color: $geel;

				svg {
					fill : $geel;

				}
			}
		}
	}

	.rating-container, .thread-reply {
		display: none;
	}


	&.inactive {
		opacity: .25;
	}
}

.thread {
	position: relative;
	padding-bottom: 2rem;
	//margin-bottom: 4rem;

	.thread-anchor {

		position: absolute;
		top: -9rem;
	}

	.comment:last-of-type {

		.thread-reply {
			//display: block;
		}

	}
}

.thread-reply {

	position: absolute;
	bottom: -2rem;
	right: 0rem;
	//width: calc(100% - 4rem);
	height: auto;

	border: none;
	@include lightText();
	border-bottom: 1px solid black;

	svg {

		position: absolute;
		right: 0;
		top: 0;
		stroke: #000;
		stroke-width: 1px;
		//fill: #000;
	}

}

.thread-reply:hover {

	color: $donkergeel;

	svg {
		stroke: $donkergeel;
	}
}




.reply-container {

	padding: 0 1rem;
	width: calc(100% - 2rem);
	@include lightText();

		.reply_explanation {
			display: block;
			@extend .light;
			color: $donkergrijs;
		}

		.pill {
			display: inline-block;
			background: $lichtgrijs;
			border-radius: 4px;
			padding: .25rem .5rem;
			margin: .5rem .5rem 0 0;

		}

		.pill.wendy-van-der-meulen-amstelveenlijn {
			background: $blauw;
            color: white;
		}

}
