<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>


<body

    {{#if_equals body.slug 'contact'}}
        id="contact"
    {{/if_equals}}

        class="uithoornlijn"
>

{{> header }}
{{> grid }}


<main id="page">

    <div id="intro" class="large-container">

        {{> cutout-intro }}

        <div class="small-container">
            <h1>{{body.title}}</h1>
            <div class="authors">
                <span class="datum">Laatst bijgewerkt op {{formatDate body.modified 'long'}}</span>
            </div>

            <div class="text">{{{body.content}}}</div>

        </div>
    </div>

    {{>toc}}

    {{>sections sections=body.sections }}

    {{#ifEquals body.slug 'veelgestelde-vragen' }}
        {{> faq-section faqs=../body.faq}}
    {{/ifEquals}}

</main>
{{> footer }}
</body>

{{> footer-scripts }}
</html>
