<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>


<body>

{{> header }}
{{> grid }}


<main id="page">

	<div id="intro" class="large-container">

        {{> cutout-intro }}

        <div class="small-container">

            <h1>{{body.title}}</h1>

            <div class="text">{{{body.content}}}</div>

        </div>

	</div>

    {{> sections  sections=body.sections}}

</main>
{{> footer }}
</body>

{{> footer-scripts }}
</html>
