<!DOCTYPE html>
<html>
<head>
    <title>Uithoornlijn - {{body.title}}</title>
    {{> head }}
</head>

<body id="werkzaamheden" class="page uithoornlijn">

{{> header }}



<main id="page">

    {{> grid }}

	<div id="intro" class="large-container">

        <svg id="cutoutintro" width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
            <defs>
                <clipPath id="intro-clip-path" clipPathUnits="objectBoundingBox">
                    <polygon points=".5 0, 1 .085, 1 1, 0 1, 0 0"></polygon>
                </clipPath>
            </defs>
            <rect x="0" y="0" width="1" height="1" clip-path="url('{{body.url}}#intro-clip-path')"></rect>
        </svg>


        <div class="container">

            <h1>{{body.title}}</h1>
            <div class="authors">
                <span class="datum">Laatst bijgewerkt op {{formatDate body.modified 'long'}}</span>
            </div>

            <div class="text">{{{body.content}}}</div>
        </div>
	</div>


    {{> sections sections=body.sections}}

<!--    <div class="datavis-planning large-container"></div>-->

<section id="works-overview">

    <div id="works-overview-header" class="large-container">
        <h2>Waar wordt gewerkt?</h2>
        <div id="works-overview-tabs">
            <span data-content="under_construction" class="tab active switch-content">Nu</span>
            <span data-content="future" class="tab switch-content">Binnenkort</span>
            <span data-content="planning" class="tab switch-content">Planning</span>
        </div>
    </div>


    <div id="works-overview-wrapper">

        <div data-content="under_construction" class="large-container tab-container now">

            <div class="works-container">
                <div class="works-container-wrapper">
                    {{#each body.under_construction as |work| }}
                        {{> work-block work=work }}
                    {{/each}}
                </div>
            </div>

            <div id="map-container"></div>

        </div>

        <div data-content="future" class="large-container works-container tab-container future">
            <div class="works-container">
                <div class="works-container-wrapper">
                    {{#each body.future_works as |work| }}
                        {{> work-block work=work }}
                    {{/each}}
                </div>
            </div>

        </div>

        <div data-content="planning" class="large-container datavisplanning tab-container">

                <div id="datavisplanning"></div>
        </div>

    </div>

</section>



</main>
{{> footer }}

</body>

{{> footer-scripts }}

</html>
