<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>

<body class="home amsteltram">

	{{> header }}

	<div id="hero-image">

        {{> responsive-image id='main-image' title='afbeelding voor homepage' external_id=body.homeContent.main_image.external_id filename=body.homeContent.main_image.filename object=body.homeContent }}
        {{> grid }}
        {{> featuredpost class="amsteltram"}}

    </div>

	{{> planning}}

    <div class="home_block">

        <div class="home_grid">

            <ul id="dashboard-menu">
                <li class="{{renderEnv}} active" data-option="comments"><span>reacties</span></li>
                <li class="{{renderEnv}}" data-option="tweets"><span>twitter</span></li>
            </ul>

            <main id="news_container" data-option="news">
                <div class="news_wrapper">

                    {{> featuredpost class="uithoornlijn"}}

                    {{#each (limit body.posts 4) as |item|}}
                        {{> block item=item}}
                    {{/each}}

                    <a href="/zoeken/?filter[type]=post&filter[env]=amsteltram&page=1" id="more-news-link">
                        meer nieuwsberichten
                    </a>
                </div>
            </main>

            <aside id="comments" data-option="comments">

                <div id="comments_wrapper" class="aside_wrapper">

                    {{#each (limit body.comments 16) as |comment|}}
                        {{> comment-card comment=comment renderEnv=../renderEnv}}
                    {{/each}}

                    {{#ifEquals body.comments.length 0}}
                        <p>Er zijn nog geen reacties geplaatst.</p>
                    {{/ifEquals}}


                    <a href="/zoeken/?filter[type]=comment&filter[env]=uithoornlijn&page=1" id="more-comments-link">
                        meer reacties
                    </a>

                </div>

            </aside>

            <aside id="tweets" data-option="tweets">
                <div id="tweet_wrapper" class="aside_wrapper">
                    <!-- wordt gevuld door twitter/contact.js -->
                </div>
            </aside>

            <div data-option="map">
                <div id="map-container"></div>
            </div>

            {{> footer }}


        </div>

    </div>

    <ul id="home-menu">
        <li class="active-background {{renderEnv}}"><span></span></li>
        <li class="{{renderEnv}} active" data-option="news">{{> icon-news}}</li>
        <li class="{{renderEnv}}" data-option="comments">{{> icon-comments}}</li>
        <li class="{{renderEnv}}" data-option="tweets">{{> icon-tweets}}</li>
        <li class="{{renderEnv}}" data-option="map">{{> icon-map}}</li>
        <li class="{{renderEnv}}" data-option="info">{{> icon-info}}</li>
    </ul>


</body>

{{> footer-scripts}}

</html>
