<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>

<body class="home amstelveenlijn">

{{> header }}

<div id="hero-image">

    {{> responsive-image id='main-image' title='afbeelding voor homepage' external_id=body.homeContent.main_image.external_id filename=body.homeContent.main_image.filename object=body.homeContent }}
    {{> grid }}
    {{> featuredpost class="amstelveenlijn"}}

</div>



<div class="home_block">

    <div class="home_grid">

        <ul id="dashboard-menu">
            <li class="{{renderEnv}} active" data-option="comments"><span>reacties</span></li>
            <li class="{{renderEnv}}" data-option="tweets"><span>twitter</span></li>
            <li class="{{renderEnv}}" data-option="works"><span>werkzaamheden</span></li>
        </ul>

        <main id="news_container" data-option="news">

            <div class="news_wrapper">

                {{> featuredpost class="amstelveenlijn"}}

                {{#each (limit body.posts 8) as |item|}}
                    {{> block item=item}}
                {{/each}}

                <a href="/zoeken/?filter[type]=post&filter[env]=amstelveenlijn&page=1" id="more-news-link">
                    meer nieuwsberichten
                </a>

            </div>

        </main>

        <aside id="comments" data-option="comments">
            <div id="comments_wrapper" class="aside_wrapper">

                {{#each (limit body.comments 16) as |comment|}}
                    {{> comment-card comment=comment renderEnv=../renderEnv}}
                {{/each}}

                <a href="/zoeken/?filter[type]=comment&filter[env]=amstelveenlijn&page=1" id="more-comments-link">
                    meer reacties
                </a>
            </div>

        </aside>

        <aside id="tweets" data-option="tweets">
            <div id="tweet_wrapper" class="aside_wrapper">
                <!-- wordt gevuld door twitter/main.js -->
            </div>
        </aside>


        <aside id="works" data-option="works">
            <div id="works_wrapper" class="aside_wrapper">

                <div>

                    {{#each body.mapDataFiltered as |location|}}

                        {{#if location.works }}
                            <div class="location-block {{location.slug}}">
                                <h3 class="numbered">
                                    {{#ifIn 'kruispunt' location.types}}{{> icon-crossing }}{{/ifIn}}
                                    <span class="circle {{location.stopType}} {{explode location.types}}"></span>
                                    {{location.title}}
                                </h3>

                                {{#each location.works as |activiteit|}}
                                    <div class="activiteit">
                                        <h4>{{activiteit.title}}</h4>
                                        <div class="datum">{{quarterifyDate activiteit.start}} - {{quarterifyDate activiteit.end}}</div>
                                        {{{activiteit.content}}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}

                </div>

            </div>
        </aside>

        <h2 id="map-header">Toekomstige lijn 25 / Amsteltram</h2>
        <div data-option="map">

            <div id="map-container">
            </div>
        </div>


        {{> footer }}


    </div>
</div>

<ul id="home-menu">
    <li class="active-background {{renderEnv}}"><span></span></li>
    <li class="{{renderEnv}} active" data-option="news">{{> icon-news}}</li>
    <li class="{{renderEnv}}" data-option="comments">{{> icon-comments}}</li>
    <li class="{{renderEnv}}" data-option="tweets">{{> icon-tweets}}</li>
    <li class="{{renderEnv}}" data-option="works">{{> icon-works}}</li>
    <li class="{{renderEnv}}" data-option="map">{{> icon-map}}</li>
    <li class="{{renderEnv}}" data-option="info">{{> icon-info}}</li>
</ul>

</body>

{{> footer-scripts}}

</html>
