rect.gantt_item { 

	fill: $blauw;	
}

rect.gantt_item.geel {

 	fill: $geel;
}

rect.gantt_item.oranje {

 	fill: $oranje;
}

text.stationLabel, text.milestoneLabel { 

	@extend .datum;
	fill: $zwart; 
	font-size: .65em;
}