.datavis-planning {

  //margin: 0 4rem;
 // width: calc(100% - 8rem);

  .scroll-button-container {
    cursor: pointer;
  }

  .scroll-button {
    stroke-width: 1px;
    stroke: #000;
    fill: transparent;
  }

  .future-bars .default {
    /*fill: #000;*/
  }

  .past-bars rect.default, .past-bars rect.darkblue, .past-bars rect.red, .past-bars rect.blue  {
    fill: $lichtgrijs; // rgb(180,180,180);
  }

  .background {
    fill: white;
  }

  .bar-label {
    fill: #000;
    font-size: 0.7em;
  }

  .bar-label.outside {
    fill: #000;
  }

  .cursor-line {
    stroke: #000;
    stroke-width: 1px;
  }

  .cursor-label {
    font-size: 0.8rem;
    fill: #000;
  }

  .cursor-label-background {
    fill: $lichtgeel;
  }

  .grid .tick line {
    stroke: #000;
    stroke-width: 2px;
    display: none;
  }

  .tick text {
    fill: #000;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  .axis path {
    display: none;
  }

  g.month-label text {
    font-size: 0.6rem;
  }

  .plot-background {
    fill: #fff;
  }

  rect.row {

    fill: #fff;
  }

  rect.darkblue {
    fill: rgb(0, 111, 157);
  }

  rect.lightblue {
    fill: rgb(156, 198, 212);
  }

  rect.blue, rect.default {
    fill: $lichtblauw;
  }

  rect.red {
    fill: $lichtrood;
  }

  rect.orange {
    fill: $lichtoranje;
  }

  rect.green {
    fill: $lichtgroen;
  }

  image.milestone {
    fill: rgb(255, 203, 0);
    display: block;
  }

  .chart-controls {

    rect { fill: transparent; }
  }
}
