#planning {

	position: relative;
	padding-top: 0;
	z-index: 10;
	background: transparent;
	min-height: 200px;

	&.planning--border-bottom{
		//border-bottom: 20px solid $donkerblauw;
	}

	#planning_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background: transparent;
		//min-height: 240px;
	}


	#planning_header {

		background: transparent;
		height: 60px;
		width: calc(100%);
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;

	//		border-bottom: 1px solid $grijs;

		h3 {

			font-size: 1.4rem;
			line-height: 1.4em;
			margin-top: 10px;
			margin-left: 2rem;
			color: $zwart;
			position: relative;
			z-index: 99;
			font-family: "Cabrito Sans W01 Norm Demi";

			a{
				color: $zwart;
			}

		}
	}


	svg {

		position: relative;
    	z-index: 9;
     }

	rect.todayRect, polygon.todayRect {
		fill: $donkerrood;
	}

	rect.todayLine {
		fill: rgb(220,220,220);
	}

	@media (max-width: 767px) {

		#planning { overflow-x: auto; }
		#planning_wrapper { min-width: 800px; }
		#planning_header { padding: 0 1em; min-width: 800px;  }

	}


	&.uithoornlijn {

		 rect.todayRect,  polygon.todayRect {
			 fill: $geel;
		 }

		 text.todayLabel {
			 fill: $zwart;
		 }
	 }

	&.amsteltram {

		rect.todayRect, polygon.todayRect {
			fill: $paars;
		}
	}
}

.planning-variant  .datavisplanning  {

	@media (min-width : $breakpoint-md) {
		padding: 0 90px;
	}
}
