<!DOCTYPE html>
<html lang="nl">
	<head>
		<title>Antwoordformulier online opening lijn 25</title>
		{{> head }}
	</head>
	<body class="rsvp amstelveenlijn">


        {{> header-lijn25 }}
        {{> grid }}
        <canvas></canvas>

		<div id="story">

			<div id="intro" class="large-container">

                {{> cutout-intro }}

                <div class="small-container medium">

                    <div>
                        <h1>{{{body.title}}}</h1>
                        <div class="text">{{{body.content}}}</div>
                    </div>
                </div>
			</div>

            <div id="wrong-token" class="small-container">
                <span>De link die u gebruikt bevat geen geldig token. Heeft u wel een uitnodiging ontvangen? Neem dan contact op met <a href="info@amstelveenlijn.nl">info@amstelveenlijn.nl</a></span>
            </div>

            <div class="loader-container small-container">
                <div class="loader">Loading...</div>
            </div>

            <div id="form-container" class="small-container">

                <form id="rsvpform" class="form"> <!--  -->

                    <div class="field-wrapper half" style="display:none">
                        <input type="text" id="token" name="token">
                    </div>

                    <div class="field-wrapper full">
                        <label for="aanhef">Aanhef <strong aria-hidden="true">*</strong></label>
                        <select id="aanhef" name="aanhef" required aria-required="true">
                            <option disabled selected value style="display:none"></option>
                            <option value="heer">heer</option>
                            <option value="mevrouw">mevrouw</option>
                        </select>
                    </div>
                    <div class="field-wrapper half">
                        <label for="voornaam">Voornaam <strong aria-hidden="true">*</strong></label>
                        <input type="text" id="voornaam" name="voornaam" required aria-required="true" readonly>
                    </div>
                    <div class="field-wrapper half">
                        <label for="achternaam">Achternaam <strong aria-hidden="true">*</strong></label>
                        <input type="text" id="achternaam" name="achternaam" required aria-required="true" readonly>
                    </div>
                    <div class="field-wrapper full">
                        <label for="email">Email <strong aria-hidden="true">*</strong></label>
                        <input type="email" id="email" name="email" required aria-required="true" aria-describedby="Dit is geen email adres">
                    </div>

                    <div class="field-wrapper full" style="visibility: hidden;height:0;">
                        <span class="radio">
                            <input type="radio" id="none" name="rsvp" value="none" hidden checked>
                            <label for="none"></label>
                        </span>
                    </div>

                    <div class="field-wrapper full">
                        <span class="radio">
                            <input type="radio" id="full" name="rsvp" value="full">
                            <label for="full">Ik ben aanwezig bij de officiële online opening op 13 december van 16.00 t/m 17.30 uur en ontvang graag de <i>lijn 25 is er! celebration box</i> thuisgestuurd.</label>
                        </span>
                    </div>

                    <div class="field-wrapper full">
                        <span class="radio">
                            <input type="radio" name="rsvp" id="boxonly" value="boxonly">
                            <label for="boxonly">Ik ben <b>niet</b> aanwezig bij de officiële online opening, maar ik ontvang wel graag de <i>lijn 25 is er! celebration box</i> thuisgestuurd.</label>
                        </span>
                    </div>



                    <h3>Uw huisadres</h3>

                    <div class="field-wrapper half">
                        <label for="straatnaam">Straat<strong aria-hidden="true">*</strong></label>
                        <input type="text" id="straatnaam" name="straatnaam" placeholder=""  title="Voer uw straatnaam in" required aria-required="true">
                    </div>

                    <div class="field-wrapper half">
                        <label for="huisnummer">Huisnummer<strong aria-hidden="true">*</strong></label>
                        <input type="text" id="huisnummer" name="huisnummer" placeholder=""  title="Voer uw huisnummer in" required aria-required="true">
                    </div>

                    <div class="field-wrapper half">
                        <label for="postcode">Postcode<strong aria-hidden="true">*</strong></label>
                        <input type="text" id="postcode" name="postcode" placeholder="1234AB" pattern="[1-9][0-9]{3} ?[A-Z]{2}" title="Voer uw postcode in als 1234AB of 1234 AB" required aria-required="true">
                    </div>

                    <div class="field-wrapper half">
                        <label for="woonplaats">Woonplaats<strong aria-hidden="true">*</strong></label>
                        <input type="text" id="woonplaats" name="woonplaats" placeholder=""  title="Voer de naam van uw woonplaats in" required aria-required="true">
                    </div>

                    <div class="field-wrapper full spacing"></div>

                    <div class="field-wrapper full">
                        <span class="checkbox">
                            <input type="checkbox" name="privacy" id="privacy" value="true" required aria-required="true" title="Dit is een verplicht veld">
                            <label for="privacy">Ik geef hierbij toestemming aan de organisatie om mijn persoonlijke gegevens eenmalig te verwerken en te delen met de benodigde partijen. Dit is uitsluitend ten behoeve van deze actie en achteraf worden alle gegevens gewist.<strong aria-hidden="true">*</strong></label>
                        </span>
                    </div>

                    <div class="field-wrapper full spacing"></div>
                    <div class="field-wrapper full spacing"></div>

                    <div aria-live="assertive" role="alert"></div>

                    <input type="submit" value="verzenden"></input>

                </form>

            </div>

		</div>

		{{> footer }}

	</body>

    {{> footer-scripts }}

</html>
