body.amsteltram {

  // plaatje is te kort ...

  @media (min-width: $breakpoint-md) {
    #hero-image {
      height: 260px;
    }
  }

  @media (min-width : $breakpoint-lg) {
    #hero-image {
      height: 360px;
    }
  }
}