@mixin bloated {


  width: 200px;
  height: 90px;
  margin: 25px 0;
  left: 1rem;

  @media (min-width :  $breakpoint-bax) {
    left: -3.5rem;

  }

  @media (min-width :  $breakpoint-lg) {
    width: 223px;
    height: 100px;
    margin: 15px 0;
  }
}

@mixin condensed {

  left: 0;
  width: 111px;
  height: 50px;
  width: 111px;
  margin: 5px 0;
}


.home.amstelveenlijn, .post.amstelveenlijn, .page.amstelveenlijn {

  header {

    @media (max-width :  $breakpoint-sm) {

      height: calc(66px + 2rem);
    }


    .homelink.amstelveenlijn {



    }


    #merkcontainer svg {

      @media (min-width : $breakpoint-sm) and (max-width : $breakpoint-bax) {

        left: -3rem;
      }
    }

    svg#woordmerk {

        @include condensed;

      @media (min-width :  $breakpoint-sm) {

          @include bloated;
      }
    }

    &.condensed  {

      svg#woordmerk {
        @media (min-width :  $breakpoint-sm) {

          @include condensed;
        }
      }
    }
  }

  @media (min-width: 1360px) {

    #featured-post {

      bottom: 2rem;
    }

  }

}