body.home {


	@media (min-width: $breakpoint-sm) and (max-width:  $breakpoint-md) {

		height: 100vh;
	}

	footer {



		grid-row: 4/5;


		@media all and (-ms-high-contrast:none) {
			-ms-grid-row: 4;
		}

		@media (max-width:  $breakpoint-md) {

			background: transparent;

			> div {
				height: calc(100% - 12rem);
				margin-bottom: -6rem;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
			}
		}


	}
}




.home_block {

	display: flex;
	flex-direction: row;
	justify-content: center;

	@media (min-width: $breakpoint-sm) and (max-width:  $breakpoint-md) {
		height: auto;
	}


}

.home_grid {

	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 600vw;
	overflow: hidden;
	height: calc(100vh - 90px);
	margin-top: 2rem;

	@media (min-width: $breakpoint-sm) {

		margin-top: 0rem;
		height: 240vh;
	}

	@media (min-width: $breakpoint-md) {

		margin-top: 2rem;
		height: calc(100vh - 90px);
	}


	> * {
		width: 100vw;
	}

	@include homeGrid();
}

main[data-option=news] {

	position: relative;
	margin: 0;
	display: flex; 
	flex-flow: row wrap; 
	justify-content: center;
	align-items: stretch;
	padding: 1rem 0;
	height: calc(100% - 60px);

	@media (min-width: $breakpoint-sm) {

		width: 100vw;
		height: auto;
		padding: 0;
		margin: 2rem 0 0 0 ;

		> * {
			width: calc(50% - 1rem);
		}
	}


	@media (min-width: $breakpoint-md) {

		grid-column: 2 / 4;
		grid-row: 1;
		height: auto;
		-ms-grid-row:1;
		-ms-grid-column:2;
		-ms-grid-column-span:2;
		width: auto;
		height: 100%;
		margin: 0;

	}

	.news_wrapper {

		margin: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: stretch;
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
		width: calc(100vw - 2rem);

		@media (min-width: $breakpoint-sm) {
			width: calc(100% - 4rem);
		}

		@media (min-width: $breakpoint-md) {
			width: calc(100% - 2rem);
		}

		@for $i from 0 through 20 {
			> a:nth-of-type(#{$i}) {
				order: $i;
			}
		}

		a#monitor-link {
			order: 5;
			margin-top: 2rem;

			@media (min-width: $breakpoint-sm) {
				margin-top: 0;
			}
		}

		@media all and (-ms-high-contrast:none) {
			overflow-y: hidden;
			overflow-x: hidden;
		}
	}

	#featured-post {

		position: relative;
		left: 0;
		top: 0;
		width: calc(100% - 2rem);
		margin-bottom: 1rem;
		padding: 1rem;
		z-index: 1;

		svg defs clipPath  {
				display: none;
		}
		//background: $geel;

		@media (min-width : $breakpoint-sm) {
			display: none;

		}
	}

	a.block  {

		width: 100%;

		@media (min-width : $breakpoint-sm) {
			width: calc(50% - 1rem);
			height:  calc(50vw - 1rem);
		}

		@media (min-width : $breakpoint-md) {

			height: auto;
		}
	}
}


aside {
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
	min-height: calc(100vh - 6rem);
	width: 100vw;




	@media (min-width : $breakpoint-md ) {

		padding-top: 1rem;
		-ms-grid-row:1;
		-ms-grid-column:4;
		-ms-grid-column-span:1;
		grid-column: 4/5;
		grid-row: 1/2;
		min-height: 0;
		height: calc(100% - 10rem);
	}

	.aside_wrapper {
		position: absolute;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		background: #fff;
		height: calc(100% - 4rem);
		width: calc(100% - 2rem);
		padding: 1rem;

	//	width: calc(100% - 2rem);

		@media (min-width : $breakpoint-sm ) {
			height: auto;
		}

		@media (min-width : $breakpoint-md ) {
			transform: translateX(500px);
			height: calc(100% - 4rem);
			opacity: 0;
		}

		@media (min-width : $breakpoint-lg ) {
			width: calc(100% - 1rem);
			padding: 1rem .5rem;
		}

		@media (min-width : $breakpoint-xxl ) {
			transform: translateX(0px);
			opacity: 1;
		}

	}
}

aside#comments {

	.aside_wrapper {

		opacity: 1;
		transform: translateX(0);
		z-index: 3;

		p {
			margin-top: .15rem;
		}
	}
}


aside#tweets {

	@media (min-width : $breakpoint-xxl) {

		grid-column: 5/6;
		grid-row: 1/2;

		.aside_wrapper {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

aside#works {

	@media (min-width : $breakpoint-xxl) {

		grid-column: 6/7;
		grid-row: 1/2;

		.aside_wrapper {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.aside_wrapper {

		padding-top: 2rem;

		@media (min-width : $breakpoint-md) {
			margin-left: -1rem;
		}

		> div {
			margin-left: 1rem;
			width: calc(100% - 1rem);
			background-image: linear-gradient(#fff 50%,#f8af00 0,#f8af00);
			background-position: 0;
			background-size: 8px 8px;
			background-repeat: repeat-y;

			> .location-block {

				h3 {
					margin-left: -1rem;
				}

				.activiteit {
					margin-left: 1rem;

					ul li {
						//padding: 0;
					}
				}
			}
		}
	}
}

#under_construction {

	grid-column: 2/5;
	grid-row: 2/3;

	@media all and (-ms-high-contrast:none) {
		-ms-grid-row: 2;
		-ms-grid-column:2;
		-ms-grid-column-span:3;
	}

	.works-row {

		display: flex;
		flex-direction: column;
		padding: 1rem;

		@media (min-width: $breakpoint-sm) {
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0;
		}

		> article {

			@media (min-width: $breakpoint-sm) {
				width: calc(50% - 3rem);
				margin-right: 2rem;

				&:nth-child(even) {
					margin-right: 0;
				}
			}

			@media (min-width: $breakpoint-md) {
				width: calc(33.3% - 3.33rem);
				margin-right: 2rem;
				&:nth-child(even) {
					margin-right: 2rem;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
			}

		}

		#more-works-link {

			display: block;
			//width: 100%;
			margin-bottom: 3rem;
			padding-left: 1rem;

			@media (min-width: $breakpoint-sm) {
				padding-left: 0;
			}
		}
	}

}

h2#map-header {

	display: none;

	grid-column: 2/3;
	grid-row: 3/4;

	position: relative;
	z-index: 99;
	align-self: flex-end;
	background: white;
	padding: 0 1rem;
	width: 360px;

	@media ( min-width: $breakpoint-md) {
		display: inline;
	}

	@media all and (-ms-high-contrast:none) {

		-ms-grid-row: 3;
		-ms-grid-column: 2;
		margin-top: -2.5rem;
		height: 2.5rem;
		line-height: 2.5rem;
		display: block;
		min-width: 380px;
	}
}

div[data-option=map] {

	width : 100vw;

	@media (min-width : $breakpoint-sm) {

	}

	@media (min-width : $breakpoint-md) {

		grid-column: 1/6;
		grid-row: 3/4;
		width: 100%;


		@supports (display: grid) {

			grid-column: 1/6;
			grid-row: 3/4;

			> * {
				width: auto;
			}
		}

		@media all and (-ms-high-contrast:none) {

			-ms-grid-row:3;
			-ms-grid-column:1;
			-ms-grid-column-span:5;

			> * {
				width: auto;
			}
		}
	}

	@media (min-width : $breakpoint-xxl) {
		width: auto;
		-ms-grid-row:2;
		-ms-grid-column:1;
		-ms-grid-column-span:7;
		grid-column: 1/8;
		grid-row: 2/3;
	}

	#map-container {

		width: 100%;
		height: calc(100vh - 4rem);

		@media (min-width : $breakpoint-md) {

			height: 400px;

			@supports (display: grid) {

				width: auto;
			}

			@media all and (-ms-high-contrast:none) {

				width: auto;
			}
		}
	}

}

#more-comments-link, #more-news-link, #more-works-link {

	position: relative;
	display: inline-block;
	font-family: Cabrito Sans W01 Norm Bold;
	font-weight: 400;

	margin: 2rem 0;
	border-bottom: 1px solid black;

	font-size: 1.06rem;
	line-height: 1.55;

	@media (min-width : $breakpoint-md) {

		line-height: 1.3;
		font-size: 1.2rem;
		margin: 1rem 0 2rem 0;
	}

}


