.home {

	#grid {

		display: none;
		@media (min-width: $breakpoint-sm) {
			display: block;
		}
	}

	#planning {

		display: none;
		margin-top: -41px;
		//min-height: 300px;

		@media (min-width: $breakpoint-md) {
			display: flex;
		}
	}

}
