#featured-post {

	position: absolute;
	z-index: 91;
	bottom: 3rem;
	left: 3rem;
	width: calc(860px / 3);
	height: auto;
	padding: 1em 4em 1em 2em;


	@media (min-width: $breakpoint-lg) {
		left: calc((100% - 1180px) / 2);
		bottom: 6rem;
	}

	div > svg {

		fill: $geel; 
		width: 100%; 
		height: 100%; 
		position: absolute;
		z-index: -1;
		top:0;
		left: 0;
	}

	h3 { 

		@extend h3; 
		font-size: 1.06rem;
		line-height: 1.4em;
	} 

	.datum, .authors { 

		font-size: 0.9rem;
		margin-top: 5px;
	}

	&.amstelveenlijn {

		color: white;

		svg {
			fill: $donkerrood;
		}

		h3, .datum, .authors {
			color: white;
		}
	}

	&.amsteltram {

		svg {
			fill: $paars;
		}

		h3, .datum, .authors {
			color: white;
		}
	}
}

@media (min-width: $breakpoint-sm) {

	.home_alt.amstelveenlijn #featured-post {

		//margin-left: 0;
		left: calc(((100% - 760px) / 2) - 4rem);
		bottom: 0rem;

		> div {

			margin-top: 1rem;
			position: relative;
			padding: 1rem 4rem 1rem 1rem;
			width: 380px;
			margin-left: 3rem;

			> svg {

				//fill: white;
			}

		}

		h2 {
			line-height: 1.4;
			margin-bottom: .2rem;
			//color: black;

			//&:first-of-type {
			//	font-size: 2.2rem;
			//}
		}

		h3 {
			line-height: 1.5;
			margin-top: .5rem;
			//color: black;
		}
	}
}

@media (min-width: $breakpoint-md) {

	.home_alt.amstelveenlijn #featured-post {

		//margin-left: 0;
		left: calc(((100% - 960px) / 2) - 4rem);
		bottom: 3rem;
	}
}

@media (min-width: $breakpoint-bax) {

	.home_alt.amstelveenlijn #featured-post {


		//width: 400px;
		//color: black;
		margin-left: 0;
		left: calc(((100% - 1180px) / 2) - 4rem);

	}
}
