#children-container {

  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  width : calc(100% - 0rem);
  //max-width: 1400px;

  @media (min-width : $breakpoint-md) {
    //width: calc(100% - 8rem);
    justify-content: center;
  }

  .large-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .block {

      width: 100%;
      margin-right: 0;

      @media (min-width : $breakpoint-sm) {
        width: calc(50% - 1rem);
      }

      @media (min-width : $breakpoint-md) {
        width: calc(33% - 1rem);

      }
      @media (min-width : $breakpoint-lg) {
        width: calc((100% / 3) - 1.2rem);
      }

      .img-container.square {
        width: 100%;
        height: auto;
      }
    }
  }

  .block {
    width: 360px;
    height: 360px;
    border: none;
    transition: all 25ms ease;
    order: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    @media (min-width: $breakpoint-sm) {
      margin-right: 3rem;
    }

      .overlay {
        position: relative;
        z-index: 0;
        margin: -4.5rem 0 0 0rem;
        bottom: auto;
        left: auto;
        height: 2rem;
        transition: opacity 500ms ease;
      }

      .img-container.square {
        width: 360px;
        height: 360px;
        transition: opacity 500ms ease;
        opacity : 1;
      }

      .datum { display: none; }

      .expanding-block {

        max-height: 0;
        transition: height 500ms ease;

        .text {
          visibility: hidden;
          opacity: 1;
          margin-bottom: 6rem;
          max-height: 0;
          transform: translateY(8rem);
          transition-delay: 1000ms;
          transition: all 500ms ease;

          p:first-of-type {

            font-size: 1.1875rem;
            line-height: 1.85em;
            font-family: 'Cabrito Semi W01 Norm Demi';
            text-align: left;
          }

          @include bullets();

        }

        .expanding-block-close {

          visibility: hidden;
          position: absolute;
          top: 7rem;
          right: 2rem;
          width: 3rem;
          height: 3rem;
        }
      }

      &:nth-child(even) {

        margin-right: 0;
      }
  }

  .block.dimmed {

    .img-container {
      opacity: .5;

    }

    .overlay {
      opacity: 0;
    }

  }

  .block.expanded {

    z-index: 9;

    .overlay {
      z-index: 999;
      height: auto;
    }

    .expanding-block {

      max-height: none;
      background: #fff;
      position: absolute;
      top: 360px;
      width: 820px;
      padding: 6rem 8rem;


      .overlay {

        color: $oranje;
      }

      .text {
        visibility: visible;
        position: relative;
        width: 100%;
        margin-top: 1rem;

        transform: translateY(0);
        opacity: 1;
        margin-left: 0px;
        max-height: 200vh;

        h3 {

        }
      }

      .expanding-block-close {

        visibility: visible;

        svg {

          width: 100%;
          height: 100%;
        }

      }
    }
  }

  .block:nth-of-type(1) .expanding-block, .block:nth-of-type(4) .expanding-block, .block:nth-of-type(7) .expanding-block {
    left: 4rem;
  }

  .block:nth-of-type(3) .expanding-block, .block:nth-of-type(6) .expanding-block {
    right: 4rem;
  }
}

.lijn25iser {
  display: block;
}
.lijn25iser #children-container {
  display: block;
}
