#inhoudsopgave_js {

//	transition: opacity 500ms ease-in, height 1000ms ease-in;
//	position: fixed;
//	display: none;
//	opacity: 0;
//	right: 0;
//	bottom: 0px;
//	width: 320px;
//	background: $blauw;
///*	min-height: 200px;*/
//	z-index: 999;
//	padding:  1em 1em 1em 3em;
//
//	-webkit-clip-path: polygon(1.5em 0, 100% 0%, 100% 100%, 0% 100%);
//	clip-path: polygon(1.5em 0, 100% 0%, 100% 100%, 0% 100%);

	margin: 0 auto 2rem auto;

	a { 

		display: inline-block;
		//color: #fff;
		padding: 7px 0; 
		border-bottom: 1px solid $zwart;
		line-height: 1.4em;
	}

	a:hover {

		//color: #fff;
		//border-color: #fff;
	}

	h2 { 

		font-size: 1.5rem;
		margin: 0em 0;
		//color: #fff;
	} 


}

#inhoudsopgave_js.visible { 

	display: block;
	opacity: 1;

}

#inhoudsopgave_js.visible.showcontents ul {

	display: block;
}

#inhoudsopgave_inline {

	position: relative;
	@extend .innerpadding;
	margin-bottom: 2em;

	h2 { 

		font-size: 1.1875rem; 
		line-height: 1.85em;
		font-family: 'Cabrito Semi W01 Norm Demi'; 
		margin:  0 0 1em 0;
/*		color: $rood;*/
	 }

	a { 

		display: block; 
/*		color: #fff; */
		padding: 7px 0; 
		border-bottom: 1px solid $lichtgrijs;
		line-height: 1.4em;
	}

	a:hover { 

		color: $blauw;

	}
}