#intro {

		position: relative;
		padding: 0;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		background: #fff;

		@media (min-width: $breakpoint-sm) {
			background: transparent;
			margin-top: -6rem;
			padding-top: 3rem;

		}

		@media (min-width: $breakpoint-md) {
			margin-top: -16rem;
			padding-bottom: 2rem;
			padding-top: 80px;
		}

		@media (min-width: $breakpoint-lg) {
			padding-bottom: 2rem;
			margin-top: -100px;
			padding-top: 80px;
		}

		> * {
			position: relative;
			z-index: 2;

			> * {
				width: 100%;
			}
		}

		svg#cutoutintro {

			display: none;
			fill: $wit;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			top:0;
			left: 0;
			max-height: 1000px;

			@media (min-width: $breakpoint-sm) {
				display: block;
			}

			@media all and (-ms-high-contrast:none) {
				width: 980px;
			}
		}

		#merklijn25 {
			margin-bottom: 3rem;
		}

		.text {
			text-align: left;
			@include bullets();
			margin-top: 1rem;
			position: relative;
			z-index:2;

			@media (min-width: $breakpoint-md) {
				margin-top: 40px;
			}

			ol {
				margin-bottom: 2rem;
				padding: 1rem;
			}

			p:first-of-type {

				@include demiText();
				font-size: 1.125rem;
				line-height: 1.5;
				text-align: left;

				@media (min-width: $breakpoint-sm) {

					font-size: 1.1875rem;
					line-height: 1.66;

				}
			}

			&.text--margin-bottom{
				margin-bottom: 4rem;
			}
		}

		h1 {

			@extend h1;
			line-height: 1.2;
			margin: 1rem 0;
			position: relative;
			z-index:2;

			@media (min-width: $breakpoint-sm) {
				margin: 5px 0 5px 0;
			}
		}

		.authors {
			@extend .authors;
			position: relative;
		 }

		 .datum {
			@extend .datum;
			 position: relative;
			 z-index: 999;
		 }

		h3 {
			@extend h3;
			padding: 12px 0 0px 0;
		}

		#author_thumbnail {
			position: absolute;
			left: -6.5rem;
			top: calc(-1rem - 10px);
			width: 5rem;
			height: 5rem;
			border-radius: 100%;
			overflow: hidden;
			display: none;

			@media (min-width : $breakpoint-lg) {
				display: flex;
			}


			> div {
				width: 100%;
				height: 100%;

				img {
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
					filter: grayscale(100%);
				}
			}
		}

		.update {
			background: $lichtgrijs;
			padding: 2rem;
			margin-top: 2rem;

			h3 {
				padding: 0;
				margin: 0;
			}
		}
}

#page #intro  {

	margin-top: 100px;

	@media (min-width : $breakpoint-sm) {

		margin-top: 180px;
	}
}


