body.rsvp {

    position: relative;
    padding-top: 180px;

    @media (min-width: $breakpoint-sm) {
        padding-top: 360px;
    }

    .small-container.medium {

        @media (min-width: $breakpoint-md) {
            width: 860px;
        }

        > div {
            @media (min-width: $breakpoint-md) {
                padding: 0 40px;
            }
        }
    }

    .loader-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #intro {
        @media (min-width: $breakpoint-md) {
            margin-top: -6rem;
            padding-top: 120px;
        }
    }

    #wrong-token {
        display: none;
        padding-bottom: 6rem;
    }

    canvas {
        display: block;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    form {
        width: 100%;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;

        margin: 0 1rem 6rem 1rem;

        @media (min-width: $breakpoint-md) {
            margin: 0 0rem 6rem 0rem;
        }

        .spacing {
            height: 1rem;
        }

        .checkbox input[type=checkbox] + label, .radio input[type=radio] + label {
            width: 80vw;
            margin-left: 3rem;
            max-width: 600px;

            @media (min-width: $breakpoint-md) {
                width: 50vw;
            }
        }

        h2, h3 {
            width: 100%;
            margin: 4rem 0 2rem 0;
        }


        .field-wrapper select {
            //position: relative;
            //background-color: #fff;
            //-webkit-appearance: none;
            //-moz-appearance: none;
            //appearance: none;
            //border-radius: 0;
            //width: 100%;
            //border: none;
            //border-bottom: 1px solid #dcdcdc;
            //background-size: 1.8rem 1.8rem;
            //background-image: url(/assets/icons/chevron-up.svg) no-repeat 95% 22px;
        }

        .field-wrapper input:not([type=radio]), .field-wrapper select, .field-wrapper textarea {
            position: relative;
            width: calc(100%);
            padding: .6rem 0rem .4rem;
        }

        input[type='submit'] {

            @media (max-width: $breakpoint-sm) {
                margin-top: 6rem;
            }
        }
    }

    footer {
        position: relative;
    }


    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

    .loader {
        margin: 60px auto;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid $geel;
        border-right: 1.1em solid $geel;
        border-bottom: 1.1em solid $geel;
        border-left: 1.1em solid $donkergeel;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

