#search {

	#page #intro {
		margin-top: 140px;

		@media (min-width: $breakpoint-bax) {
			margin-top: 180px;
		}
	}

	#search-form-container {

		@media (min-width: $breakpoint-sm) {

			padding: 2rem 0 0rem 0;
		}

		@media (min-width: $breakpoint-md) {

			padding: 0;
		}


		#search-form {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: 1rem;

			input {
				border: none;
				border-bottom: 2px solid $zwart;
				width: calc(100% - 100px);
				background: transparent;
				height: 38px;
			}

			input:focus {
				border-color: $rood;
			}

			button {
				background: transparent;

				svg  {
					position: relative;
					height: 1.5rem;
					width: 1.5rem;
					display: block;
					fill: black;
				}

			}

		}
	}

	#result-count-container {
		margin: 0 2rem 1rem 0;
	}

	#archived-content {

		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 1rem;
		margin-bottom: 3rem;

		@media (min-width: $breakpoint-md) {
			flex-direction: row;
			justify-content: space-between;
		}

		#center-column {

			width: 100%;

			@media (min-width: $breakpoint-md) {

				width:580px;
			}

			@media (min-width: $breakpoint-bax) {

				width:720px;
			}
		}

		#right-bar{
			order: 1;
			width: 300px;
			padding: 0;

			@media (min-width: $breakpoint-lg) {

				width: 400px;
			}
		}

		.filters{
			width: 100%;
			padding: 1rem 0;
			margin: 4rem 0 2rem 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			@media (min-width: $breakpoint-sm) {

				margin: 0 0 2rem 0;
			}

			ul {
				margin-bottom: 2rem;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				&.show-all {

					.tag-tab.initially_hidden {
						display: inline;
					}

					.tag-tab.divider {
						display: none;

						&.less {
							display: inline;
						}
					}
				}
			}

			.tag-tab {
				border: 1px solid $lichtgrijs;
				display: inline;
				flex: 1;
				padding: .125rem .5rem;
				margin-bottom: .5rem;

				@media all and (-ms-high-contrast:none) {
					min-height: 1.5rem;
				}

				&.initially_hidden {
					display: none;
				}

				&.divider {
					padding: .125rem 0rem;
					border: none;
					border-bottom: 1px solid black;

					&.less {
						display: none;
					}
				}

				&.clear {
					display: none;
				}
			}

			.checkboxes_list {

				li.checkbox_option {

					margin-bottom : .5rem;
				}

				input[type=checkbox]:checked~label:after {
					left: -.4rem;
				}
			}

			.type {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				margin-bottom: .5rem;
			}

			.row {
				line-height: 2;
				font-size: 1rem;
			}

			.title{
				display: inline-block;
				font-size: 1.125rem;
				line-height: 1.44;
				font-family:'Cabrito Sans W01 Norm Bold';
				font-weight: normal;
				display: none;
			}

			#tag-container{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				.tag-tab{
					cursor: pointer;
					margin: .25rem .5rem .25rem 0;
					border-bottom: 1px solid $zwart;

					@include compactText();
					text-transform: lowercase;

					.count.evensmallerfont {
						font-size: .75rem;
						display: inline-block;
						margin-left: .25rem;
					}
				}
				.tag-tab:hover  {
					background: $lichtgeel;
				}
			}
		}

		.taxonomy {
			margin-bottom: 0.5rem;
			display: block;
		}

		.taxonomy.tags {
			margin-top: 2rem;
		}
	}


}

.snippet {
	opacity: 0;
	transition-delay: 500ms;
	transition: opacity 500ms ease;
}

.snippet.visible {
	opacity: 1;
}

#tag-container.show-all {
	.tag-tab.initially_hidden {
		display: inline-block;
	}

	.tag-tab.divider {
		display: none;
	}
}

#pagination {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 1rem 0 0;
	padding: 0;
	@media (max-width: $breakpoint-sm) {
		justify-content: center;
	}

	li {
		width: 2rem;
		height: 2rem;
		// border: 1px solid black;
		background: $grijs;
		color: black;
		margin-right: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		cursor: pointer;
	}

	li.points {
		border-color: white;
	}

	li.active {
		background: $geel;
	}

	li:hover {
		background: $lichtgeel;
	}
}

