#story, #page {

	@media all and (-ms-high-contrast:none) {
		overflow: hidden;
	}

	#cover_container {

		position: relative; 
		height: auto;
	 	overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		#cover  { position: relative; display: block; width: 100%; height: auto;  }

		@media(min-width : $breakpoint-lg) {
			height: 600px;
		}
	}

	.innerpadding {

		width: calc(100% - 2rem);
		@media (min-width: $breakpoint-md) { width: 46rem; }
		@media (min-width: $breakpoint-lg) { width: 60rem; }
	}

	&.interview #cover_container {

		height: 800px;
	}
}

#page #cover_container {

	height: 8.5rem;

	@media(min-width : $breakpoint-md) {
		height: 420px;
	}
}


