#related-posts {

	padding: 3rem 0 1rem 0;
	width: 100%;

	.large-container, .container {

		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@media (min-width : $breakpoint-sm) {
			flex-direction: row;
			align-items: flex-start;
		}


		@media (min-width : $breakpoint-md) {


			//max-width: 100%;
		}

		h2 { 

			font-size: 1.4rem;
			margin-bottom: 2rem;
			width: 100%;

			@media (min-width : $breakpoint-md) {
				margin-bottom: 1.5rem;
			}
		}

		> div {

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			@media (min-width : $breakpoint-md) {
				flex-direction: row;
			}
		}

		a.block {
			width: 100%;



			@media (min-width : $breakpoint-sm) {
				width: calc(50% - 1rem);
			}

			@media (min-width : $breakpoint-md) {
				width: calc(33% - 1rem);

			}
			@media (min-width : $breakpoint-lg) {
				width: calc((100% / 3) - 1.2rem);
			}
		}
	}
}

//#page #related-posts {
//
//	padding: 0;
//
//	//.large-container, .container  {
//	//	justify-content: flex-start;
//	//	background: #fff;
//	//	position: relative;
//	//
//	//	h2, a  { margin-left: 3rem;}
//	//}
//}
