#dialoog, #comment-section {

	background: white;
	padding: 1rem 0 0 0;


     //h2 {
		//font-family: Cabrito Sans W01 Norm Bold;
	  //  font-size: 1.4rem;
	  //  line-height: 1.4;
	  //  color: $zwart;
		// margin-bottom: 1rem;
     //}

	@media (min-width : $breakpoint-md ) {

		padding: 3rem 0 0 0;
	}


	.container {
		align-items: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		@media (max-width : $breakpoint-md) {
			width: calc(100% - 2rem);
		}
	}

	#respondcontainer {
		position: relative;
	}

	#comment-wrapper {
		margin-top: 1rem;
	}

	.reactie, .comment {

		margin-bottom: 0;
		padding-bottom: 1rem;
		padding-left: 5rem;
		width: calc(100% - 5rem);
		overflow: visible;

		//@media (min-width : $breakpoint-md) {
		//	padding-bottom: 2rem;
		//}

		&:first-of-type {
			 padding-left: 0;
			 width: 100%;

			 .thread-reply {
				 display: block;
			 }
		 }

		&:last-of-type {
			margin-bottom: 1rem;
		}

		.link, .reply-icon-container, .thread-reply { display: none;  }

		.thread-reply:last-of-type {
			display: block;
		}

		.author-thumbnail-container {

			display: block;
		}
	}


	&.faq {


		.thread {
			margin-bottom: 0;
		}

	}
}