#works-overview {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#works-overview-header {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid black;
  //width: calc(100% - 2rem);
  margin: 0 1rem;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $breakpoint-md) {
    //width: calc(100% - 4rem);
    margin: 0 2rem;
  }

  @media (min-width: $breakpoint-bax) {
    //width: 100%;
    margin: 0;
  }

  h2 {
    display: inline;
    margin-bottom: .25rem;

    @media (min-width: $breakpoint-sm) {
      margin-bottom: 0;
    }
  }

  #works-overview-tabs {
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @media (min-width: $breakpoint-sm) {
      justify-content: flex-end;
    }
  }

  .tab {
    border-left : 1px solid black;
    padding: 1rem 1.5rem;
    line-height: 1.5;
    background: $lichtgrijs;

    &.active {
      background: white;
    }

    &:hover {
      color: $paars;
    }
  }
}

#works-overview {

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

#works-overview-wrapper {

  padding: 1rem 0;

  .tab-container {

    display: none;
    flex-direction: column;

    &:first-child {
      display: flex;
    }

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 70vh;
    }

    .works-container {
      height: 100%;
      overflow-y: auto;
      @media (min-width: $breakpoint-sm) {
        flex: 2;
        margin-right: 1rem;
      }
      @media (min-width: $breakpoint-md) {
        flex: 1;
      }

      .works-container-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        //overflow-y: auto;
      }
    }

    #map-container {
      flex: 2;

    }
  }
}

#datavisplanning {
  margin: 3rem 0;
  min-height: 360px;
  width: 100%;
}
