.checkbox  {

  display: inline-block;
  position: relative;
  width: 1.9rem;
  height: 1.9rem;
  border: 1px solid $grijs;
  margin: 0 .5rem 0 0;
  cursor: pointer;
}

.radio {
  position: relative;
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  margin: 0 .5rem 0 0;
  cursor: pointer;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {

  top: 3px;
  margin-left: 8px;
  opacity: 0;
  position: relative;
  cursor: pointer;
}

.checkbox input[type=checkbox]:checked {

  opacity: 0;
  cursor: pointer;
}

.checkbox input[type=checkbox] + label {

  position: absolute;
  top: 3px;
  left: 7px;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ label:after {
  display: inline-block;
  content: " ";
  background-size: 1.8rem 1.8rem;
  height: 1.8rem;
  width: 1.8rem;

  position: absolute;
  top: 0rem;
  right: auto;
  left: -3.2rem;
  z-index: 99;
  background-image: url('/assets/icons/check.svg');
}


.radio input[type=radio] {

  position: absolute;
  z-index:2;
  width: 100%;
  height: 100%;
}

.radio input[type=radio] + label {


  display: inline-block;
}

input[type="radio"]:checked ~ label:after {
  display: inline-block;
  content: " ";
  background-size: 1.8rem 1.8rem;
  height: 1.8rem;
  width: 1.8rem;

  position: absolute;
  top: 0.2rem;
  right: auto;
  left: 0.2rem;
  z-index: 99;
  background-image: url('/assets/icons/check.svg');
}
