.conversation { 

	position: relative;
	background: #fff;
	overflow: hidden;


	.small-block-header {

		background: $wit;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		
		h3 { 
/*
			width: calc(100% - 3em);*/
			font-size: 1.06;
			line-height: 1.4;
		}

		.comment_count {

			position: relative;
			width: 2.5rem;
			height: 2.5rem;
			color: #000;
			font-family: 'Cabrito Semi W01 Norm Bold'; /*'Ayita W01 SemiBold';*/ /*Cabrito Semi W01 Norm Bold*/
			font-size: 1rem; 
			line-height: 1.45em; 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.dialoog-icon {

				width: 2.5rem;
			    height: 2.5rem;
			    stroke: $zwart;
			    stroke-width: 2px; 
			    display: block;
			    fill: transparent;
				align-self: center;
			}

			span.count {
				position: absolute;
				top: .45rem;
				left: 0;
				width: 100%;
				text-align: center;
    			font-size: 0.9rem;

			}


		}

		.conversation-sluit-knop, .conversation-open-knop {

			display: none; 
			position: absolute;
		    top: 2rem;
		    right: 1rem;

		    svg { 

		    	width: 2rem;
		    	height: 2rem;
		    	stroke-width: 2px;
		    }
		}
	}

	.small-block-header:hover {

		.shape { background: $lichtgeel; } 

	}

	.small-block-header.active, .small-block-header.active:hover {

		background: $lichtgeel;
		.shape { background: #fff; } 
	}

	.small-block-header:hover .conversation-open-knop { display: block; }
	.small-block-header.active:hover .conversation-open-knop { display: none; }
	.small-block-header.active .conversation-sluit-knop  { display: block; }

	.comments_wrapper {

		display: none;
		flex-direction: column;
		height: calc(100% - 5rem);
		overflow-y: auto;

		.reply-icon-container, .link { 

			display: none;
		}
	}
}

@media (max-width: 1024px) {


}