img {
	vertical-align: middle;
}
.img-container {

	position: relative;
	//display: flex;
	//flex-direction: column;
	//justify-content: center;
	//align-items: center;
	width: 100%;
	overflow: hidden;
	//@media all and (-ms-high-contrast: none) {
	//	min-height: 100%;
	//}
	img {
		position: relative;
		display: block;
		height: auto;
		width: 100%;
		vertical-align: middle; // to avoid ghost bottom  margin
		webkit-filter: blur(5px);
		filter: blur(5px);
		transition: filter 1000ms, -webkit-filter 1000ms;
	}
	img.lazyloaded {
		//opacity: 1;
		-webkit-filter: blur(0);
		filter: blur(0);
	}

	/* Prevents img without src to appear */
	img:not([src]) {
		visibility: hidden;
	}
}

.img-container.object-fit {
	height: 100%;
	background: #000;

	img {
		object-fit: cover;
		min-width: 100%;
		min-height: 100%;
		object-position: 50% 0;
		//width: auto;
		//height:auto;
	}
}

.img-container.grey {
	background: $lichtgrijs;
}
