table {

	/*border: 1px solid $blauw;*/
	width: 100%;
	margin: 2em 0 .5em 0;

	td { padding: .7em 1em;  } 
/*
	td:first-of-type { padding: .7em 0;  } */

	thead { 

		background: $lichtblauw; text-transform: lowercase; font-family:'Cabrito Sans W01 Norm Bold'; 
		td, td:first-of-type { padding: 1.5em 1em;  } 
	}

	tbody {  

		tr {  }

		td { border-bottom: 1px solid $lichtblauw; text-transform: lowercase;  }

	}

}