#tabs {

	justify-content: flex-start;

	.tab { 

		position: relative;
		display: inline-block; 
		padding: .5em 1em .5em 1em;
		border-left: none;
		background: $blauw;
		color: #fff;
		margin: 0 ;
		font-family: 'Cabrito Sans W01 Norm Bold';



		svg  { 

			position: absolute;
			left: 1em;
			top: 1.1em;
			width: 1.5em;
			height: 1.5em;

		}

	}

	.tab:first-of-type {

/*		border: 1px solid $donkerblauw; */ 
	}

	.tab.active, .tab.active:first-of-type {

		background: $lichtoranje;
/*		border-color: $oranje;*/
	}

}