<!DOCTYPE html>
<html lang="nl">
	<head>
		<title>Amstelveenlijn - {{body.title}}</title>
		{{> head }}
	</head>
	<body>

	{{> header }}
		<div id="story">

            <div id="cover_container">
                {{> responsive-image format='camera' size='full' title=body.main_image.alttext external_id=body.main_image.external_id filename=body.main_image.filename }}
            </div>

            <div id="intro" class="large-container">

                {{> cutout-intro }}

                <div class="small-container">
                    <h1>{{{body.title}}}</h1>
                    <div class="authors">

                        {{body.author.first_name}} {{body.author.last_name}} | <span class="datum">{{formatDate body.date 'long'}}</span>

                        <div id="author_thumbnail">
                            {{> responsive-image format='sqaure' size='fourth' title=body.author.first_nam external_id=body.author.thumbnail.external_id filename=body.author.thumbnail.filename }}
                        </div>

                    </div>

                    {{#each body.updates as |update| }}

                        <div class="update">
                            <span class="datum">{{formatDate update.date 'long'}}</span>
                            <h3>{{{update.title}}}</h3>
                            {{{update.content}}}
                        </div>

                    {{/each}}

                    <div class="text">{{{body.content}}}</div>
                </div>
            </div>

            {{>sections sections=body.sections }}


		</div>

    <div class="container">

        {{> blog-rating }}

    </div>

		<section id="dialoog">

			<div class="container">

				<div class="col-67">

					<h2>Heeft u vragen? Stel ze hier.</h2>

                    <div id="respondcontainer">

                        {{>respond-form }}

                    </div>

					<div id="comments-wrapper">

                            {{#each thread as |reactie|}}
                                {{> reactie reactie=reactie}}
                            {{/each}}

                        {{#each body.interaction.nested_comments as |thread|}}
                            <div class='thread' data-thread-id='{{thread.[0].id}}'>
                                {{#each thread as |comment|}}
                                    {{> comment threadID=thread.[0].id}}
                                {{/each}}
                                <a class='thread-reply' onclick='respond.openThread({{thread.[0].id}})'>
                                    reageer op dit gesprek
                                    <svg class="respond-pencil" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                        <path fill="#000000" d="M19.104 0.896c-0.562-0.562-1.309-0.871-2.104-0.871s-1.542 0.309-2.104 0.871l-12.75 12.75c-0.052 0.052-0.091 0.114-0.116 0.183l-2 5.5c-0.066 0.183-0.021 0.387 0.116 0.524 0.095 0.095 0.223 0.146 0.354 0.146 0.057 0 0.115-0.010 0.171-0.030l5.5-2c0.069-0.025 0.131-0.065 0.183-0.116l12.75-12.75c0.562-0.562 0.871-1.309 0.871-2.104s-0.309-1.542-0.871-2.104zM5.725 17.068l-4.389 1.596 1.596-4.389 11.068-11.068 2.793 2.793-11.068 11.068zM18.396 4.396l-0.896 0.896-2.793-2.793 0.896-0.896c0.373-0.373 0.869-0.578 1.396-0.578s1.023 0.205 1.396 0.578c0.373 0.373 0.578 0.869 0.578 1.396s-0.205 1.023-0.578 1.396z"></path>
                                    </svg>
                                </a>
                            </div>
                        {{/each}}
					</div>

				</div>
				<div id="comments-sidebar" class="col-33">

                    {{> social-buttons }}

				</div>
			</div>
		</section>

		<section id="related-posts">

			<div class="container">
				<h2>gerelateerde berichten</h2>

				{{#each body.related_posts as |post|}}
					{{>block item=post body=../body}}
				{{/each}}
			</div>

		</section>

		{{> footer }}

	</body>

    {{> footer-scripts }}

</html>
