
<div class="search-snippet {{body.type}}">
   <div class="image-container">
           <a href="{{body.url}}">
                {{> responsive-image format='square' size='fourth' title=body.main_image.overlay_text external_id=body.main_image.external_id filename=body.main_image.filename }}
           </a>
   </div>
   <div class="card-text">

       <span class="datetime evensmallerfont">

           {{#ifIn body.type "['post']" }}
               {{formatDate ../body.date 'DD MMMM YYYY'}}
           {{/ifIn}}

       </span>
       <a href="{{body.url}}">

                <h3>{{{body.title}}}</h3>
       <div class="search-excerpt">{{{or body.excerpt (searchExcerpt body.content)}}}</div>
       </a>
   </div>
</div>
