<!DOCTYPE html>
<html>
<head>
    <title>Amstelveenlijn - {{body.title}}</title>
    {{> head }}
</head>

<body id="werkzaamheden" class="page amstelveenlijn">

{{> header }}



<main id="page">

    {{> grid }}

	<div id="intro" class="large-container">

        <svg id="cutoutintro" width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
            <defs>
                <clipPath id="intro-clip-path" clipPathUnits="objectBoundingBox">
                    <polygon points=".5 0, 1 .085, 1 1, 0 1, 0 0"></polygon>
                </clipPath>
            </defs>
            <rect x="0" y="0" width="1" height="1" clip-path="url('{{body.url}}#intro-clip-path')"></rect>
        </svg>


        <div class="container">

            <h1>{{body.title}}</h1>
            <div class="authors">
                <span class="datum">Laatst bijgewerkt op {{formatDate body.modified 'long'}}</span>
            </div>

            <div class="text">{{{body.content}}}</div>
        </div>
	</div>


		{{> sections sections=body.sections}}

        {{> map body=body }}

</main>
{{> footer }}

</body>

{{> footer-scripts }}

</html>
